[2015-04-06 13:50] volaya opened #1 "Implement mechanism for saving/reusing app definitions"

[2015-04-06 13:52] volaya opened #2 "OL attribute table control"

[2015-04-06 13:52] volaya opened #3 "OL Chart tool control"

[2015-04-06 13:53] volaya opened #4 "Add option for specifying interactions"
The user should be able to select how OL interactions will be set up in the web app.

[2015-04-06 13:53] volaya opened #5 "OL save as image control"

[2015-04-06 13:54] volaya opened #6 "OL download layer control"
It should also offer an option to download only selected features

[2015-04-06 13:55] volaya opened #7 "More checks and error handling"
Make sure that there will be no issues with PostGIS and GeoServer before importing/uploading data

[2015-04-06 13:56] volaya opened #8 "WFS connections not working"

[2015-04-06 13:56] volaya opened #9 "Local raster layers not working"

[2015-04-06 14:28] volaya opened #10 "More options for handling libraries and dependencies"
If possible, it should use a reduced version of OL3 when not all elements are used. Also, it should give the option to use a CDN instead of the lib file locally

[2015-04-06 14:32] volaya opened #11 "Add option to use custom base layers"
It should support all common QGIS layers, and also certain layers that are not directly supported by QGIS, such as ArcGis REST tile services (http://openlayers.org/en/master/examples/xyz-esri.html?q=esri)

[2015-04-06 14:42] volaya opened #12 "OL measure length/area control"

[2015-04-16 05:56] #12 closed, assigned to nobody

[2015-04-16 05:57] #5 closed, assigned to nobody

[2015-04-16 05:58] #1 closed, assigned to nobody

[2015-04-16 05:59] #4 closed, assigned to nobody

[2015-04-16 06:13] volaya opened #13 "add check for tools that use layers"
To warn the user in case those layers are not being added to the web app

[2015-04-16 06:24] volaya opened #14 "allow editing of bookmarks description"

[2015-04-16 13:36] #14 closed, assigned to nobody

[2015-04-16 19:16] bosth opened #15 "Disable GeoServer/Postgres connection options"
The GeoServer and Postgres connection options should be disabled when no layers need them. Currently, you must have a valid Postgres connection even if it will not be used by the deploy.

[2015-04-19 13:01] volaya opened #16 "wrong layer order when there is a layer group"

[2015-04-19 14:00] volaya opened #17 "Attributes table not correctly working when using clusters"

[2015-04-20 07:34] volaya opened #18 "implement cluster when layer origin is wfs"

[2015-04-20 07:40] #13 closed, assigned to nobody

[2015-04-20 07:41] #2 closed, assigned to nobody

[2015-04-20 07:41] #3 closed, assigned to nobody

[2015-04-20 07:41] #6 closed, assigned to nobody

[2015-04-22 18:27] volaya opened #19 "check that layers used for charts allow selection"

[2015-04-22 18:30] volaya opened #20 "differentiate between int and float settings"

[2015-04-22 21:06] bosth opened #21 ""No base map" option"
Use might want no underlying base map.

[2015-04-22 22:02] bosth opened #22 "Error when restoring previous app config"
[code]

Selecting No to restore config works fine.

[2015-04-22 22:05] bosth opened #23 "Error when previewing app"
[code]

[2015-04-22 22:07] bosth opened #24 "Deselecting layer doesn't work"
If you uncheck a layer but leave "Visible on startup" checked, it is still added to the application. "Visible on startup" should also be disabled when the layer is unchecked.

[2015-04-22 22:09] bosth opened #25 "Layers in groups are always added to layer picker"
If a layer was in a QGIS group, it is always added to the app's layer picker even if it was not selected to be added to the app.

[2015-04-22 22:18] bosth opened #26 "Rasters always copied to layers dir"
Rasters always appear to be copied to the `layers` directory even if they are not in the app.

[2015-04-22 22:30] bosth opened #27 "Chart doesn't work with clusters unless "Select by rectangle" enabled"
Without "Select by rectangle" the chart widget doesn't work. You can select a cluster of features but they do not appear in the chart.

[2015-04-23 05:58] #23 closed, assigned to nobody

[2015-04-23 05:58] #25 closed, assigned to nobody

[2015-04-23 13:06] #26 closed, assigned to nobody

[2015-04-23 13:10] bosth opened #28 "Layer named "layers" will cause app to fail"
Because of the way data is added to the `layers` dir, if the user has a layer called `layers` the app won't work.

[2015-04-23 13:17] bosth opened #29 "Selected layers in the app creator should be same as those selected in QGIS"
I have a subset of layers selected in QGIS but when I create the app, all the layers are selected. It would be nicer if the app creater had the same subset selected.

[2015-04-23 13:53] #22 closed, assigned to nobody

[2015-04-23 13:59] #17 closed, assigned to nobody

[2015-04-23 14:21] #28 closed, assigned to nobody

[2015-04-23 15:27] #29 closed, assigned to nobody

[2015-04-24 12:03] volaya opened #30 "allow layer reordering"

[2015-04-24 12:04] #11 closed, assigned to nobody

[2015-04-24 14:41] #30 closed, assigned to nobody

[2015-04-24 15:12] #24 closed, assigned to nobody

[2015-04-27 06:43] #9 closed, assigned to nobody

[2015-04-27 06:43] #19 closed, assigned to nobody

[2015-04-27 06:43] #20 closed, assigned to nobody

[2015-04-27 13:14] #16 closed, assigned to nobody

[2015-04-28 11:46] #8 closed, assigned to nobody

[2015-04-28 12:10] #15 closed, assigned to nobody

[2015-04-29 17:21] volaya opened #31 "wrong behaviour of attributes tables when there are multiple selectable layers"

[2015-04-30 06:46] #31 closed, assigned to nobody

[2015-04-30 08:52] volaya opened #32 "only set one base layer as visible"

[2015-05-05 05:34] #32 closed, assigned to nobody

[2015-05-06 15:22] #27 closed, assigned to nobody

[2015-05-12 20:43] amillerBoundless opened #33 "Multiple Fields for Popups"
Update the popup creation dialogue to allow a user to select multiple fields to be displayed.

[2015-05-12 20:45] amillerBoundless opened #34 "Allow use of Alias for popup field names"
update the popup dialogue to allow users to specify a field alias.

[2015-05-15 18:49] amillerBoundless opened #35 "Bakeries doc has bad link full screen image"
Bakeries doc has bad link full screen image

img/descriptiontab.png should be /img/description.png

[2015-05-15 19:03] #35 closed, assigned to amillerBoundless

[2015-05-19 09:02] bartvde opened #36 "Overview map default location overlaps with scalebar"
![screen shot 2015-05-19 at 11 01 47](https://cloud.githubusercontent.com/assets/319678/7699201/7f28496e-fe16-11e4-87fe-21379fb0c0d1.png)
![screen shot 2015-05-19 at 11 01 41](https://cloud.githubusercontent.com/assets/319678/7699202/7f2890e0-fe16-11e4-8781-2651815a3437.png)

[2015-05-19 14:39] bartvde opened #37 "checkboxes not visible in select value fields combo of chart tool"
This is on OSX

![screen shot 2015-05-19 at 16 38 23](https://cloud.githubusercontent.com/assets/319678/7705610/90264278-fe45-11e4-9d64-6dd0d1cd993c.png)

[2015-06-04 08:41] volaya opened #38 "Do not ask for file when saving an existing web app project"

[2015-06-04 08:47] volaya opened #39 "Do not copy unexistent cesium folder"

[2015-06-07 17:16] #34 closed, assigned to nobody

[2015-06-07 17:16] #33 closed, assigned to nobody

[2015-06-08 07:33] #39 closed, assigned to nobody

[2015-06-08 09:48] #38 closed, assigned to nobody

[2015-06-11 05:44] #21 closed, assigned to nobody

[2015-06-11 08:09] #18 closed, assigned to nobody

[2015-06-11 08:14] volaya opened #40 "Add support for advanced symbology elements on the client side"

[2015-06-12 06:49] #37 closed, assigned to nobody

[2015-06-16 06:25] volaya opened #41 "Allow adding predefined queries to query widget"

[2015-06-17 13:00] volaya opened #42 "Write help file to be shown when clicking on help widget"

[2015-06-18 17:00] amillerBoundless opened #43 "About Panel dialogue loses content edits if the user clicks edit again before choosing ok on the parent edit widget parameters dialogue"
Steps to reproduce:
1. right click to configure the About Panel.
2. edit content, make changes, click ok
3. edit content again, defaults are restored and changes are lost.

User edits should remain unless cancel is clicked.

[2015-06-19 14:04] amillerBoundless opened #44 "Symbology fill color is not being recognized"
When publishing a layer with an outline and transparent fill the result in the app is a black fill.
![screen shot 2015-06-19 at 8 02 38 am](https://cloud.githubusercontent.com/assets/10965706/8254960/c39dab88-1659-11e5-905c-4a205cb0a4c5.png)

Web app on the left QGIS project on the right of the image.

[2015-06-29 05:57] #44 closed, assigned to nobody

[2015-06-29 15:37] #43 closed, assigned to nobody

[2015-06-29 22:19] amillerBoundless opened #45 "Info Popup shows field name for null value in attributes"
A null value in a layer attribute table is presented in the Info Popup as the attribute variable name rather than null. I suggest populating the value with "NULL" or leaving the value unpopulated(blank)
![screen shot 2015-06-29 at 4 17 03 pm](https://cloud.githubusercontent.com/assets/10965706/8419876/96368100-1e7a-11e5-8583-4e99876a4111.png)
![screen shot 2015-06-29 at 4 13 49 pm](https://cloud.g

[2015-06-30 05:28] #45 closed, assigned to nobody

[2015-07-01 05:16] volaya opened #46 "Add printing component"

[2015-07-01 09:31] volaya opened #47 "Enlarge width of main dialog"

[2015-07-01 09:32] volaya opened #48 "Hyerlinks in selected row in attributes table do not work."
Row is unselected instead

[2015-07-02 04:58] volaya opened #49 "export as image control not working correctly"

[2015-07-02 04:59] volaya opened #50 "add timed layer refresh as option"

[2015-07-02 07:29] #47 closed, assigned to nobody

[2015-07-02 08:38] volaya opened #51 "fix export to png functionality"
I tried to use the suggestion in here:

https://github.com/openlayers/ol3/issues/2968

but it get

Uncaught SecurityError: Failed to execute 'toDataURL' on 'HTMLCanvasElement': Tainted canvases may not be exported.

[2015-07-03 13:44] #49 closed, assigned to nobody

[2015-07-03 14:27] volaya opened #52 "Port SLD improvements from OpenGeo Suite plugin"

[2015-07-15 08:23] #52 closed, assigned to nobody

[2015-07-20 07:20] #7 closed, assigned to nobody

[2015-07-22 05:41] volaya opened #53 "Add support for remote layers with authentication"

[2015-07-22 16:17] amillerBoundless opened #54 "dropdown arrows are missing for Layer time info"
In the release I pulled on July 22nd the arrows for the Layer time info are missing in the QGIS Layers tab
![screen shot 2015-07-22 at 10 16 13 am](https://cloud.githubusercontent.com/assets/10965706/8830703/e2f68dfe-305a-11e5-8e19-adc1bdf4f933.png)

[2015-07-22 16:20] amillerBoundless opened #55 "Allow user to type in date range into Layer info time"
Enable user to type, copy, and paste into Layer info time dropdown. This will accelerate the process of entering the time info.

[2015-08-11 06:05] #54 closed, assigned to nobody

[2015-08-11 06:07] #55 closed, assigned to nobody

[2015-08-13 07:37] volaya opened #56 "Add editing component"
The web app should have a component to allow editing features.

To start with, here are some ideas for a simplified version:
- Add a "New layer" tool to allow creating a new empty layer with a specific schema. The user should be able to add features to this layer later . At least a few basic options should be available for styling new layers
- Add tools to add polygons/lines/points. These tools wo

[2015-08-20 23:42] amillerBoundless opened #57 "overview map drop down is empty"
I pulled the version from the google drive location at 9AM, US Mountain time.

When trying to configure the basemap for the overview map I am unable to use the drop down, it appears to be empty.

<img width="854" alt="screen shot 2015-08-20 at 5 19 58 pm" src="https://cloud.githubusercontent.com/assets/10965706/9398283/a98e3d68-4762-11e5-979b-26ba9fc9dc64.png">

[2015-08-21 15:06] amillerBoundless opened #58 "Use of bookmark control causes failure on preview/app creation"
Using the bookmark control causes the following error.

2015-08-21T08:56:04 2   Traceback (most recent call last):
              File "/Users/amiller/.qgis2/python/plugins/webappbuilder/maindialog.py", line 381, in updatePreview
                path = self._run(lambda: writeWebApp(appdef, utils.tempFolder(), True, self.progress))
              File "/Users/amiller/.qgis2/python/plugins/webappbuild

[2015-08-21 15:13] amillerBoundless opened #59 "Raster null value represented as black, should be transparent."
<img width="1387" alt="screen shot 2015-08-21 at 9 08 51 am" src="https://cloud.githubusercontent.com/assets/10965706/9411637/59c26a52-47e4-11e5-9af8-b29df0ad38f1.png">

[2015-08-24 20:04] amillerBoundless opened #60 "Unchecking Group base layers causes preview failure"
![screen shot 2015-08-24 at 2 03 35 pm](https://cloud.githubusercontent.com/assets/10965706/9450960/12fcfaa6-4a69-11e5-9b5d-13247a655592.png)

[2015-08-24 20:05] amillerBoundless opened #61 "Unchecking Group base layers causes preview failure"
![screen shot 2015-08-24 at 2 03 35 pm](https://cloud.githubusercontent.com/assets/10965706/9450960/12fcfaa6-4a69-11e5-9b5d-13247a655592.png)

[2015-08-31 12:33] bartvde opened #62 "geolocation is broken"
this_.marker.bindTo is not a function

[2015-09-01 14:54] bartvde opened #63 "export to image seems broken"
I get this in Chrome: canvas.toBlob is not a function

[2015-09-01 14:55] bartvde opened #64 "cesium widget seems broken"
[code]

[2015-09-02 07:18] bartvde opened #65 "Print widget should not show up if there are no items"
It seems the analysis widget takes this into account and does not show up when not configured, but charts and print show up with an empty menu list.

[2015-09-02 08:15] bartvde opened #66 "home button not visible"
either the css is not picked up or it's not correct

[2015-09-02 14:14] #60 closed, assigned to nobody

[2015-09-02 14:14] #61 closed, assigned to nobody

[2015-09-02 14:14] #65 closed, assigned to nobody

[2015-09-02 15:35] bartvde opened #67 "upload of GPX seems to fail in AddLayer"
This is because ol.format.KML readProjection will give back the projection, but of course KML format cannot parse those features.

[2015-09-03 07:36] #66 closed, assigned to nobody

[2015-09-07 05:20] #62 closed, assigned to nobody

[2015-09-07 05:20] #63 closed, assigned to nobody

[2015-09-07 05:21] #57 closed, assigned to nobody

[2015-09-07 05:21] #58 closed, assigned to nobody

[2015-09-07 07:42] #67 closed, assigned to nobody

[2015-09-07 07:43] #40 closed, assigned to nobody

[2015-09-07 14:16] volaya opened #68 "Prepare code base for Enterprise version"
This is a list of steps to prepare the code of the repository for having two versions of the WAB: a free one which will include only a set of components and will be based on already-compiled js files, and an enterprise one with the full set of components and based on node.js.
- [ ] Discuss list of components to include in free version.
- [ ] Setup Boundless QGIS build with built-in Node.js install

[2015-09-08 18:36] volaya opened #69 "Move crs transformations for bookmarks to Python code"

[2015-09-14 14:38] bartvde opened #70 "Edit widget shows warning multiple times"
![screen shot 2015-09-14 at 16 38 21](https://cloud.githubusercontent.com/assets/319678/9852528/11e97b34-5aff-11e5-9869-37bd24c7174a.png)

[2015-09-15 15:04] volaya opened #71 "remove description text for bookmark after Remove all"

[2015-09-21 03:56] #69 closed, assigned to nobody

[2015-09-22 05:13] #42 closed, assigned to nobody

[2015-09-22 05:13] #10 closed, assigned to nobody

[2015-09-22 05:30] #70 closed, assigned to nobody

[2015-09-22 05:30] #71 closed, assigned to nobody

[2015-09-22 18:23] bartvde opened #72 "legendData is keyed by layer title"
can we key it by layer id instead?

[2015-09-23 07:13] #72 closed, assigned to nobody

[2015-10-06 07:04] volaya opened #73 "make X button fixed in popups"

[2015-10-06 07:04] volaya opened #74 "Add tooltip to home button"

[2015-10-06 07:05] volaya opened #75 "Improve format of default popup content"

[2015-10-06 07:11] volaya opened #76 "Allow user to select size of legend elements"

[2015-10-06 07:27] volaya opened #77 "correctly position popup when close to border"

[2015-10-06 07:33] volaya opened #78 "replace "close" link with X in attr table and charts panel"

[2015-10-06 07:34] volaya opened #79 "Improve behaviour of "zoom to selected" in attr table"

[2015-10-06 07:37] volaya opened #80 "Disable "remove measurements" menu if no measurements exist"

[2015-10-06 09:41] #73 closed, assigned to nobody

[2015-10-06 09:41] #74 closed, assigned to nobody

[2015-10-06 09:41] #77 closed, assigned to nobody

[2015-10-06 10:12] #75 closed, assigned to nobody

[2015-10-06 10:47] #78 closed, assigned to nobody

[2015-10-06 11:04] #79 closed, assigned to nobody

[2015-10-06 11:29] #80 closed, assigned to nobody

[2015-10-12 05:47] #76 closed, assigned to nobody

[2015-10-16 05:59] #64 closed, assigned to nobody

[2015-10-16 06:00] #56 closed, assigned to nobody

[2015-10-16 06:01] #50 closed, assigned to nobody

[2015-10-28 11:47] luipir opened #81 "No module named resources_rc"
Couldn't load plugin webappbuilder due to an error when calling its classFactory() method

Traceback (most recent call last):
  File "/home/ginetto/PROGRAMMING/QGIS/QGIS-2.8/build/output/python/qgis/utils.py", line 219, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "/home/ginetto/.qgis2/python/plugins/webappbuilder/**init**.py", line 9, in classFactory
    from webap

[2015-10-28 11:51] #81 closed, assigned to luipir

[2015-10-28 11:56] luipir opened #82 "AttributeError: 'NoneType' object has no attribute 'deepcopy'"
Happn during loading the plugin the first time

---

Couldn't load plugin webappbuilder due to an error when calling its classFactory() method

Traceback (most recent call last):
  File "/home/ginetto/PROGRAMMING/QGIS/QGIS-2.8/build/output/python/qgis/utils.py", line 219, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "/home/ginetto/.qgis2/python/plugins/webappbuilder

[2015-10-29 10:24] luipir opened #83 "paver setup error due to: a747d1cbf9f44d627b3b9ab788e972be8a1acd60"
/qgis-app-builder$ paver setup
Traceback (most recent call last):
  File "/usr/bin/paver", line 5, in <module>
    main()
  File "/usr/lib/python2.7/dist-packages/paver/tasks.py", line 883, in main
    _launch_pavement(args)
  File "/usr/lib/python2.7/dist-packages/paver/tasks.py", line 851, in _launch_pavement
    exec(compile(source, environment.pavement_file, 'exec'), mod.__dict__)
  File "pave

[2015-10-29 10:30] #83 closed, assigned to volaya

[2015-10-29 10:32] luipir opened #84 "paver setup error trying to use node"
copy2 ./webappbuilder/_websdk/dist/js/full.js ./webappbuilder/websdk_full/full.js
npm i
/bin/sh: 1: npm: not found
## Captured Task Output:

---> pavement.setup
makedirs webappbuilder/ext-libs
easy_install -a -d /mnt/data/PROGRAMMING/AUTONOMO/Boundless/qgis_plugins/qgis-app-builder/webappbuilder/ext-libs jsmin
easy_install -a -d /mnt/data/PROGRAMMING/AUTONOMO/Boundless/qgis_plugins/qgis-app-builde

[2015-10-29 11:52] luipir opened #85 "paver setup error USING node"
under ubuntu 15.10 and clean clone of the repo

---

copy2 ./webappbuilder/websdk/dist/js/full.js ./webappbuilder/websdk_full/full.js
npm i

sh: 1: node: not found
npm WARN This failure might be due to the use of legacy binary "node"
npm WARN For further explanations, please read
/usr/share/doc/nodejs/README.Debian

npm ERR! phantomjs@1.9.18 install: `node install.js`
npm ERR! Exit status 127
npm

[2015-10-29 11:54] #84 closed, assigned to volaya

[2015-10-29 11:55] #85 closed, assigned to volaya

[2015-10-29 12:25] luipir opened #86 "App does not remember last path locations"
Would be saved in plugin settings the last location path for

1) app definition file
2) folder to store app

just to facilitate app recreation

[2015-10-29 12:28] luipir opened #87 "Move plugin under Web menu"
Probably plugin would be available under Web menu of the QGIS interface instead of Plugins

[2015-10-29 12:30] luipir opened #88 "Plugin does not have a Action button and Icon"
There is no button to activate plugin other than doing it using Plugin menu

would facilitate app creation having a QActiona and an clear icon

[2015-10-29 14:03] luipir opened #89 "webapp creation would ask to overwrite previous one"
Wold be fine to have a control to avoid overwriting a previous generated webapp

[2015-10-29 14:09] luipir opened #90 "Raster scale or projection not the same of the vector layers"
As you can see, seems that background raster use a different scale respect vectors.

I don't know if it is a OL problem or from the python side

![screenshot from 2015-10-29 15-05-54](https://cloud.githubusercontent.com/assets/3344634/10820672/c195138c-7e4e-11e5-9eaf-07de57c6f38e.png)

[2015-10-30 07:17] #86 closed, assigned to nobody

[2015-10-30 07:17] #89 closed, assigned to nobody

[2015-10-30 07:22] #87 closed, assigned to nobody

[2015-10-30 10:13] luipir opened #91 "Create uniform default answer in dialogs"
starting the plugin is asked to

1) reload the project (default yes)

generating the the web app is asked to

2) overwrite webapp (default no)

would be better to change the messages and give a uniform yes or no button... this could failitate users that generate many times the webapp (exploration) finding the right visualization.

answer 1 could remain unchanged... default button allow following w

[2015-10-30 10:47] #91 closed, assigned to nobody

[2015-10-30 10:57] luipir opened #92 "JS error visualizing app"
[code]

webapp and config are attached below... renamend pdf (to overpass format limits) => donwload and rename .zip and uncompress

[webappAndConfig.pdf](https://github.com/boundlessgeo/qgis-app-builder/files/24096/webappAndConfig.pdf)

[2015-10-30 11:23] luipir opened #93 "Attribute Table control: Not possibile to select leayers"
Generating the app with the Attribute Table control generate a table for a layer only (I don't know what layer) and the list of layers is empty, so it's not possible to select different attribute tables or understand at what layer the current table is referred.

as usual webapp and webapp conf is below as zip file renamed as pdf

[webappAndControl.pdf](https://github.com/boundlessgeo/qgis-app-buil

[2015-10-30 11:52] luipir opened #94 "Attribution control need to be configured to add layer attributions"
would be nice the ability to add Attribution not only for base map but also for layers.

could be created adding configuration to current Attribution control or adding other control

[2015-10-30 13:50] luipir opened #95 "Chart tool configuration: can't select value fields using mouse"
as in the image following image:
![screenshot from 2015-10-30 14-48-44](https://cloud.githubusercontent.com/assets/3344634/10847257/72f00d6e-7f15-11e5-8275-14ca0b1237b6.png)

the value fields can't be selected using dropdown menu mouse interacio... only using keyboard arrow

[2015-10-30 13:56] luipir opened #96 "Chart tool config: Can't add"
It's not possibile to select values => add doe not allow adding

![screenshot from 2015-10-30 14-52-46](https://cloud.githubusercontent.com/assets/3344634/10847353/1c5baa16-7f16-11e5-907e-24ed3aa8f5fc.png)

NOTE: This happen for "Display mode" A) For Feature B) for category... but seems to work with C) Count by category

[2015-11-05 08:46] volaya opened #97 "remove trailing commas from generated code"

[2015-11-10 15:52] amillerBoundless opened #98 "Consider changing the name of the "deploy" tab to be more descriptive"
Multiple users have asked
1. Why the deploy tab is greyed out?
2. How to use this tab does deploy the app

I recommend changing the tab title to "Deploy Data" and adding a message or tool tip to let the user know how to enable to tab(ie select your data deployment method in the layers tab).

[2015-11-18 17:36] amillerBoundless opened #99 "add HTML validator for popup"
Add the ability to validate HTML in the popup while working with it.

[2015-11-18 17:38] amillerBoundless opened #100 "Re-enable the preview capability for an app"
Previewing an app while working on it makes the process of app creation and incremental change much easier. Please return the preview capability to the WAB

[2015-11-23 07:39] #98 closed, assigned to nobody

[2015-11-23 07:40] #93 closed, assigned to nobody

[2015-11-23 07:41] volaya opened #101 "update to use label measures in pixels from QGIS 2.12"

[2015-11-24 16:59] alexbruy opened #102 "Import error on QGIS startup"
After installing and activating latest plugin version in QGIS it works fine. But when QGIS closed and started again, error occurs

[code]

Tested under Linux with QGIS 2.12 and self-compiled master. Not sure yet if this is a bug or local issue

[2015-11-30 13:00] #101 closed, assigned to nobody

[2015-11-30 13:15] #97 closed, assigned to nobody

[2015-11-30 13:15] volaya opened #103 "reconsider 3D component if not working correctly"

[2015-12-02 09:27] volaya opened #104 "Add WFS-T edit component"
Wait until it is decided if the SDK component should be independent or should be merged with the edit component (which is already supported in WAB)

[2015-12-04 11:08] volaya opened #105 "Add progress bar component"

[2015-12-14 07:49] #100 closed, assigned to nobody

[2015-12-22 07:06] #92 closed, assigned to nobody

[2015-12-22 08:06] #103 closed, assigned to nobody

[2015-12-22 11:02] #48 closed, assigned to nobody

[2015-12-23 10:50] #102 closed, assigned to nobody

[2015-12-23 16:56] bartvde opened #106 "Add MGRS as coordinate format"
https://github.com/proj4js/mgrs

[code]

[2016-01-07 10:51] volaya opened #107 "remove trailing semicolons from for loops in ranges definition"
also optimize for loops like:
for (var i = 0, ii = ranges_elevation.length; i < ii ; i++) {

[2016-01-13 15:21] #107 closed, assigned to nobody

[2016-01-13 17:24] volaya opened #108 "only use debug full build, so free version is more limited for production use"

[2016-01-19 06:36] #68 closed, assigned to nobody

[2016-01-19 06:37] #90 closed, assigned to volaya

[2016-01-19 07:31] #105 closed, assigned to nobody

[2016-01-21 08:43] #108 closed, assigned to nobody

[2016-01-21 08:44] volaya opened #109 "add option for base target"

[2016-01-21 08:44] volaya opened #110 "add doctypes"
<!DOCTYPE html>

[2016-01-21 10:36] volaya opened #111 "fix definition of parameters in scaleline"
it is now
"units": ["metric", ["metric", "degrees", "imperial", "nautical", "us"]

[2016-01-21 10:49] volaya opened #112 "do not set view to 0 0 when creating it"

[2016-01-22 07:49] #110 closed, assigned to nobody

[2016-01-22 07:49] #111 closed, assigned to nobody

[2016-01-22 07:49] #112 closed, assigned to nobody

[2016-01-22 07:50] #109 closed, assigned to nobody

[2016-01-22 09:05] volaya opened #113 "add appdef files to examples"

[2016-01-22 09:14] volaya opened #114 "copy marker file when using bookmarks"

[2016-01-26 08:58] bartvde opened #115 "Some properties are not generated"
LayerList: tipLabel and expandOnHover are not exported:

[code]

Also, as a side note, I'm not sure if the missing space between showDownload and showGroupContent causes issues, might be good to fix that as well.

[2016-01-27 11:39] #115 closed, assigned to nobody

[2016-02-01 17:15] amillerBoundless opened #116 ""About" button missing in preview"
![screen shot 2016-02-01 at 10 12 32 am](https://cloud.githubusercontent.com/assets/10965706/12724769/aa20e3fc-c8cc-11e5-9a1b-f67dcde592fa.png)

The about info box appears, but when closed the expected "About" button in the upper right is missing.

[2016-02-01 17:24] amillerBoundless opened #117 "Closing chart opens new window rather than closing the chart"
When viewing the debug.html version of the app I opened the chart, the X to close was hard to find the right spot to click. Once clicked it opens a new window with the app(no chart). Closing the chart should only close the chart window. Before and after pictures show new browser window
![screen shot 2016-02-01 at 10 20 17 am](https://cloud.githubusercontent.com/assets/10965706/12725008/dae0dc30-c8

[2016-02-02 06:44] #116 closed, assigned to nobody

[2016-02-04 08:15] bartvde opened #118 "setDimensionsOnState call needs to get updated"
old:

[code]

new:

[code]

in toggleTable

[2016-02-05 06:55] #117 closed, assigned to nobody

[2016-02-09 15:52] amillerBoundless opened #119 "WAB window should be resizable in linux"
Ubuntu 14.04 - Feb 5 WAB from google drive

User should be able to resize the WAB window. The cursor changes at the edge of the window to show how to stretch it, but clicking and grabbing does not change window. This makes it difficult to use WAB on a VM as the WAB buttons at the bottom are hidden until going to fullscreen mode.

[2016-02-19 03:31] amillerBoundless opened #120 "Refresh control throws error"
clicking configure on the refresh control throws the following error:

An error has occured while executing Python code:

Traceback (most recent call last):
  File "/Users/amiller/.qgis2/python/plugins/webappbuilder/widgets/refresh/refresh.py", line 38, in configure
    dlg = RefreshDialog(self._parameters["layers"])
  File "/Users/amiller/.qgis2/python/plugins/webappbuilder/widgets/refresh/refres

[2016-02-19 07:44] #120 closed, assigned to nobody

[2016-02-22 17:17] amillerBoundless opened #121 "About control can't be closed"
The isClosable flag is set in WAB, the resulting app has no way to close the about window.

[2016-02-22 17:19] amillerBoundless opened #122 "Update name of the edit widget parameter to controls"
The edit window for the controls has a title of "edit widget parameters", this should be changed to "edit control parameters" for consistency.

[2016-02-22 20:53] amillerBoundless opened #123 "Export image control doesn't export"
I added the export image control, the button is present in the app, clicking the button does nothing.

[2016-02-24 17:28] amillerBoundless opened #124 "WAB throws " Layer XXX uses CRS EPSG:4326. Reprojection is not supported for WMS services. This layer will probably not appear correctly in the web app""
![screen shot 2016-02-24 at 9 58 45 am](https://cloud.githubusercontent.com/assets/10965706/13293644/ad4d75e0-dadd-11e5-94bf-15686fe7ceac.png)

Note the layer EPSG is 4326 visible on the right side of the screen.

[2016-03-07 09:28] bartvde opened #125 "restructure generated application"
so that it will work with the package command of sdk-tools, I'll provide more detailed info here later.

[2016-03-07 11:05] bartvde opened #126 "Add locale files to app.jsx generated for non-preview"
This line should be added to the import statements:

[code]

and then pass it on here:

[code]

[2016-03-07 11:06] bartvde opened #127 "AddLayer is not imported"
[code]

but missing:

[code]

[2016-03-07 13:37] bartvde opened #128 "for generated apps, let application extend App"
Otherwise it will not work:

[code]

instead of:

[code]

The import statement is already present it seems.

[2016-03-07 13:48] bartvde opened #129 "when generating apps for use with SDK"
You can leave out:

index_node.html
full-debug.js
full.js

And should add the comments to index.html instead of index_node.html:

[code]

[2016-03-09 09:34] #119 closed, assigned to nobody

[2016-03-09 12:47] #96 closed, assigned to volaya

[2016-03-09 12:51] #122 closed, assigned to nobody

[2016-03-10 13:54] #95 closed, assigned to volaya

[2016-03-10 14:18] #118 closed, assigned to nobody

[2016-03-10 14:18] #126 closed, assigned to nobody

[2016-03-10 14:18] #127 closed, assigned to nobody

[2016-03-10 14:18] #128 closed, assigned to nobody

[2016-03-11 11:58] #129 closed, assigned to nobody

[2016-03-14 06:43] #125 closed, assigned to nobody

[2016-03-22 13:01] alexbruy opened #130 "Popups does not work"
Tested with tutorial "[Mapping songs about Madrid](http://boundlessgeo.github.io/qgis-app-builder/tutorials/songs/index.html)". Popups never shown on hover or on click

[2016-03-22 13:04] alexbruy opened #131 "Clustering points does not work"
Tested with [Mapping French schools](http://boundlessgeo.github.io/qgis-app-builder/tutorials/schools/index.html) tutorial. When I enable clustering and preview application I see only base layers, and often application never loaded a blank page is shown

[2016-03-22 13:05] alexbruy opened #132 "Preview fails when user name has non-ASCII characters"
Preview of application throws error when user name on Windows contains non-ASCII characters, e.g. "марійка" оr "алексей"

[2016-03-22 13:07] alexbruy opened #133 "Charts component does not work"
Tested with [Mapping French schools](http://boundlessgeo.github.io/qgis-app-builder/tutorials/schools/index.html) tutorial. When I add "Charts" component and try to preview application, I see only blank page and reloading it does not help

[2016-03-25 07:50] #133 closed

[2016-03-25 07:51] #131 closed

[2016-03-29 13:04] bartvde commented on #130
works for me in FF 44.02 @alexbruy what version?

[2016-03-29 13:12] alexbruy commented on #130
FF 45.0.1. Also tested with Iceweasel 44.x don't remember exact version. Let me check again with latest SDK and plugin

[2016-03-29 13:30] alexbruy commented on #130
Just tested with FF 45.0.1 and latest plugin. Same problem, not popups on hover and on click.
In JS console I see this
[code]

[2016-03-29 13:30] bartvde commented on #130
yeah that is a warning should not be fatal

[2016-03-29 13:37] volaya commented on #130
hey alex, can you add that broken app so we can check it?

On Tue, Mar 29, 2016 at 3:30 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2016-03-29 14:15] bartvde commented on #130
See https://github.com/boundlessgeo/sdk/commit/89f1cd45de762d5d4da7c6c38354e9217f33ac9b

[2016-03-29 15:47] alexbruy commented on #130
Fixed, thanks!

[2016-03-29 15:47] #130 closed

[2016-03-31 10:29] gmusumeci opened #134 "Help about building the final webapp"
I am Sorry if my question will be too easy or maybe inappropriate.
I'm trying to build a standalone (without deploying files into postgis or geoserver) web application using this plugin.
I was able to generate the preview (perfectly working) and the final files.
Final files (index.html) shows nothing.
Reading the instructions It seems I must use  node.js and Web SDK to build the apllication.
I don

[2016-04-26 18:55] popimor commented on #134
I am having the same issue

[2016-04-26 18:58] volaya commented on #134
You can find  more info about this here:

http://boundlessgeo.github.io/qgis-webappbuilder-plugin/wabandwebsdk/index.html

Let us know if you require additional detail, so we can add it to the documentation and is also available for future users.

Thanks for your collaboration!

[2016-04-27 05:45] gmusumeci commented on #134
The explanations in the link aren't very clear. I think that addittional details or a short tutorial how to build the final app could be very very useful.

[2016-04-27 09:17] SrNetoChan opened #135 "Info popup content improvements"
Since this is one of the main feature people will use. I think normal/non-coder users might appreciate a easier way to set the the info popup content. The ideas could be:
1. Add all attributes in a simple table by default;
2. Add a button to "add all fields" to preform the above;
3. Add an assistant where users could select the attributes to show, rename the attribute name (should use the attribut

[2016-04-27 09:29] SrNetoChan commented on #135
Forget it... I missed the "add all fields button". I will keep only the last idea.

[2016-04-28 11:35] bartvde opened #136 "Upgrade to new WebSDK (with new UI framework)"
First change needed is that injectTapEventPlugin needs to get called from every application, e.g.:

[code]

Other change is that there is no Toolbar anymore in SDK, since material-ui provides a Toolbar out of the box. Example of the new Toolbar structure (no options anymore):

[code]

With ```React.createElement``` this becomes:

[code]

[2016-04-28 11:39] bartvde commented on #136
To get a logo in the top toolbar, you need to use an AppBar (see also: http://www.material-ui.com/#/components/app-bar) instead of a Toolbar:

[code]

This will look like:

![screen shot 2016-04-28 at 13 38 18](https://cloud.githubusercontent.com/assets/319678/14884644/7ae00424-0d46-11e6-9e4e-2328d8947217.png)

To attach a href use: ```onTitleTouchTap```

[2016-04-28 11:41] bartvde commented on #136
Another thing we should aim for is not create a lot of custom HTML markup ourselves anymore, but use material-ui components (such as lists etc.) where possible. This will need further discussion as I don't know all the markup that is generated by WAB.

[2016-04-28 19:48] DamijanB opened #137 "Logo issue"
Hello squad,

In appwriter.py line 114

`app.tools.append('{exclude: true, jsx: React.createElement("img", {className:"pull-left", style:{margin:"5px",height:"50px"}, src:"logo%s")}' % ext)`

Is missing the curly bracket

`app.tools.append('{exclude: true, jsx: React.createElement("img", {className:"pull-left", style:{margin:"5px",height:"50px"}, src:"logo%s"## })}' % ext)`

Cheers

[2016-04-28 20:47] DamijanB opened #138 "Non default projection and base layers"
Hello,

There is an issue in your code when it comes to non default projection and base layers. If you define a webapp projection to non EPSG:3857/EPSG:4326 then base layers are not displayed on map. Instead it should be:

a) allowed to set projection per layer and leave app/project projection in 3857
so at least these two parts should be changed

`if writeLayersData:
        exportLayers(layers,

[2016-04-29 01:00] SrNetoChan opened #139 "Chart Control Dialog does not allow reviewing existing charts settings"
Not sure if it's a feature or bug. But during Chart tools creation, if you select an already created chart, the widgets are not updated with the "saved" information, making impossible for the user to see what settings where used, or even slightly change the existing chart.

To reproduce:

- In the Chart tool, fill all the necessary field to create a chart and press add/modify button;
- Then, chang

[2016-04-29 06:07] volaya commented on #138
hmm, not sure what you mean with this

The ability to select the app CRS is an important one, so it is not going to be removed. Can you provide an app that doesn't work so we can check? (I  just quickly tried wit a cartodb layer in EPSG:23030 and it was working correctly, at least in preview mode)

Are you using the preview mode or the "create app" button? In the latter, i get this in my html

<sc

[2016-04-29 06:10] #137 closed

[2016-04-29 07:06] DamijanB commented on #138
Hello

I have attached appdef + debug app.

Try to load index_debug

First it will fail because of non-existing proj4.js in the app root (index_debug.html is pointing to ./proj4.js instead of ./resources/js/proj4.js)

Then change the line 245 in app_prebuilt.js

`var view = new ol.View({ maxZoom: 32, minZoom: 1, projection: 'EPSG:3912'});`

to

`var view = new ol.View({ maxZoom: 32, minZoom: 1, pr

[2016-04-29 07:08] DamijanB commented on #138
It seems that cannot upload zip file of size 8.2 MB. Any other alternatives?

[2016-04-29 10:55] volaya commented on #138
could you send it to my email (volaya@boundlessgeo.com)? Thanks a lot!

[2016-05-03 12:52] AlAlavi opened #140 "Web App Builder has no WebSDK"
I've used WebAppBuilder plugin for QGIS to create a simple web app but after creating, it tells:
"Application files have been correctly generated. Use Boundless WebSDK for building final webapp from them".
and so, no display of webapp.

[2016-05-03 12:56] bartvde commented on #140
See: http://boundlessgeo.github.io/qgis-webappbuilder-plugin/wabandwebsdk/index.html

[2016-05-03 15:19] AlAlavi commented on #140
Thanks bartvde
I'd already see that. But is there any guide or tutorial for doing that?
In tutorials section of webappbuilder, I see that webappbuilder plugin can finally produce a result viewable in browser. Have i misunderstood anything from tutorials?

[2016-05-03 15:29] bartvde commented on #140
only enterprise customers get access  to the WebSDK currently

Sent from my iPhone

[2016-05-03 16:24] AlAlavi commented on #140
Oh, that's the point.
Thanks again

[2016-05-03 16:25] #140 closed

[2016-05-08 19:23] pvoudouris opened #142 "Selecting the 'Tabbed' theme produces an empty map"
Steps to reproduce:

- Select 'tabbed' theme
- Add 'CartoDB' as the Base Layer
- Add a couple of shapefiles in the QGIS Layers tab
- (probanly does not make any difference but for completness)- Add About, Attributes table, Geolocation, Layers List, Mouse position, North, Overview Map, Scalebar and Selection controls)
- Hit on [Preview]
- An empty page is displayed with only the map title you enter

[2016-05-08 19:31] pvoudouris opened #143 "Setting the CRS for the mouse position control to a projected SRID produces an empty map"
Steps to reproduce:

- Select 'basic' theme
-Add 'CartoDB' as the Base Layer
- Add a couple of shapefiles in the QGIS Layers tab (shapefiles are in Greek Grid-2100)
-In the Settings tab set App view CRS to 2100
- Add About, Attributes table, Geolocation, Layers List, Mouse position, North, Overview Map, Scalebar and Selection controls)
- Right-click->Configure Mouse position control and set projec

[2016-05-09 07:40] bartvde commented on #143
@pvoudouris what version are you running on?

[2016-05-09 08:18] pvoudouris commented on #143
@bartvde You mean QGIS version? below:
![image](https://cloud.githubusercontent.com/assets/2980923/15107287/9eb2af52-15d7-11e6-9fdb-aff43e30b966.png)

[2016-05-09 08:19] bartvde commented on #143
No I meant the version of the plugin you use. Should be in a comment in the generated app.

[2016-05-09 08:22] pvoudouris commented on #143
Is this the one?
[code]

[2016-05-10 14:49] stefan-gisworks commented on #134
After hours searching I have not find any hint on building the final app.

[2016-05-10 16:44] bartvde commented on #134
see: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/140#issuecomment-216566003

[2016-05-19 11:24] pvoudouris opened #147 "Non-latin characters in layer names"
When using non-latin names for your layer names in QGIS (in my case Greek), previewing or attempting to create the app fails

![image](https://cloud.githubusercontent.com/assets/2980923/15391999/295ab9e0-1dcd-11e6-9ea4-25d81ef76ee4.png)

and the error in the QGIS log is:
`Traceback (most recent call last):
			  File "C:/Users/pano.voudouris/.qgis2/python/plugins\webappbuilder\maindialog.py", line

[2016-05-20 11:40] #147 closed

[2016-05-20 11:42] alexbruy commented on #132
Seems fixed now

[2016-05-20 11:42] #132 closed

[2016-05-23 17:45] SrNetoChan opened #148 "Remove all jsx references"
The jsx option for the Toolbar is no longer available.

Example:
[code]
We need to put the createElement call directly as a child instead:

[code]

[2016-05-23 17:46] SrNetoChan commented on #148
@volaya obviously I did not discovered this myself. Those are @bartvde instructions :-)

[2016-05-30 10:15] volaya commented on #148
Are you using the current master version? That sees to be fixed in the code since some time ago...

[2016-05-30 11:10] SrNetoChan commented on #148
I'm using this version:
0.5.1-20160520-C1B39FC1026EAE592785B9BD6091F80864D7E686

[2016-05-30 13:26] volaya commented on #148
and that generates the above code? That's weird, because the code to add the "Add layer" component was changed before and it already uses the correct syntax. See https://github.com/boundlessgeo/qgis-webappbuilder-plugin/blob/master/webappbuilder/widgets/addlayer/addlayer.py#L9

[2016-05-30 14:40] SrNetoChan commented on #148
Sorry for the noise. I have tried again and I got it to work.

[2016-05-30 14:40] #148 closed

[2016-06-01 07:08] #134 closed

[2016-06-03 11:53] #88 closed

[2016-06-06 11:55] zmezrhab opened #152 "how to build final application with node.js and websdk"
how to build final application with node.js and websdk

[2016-06-06 15:21] zmezrhab opened #154 "Tutorial not updated (web-SDK- node.js)"
Tutorial not updated  (web-SDK- node.js)

[2016-06-07 07:41] bartvde opened #155 "Chart component does not check if there are charts"
It will just generate the chart component with an empty array:

[code]

[2016-06-07 09:44] zmezrhab commented on #155
please how to built final application with node.js and boundless web sdk

[2016-06-07 09:46] zmezrhab commented on #139
please how to built final application with node.js and boundless web sdk

[2016-06-08 06:29] bartvde commented on #155
Cannot reproduce anymore, closing.

[2016-06-08 06:29] #155 closed

[2016-06-08 18:49] adearing opened #158 "Loading a Logo Image Fails to Load Preview of Web App"
When creating a web app with a few simple layers, I uploaded a .png file in the "Logo" dialog (it was the City of New Orleans seal - attached). After putting in the necessary widgets and then hitting preview, the viewer launches but nothing shows up.

After removing the logo attachment from the configuration, the preview launches as expected, with the map and widgets displaying properly.

![cityof

[2016-06-09 05:28] volaya commented on #158
@adearing Which version are you using? It can be seen in the top of the file generated by WAB, as am HTML comment

There have been many changes lately, so the difference with the latet sreleased version is large. I am testing with the current master (which should be available for install from QGIS if you add our dev repo plugin) and it seems to work fine.

@bartvde can you confirm?

[2016-06-09 06:49] bartvde commented on #158
logo works fine for me as well. Otherwise send us the create application @adearing (follow the file:// url from the browser to the path on your disk).

[2016-06-09 08:53] alexbruy commented on #139
Seems fixed in master. Reopen if necessary

[2016-06-09 08:53] #139 closed

[2016-06-09 09:01] alexbruy commented on #121
Seems not valid anymore, as there is no "isClosable" option in component settings. Reopen if necessary

[2016-06-09 09:01] #121 closed

[2016-06-11 19:53] anitagraser opened #159 "Story panel covers area of interest"
When using bookmarks and the story panel control, the resulting map centers on the bookmarks, but half the screen is covered by the story panel. Therefore the left side of the bookmark / area of interest is covered up. This makes it really difficult to set up the bookmarks in a way to ensure that the desired area is visible in the resulting webmap.

[2016-06-11 19:54] anitagraser opened #160 "Font in Other Layers and Controls panel too small on HiDPI displays"
Currently the font in these panels is too small:

![screenshot 2016-06-11 21 33 33](https://cloud.githubusercontent.com/assets/590385/15987159/13e72fbc-301f-11e6-8a98-fd3f9b99ebb6.png)

[2016-06-13 11:16] bartvde commented on #159
@anitagraser can you supply a screenshot? I guess it depends a lot on the bookmark geometries?

[2016-06-13 11:18] volaya commented on #159
@bartvde Can we make the story panel movable or resizable?

[2016-06-13 16:13] anitagraser commented on #159
Here's an example of my "Pisa" bookmark and the resulting webmap:

![screenshot 2016-06-13 18 11 12](https://cloud.githubusercontent.com/assets/590385/16014639/60e5e8c0-3192-11e6-9dcc-e210b3453ed7.png)

![screenshot 2016-06-13 18 11 38](https://cloud.githubusercontent.com/assets/590385/16014649/69132f3a-3192-11e6-86ca-deda533deb0d.png)

[2016-06-14 11:50] alexbruy commented on #160
@anitagraser can you test with latest master?

[2016-06-14 12:30] adearing commented on #158
@volaya thanks - I just did an uninstall of QGIS 2.14.1 and a reinstall of Boundless Desktop, so assuming that my WebApp Builder plugin did not get upgraded?

What is the best way (workflow wise) to obtain the latest WAB plugin?  Just redownload from the plugin manager?

[2016-06-14 13:49] volaya commented on #158
Desktop should have the Connect plugin and automatically update or tell you
to do it. However, we havent released any new version of WAB with the
fixes, so Connect wont see it. You can get it using plugin manager,but not
from the standard plugin repository. Instead, use the dev one, which has
nighlty versions of plugins, so those changes will be there

On Tue, Jun 14, 2016 at 2:30 PM, Andy Dearing

[2016-06-14 17:44] alexbruy commented on #124
As mentioned above, this is not a bug. Reopen if necessary

[2016-06-14 17:44] #124 closed

[2016-06-14 18:26] anitagraser commented on #160
@alexbruy sure, could you provide me a zipped version of the plugin for easy install?

[2016-06-14 18:53] francbartoli opened #161 "Paver setup is failing"
linked to #152. The setup is claiming the websdk dependency:

[code]

[2016-06-14 19:05] bartvde commented on #161
sdk is a private repo

[2016-06-14 19:21] francbartoli commented on #161
Is it reasonable to have there an obfuscated build of the websdk in order to get at least a working preview of a created new app from the WAB?

[2016-06-14 19:22] bartvde commented on #161
The debug build is provided with WAB currently (since that is what is used for preview). What is your use case for wanting to run ```paver setup``` ?

[2016-06-14 20:11] francbartoli commented on #161
nothing special than getting the debug build from myself for previewing the app since currently I have console errors:

http://127.0.0.1:8081/build/app-debug.js
Failed to load resource: the server responded with a status of 404 (Not Found)

http://127.0.0.1:8081/loader.js
Failed to load resource: the server responded with a status of 404 (Not Found)

http://127.0.0.1:8081/build/app-debug.js
Failed

[2016-06-15 04:50] pmabey commented on #154
Steps on how to build the final app using the SDK would be useful. Everything I have tried doesn't seem to work.

[2016-06-15 06:27] bartvde commented on #154
See: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/140#issuecomment-216566003

[2016-06-15 08:42] francbartoli commented on #161
Finally I find the full debug of WAB into the plugins directory.

However the preview sometimes is broken with app_prebuilt.js that shows some syntax errors. This happens depending on the widgets that have been selected from the WAB.

Don't know if it's already known and how I can report that.

[2016-06-15 09:20] luipir commented on #161
please file issues if this widget errors are not already reported, tnx

[2016-06-15 16:15] adearing commented on #158
Sorry for the delayed, and probably a stupid question, but how do I connect to the dev plugin repo?  Is that a URL that I add here:
![image](https://cloud.githubusercontent.com/assets/13839629/16087704/939faa50-32e9-11e6-80db-3b6008f3a9dc.png)?  If so, can you send me the URL to the dev repo and I can add it to the plugin repositories list.  Thanks!

[2016-06-15 17:14] luipir commented on #158
http://qgis-dev.boundlessgeo.com/plugins/plugins.xml

[2016-06-15 17:14] amillerBoundless commented on #158
Add a new repo, the dev URL is https://qgis-dev.boundlessgeo.com/plugins.xml

On Wed, Jun 15, 2016 at 10:15 AM, Andy Dearing <notifications@github.com>
wrote:

--
Aaron Miller
Solutions Architect Boundless <http://boundlessgeo.com/>
M: 303-709-9005 | amiller@boundlessgeo.com

[2016-06-16 14:28] bartvde opened #162 "Add timeInfo for WMS / WMTS layers"
You can take it straight from GetCaps so e.g. ```1995-01-01/2016-12-31/PT5M``` SDK will do the rest

[2016-06-17 07:48] francbartoli commented on #161
@luipir as said is not totally reproducible but trying to figure out how to make it happens again and then report into an issue

[2016-06-17 10:13] #143 closed

[2016-06-17 10:13] #160 closed

[2016-06-17 11:12] alexbruy commented on #142
Should be fixed in master. Please reopen if necessary.

[2016-06-17 11:12] #142 closed

[2016-06-17 11:13] alexbruy commented on #138
Can you re-test with latest master?

[2016-06-17 11:15] alexbruy commented on #123
Works fine if no baselayers used. Can we close this?

[2016-06-17 13:23] alexbruy commented on #36
Still true

[2016-06-20 06:02] DamijanB commented on #138
Hello,

If I use "git zip" file:

Have tried to build but alas clicking on button Preview fails with

_No such file or directory: '/PATH TO/.qgis2/python/plugins/webappbuilder/websdk_full/full-debug.js'_

If I try to build it from git I stuck at this point

_git clone git@github.com:boundlessgeo/sdk.git ./webappbuilder/websdk
Cloning into './webappbuilder/websdk'...
Enter passphrase for key '/PATH

[2016-06-21 15:21] Engigo opened #163 "Measure tool doesn't show output measurements"
Hi,

I am using the latest version of the plugin with the QGIS 14.1. The measurement tool does not show the results on the map.

[2016-06-22 11:08] alexbruy commented on #163
Fixed in WebSDK master.

[2016-06-22 11:08] #163 closed

[2016-06-23 12:26] alexbruy commented on #138
Try this version http://qgis-dev.boundlessgeo.com/plugins/packages/webappbuilder.0.5.1-20160623-b5e9da92ab53bdf9aaf7ceb2876c5bd88953bb97.zip

[2016-06-28 10:39] #106 closed

[2016-06-30 23:20] amillerBoundless opened #164 "When editing a link, the URL field is blank"
I created a link in the link control, previewed the app, decided I wanted a different URL, upon editing the URL field is blank. The URL field should be populated like the Link name field is during an edit.
![screen shot 2016-06-30 at 5 17 23 pm](https://cloud.githubusercontent.com/assets/10965706/16507418/e4aae438-3ee6-11e6-9e01-f06a1a7e818f.png)

It does not inhibit any functionality, low priorri

[2016-07-01 05:35] volaya commented on #164
This was fixed in here

https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/960851a1d73f77c0a500e54845b3fdc1ce668382

Are you using the current master version, or an older one?

[2016-07-01 13:45] amillerBoundless commented on #164
I'm using version Installed version:

0.5.1-20160420-AF1483DA9BF591D1DBCC7EF86ACB01E298748174 (in
/Users/amiller/.qgis2/python/plugins/webappbuilder)
Available version: 0.5.1-20160420-af1483da9bf591d1dbcc7ef86acb01e298748174
(in Boundless Official Plugin Repository)

The current version in the Dev repo fails to install for me.  Should I be
getting the build from another location?

thanks

Aaron

O

[2016-07-06 11:52] bartvde opened #165 "html in attributions should be a string not an array"
There are several occurrences of this, e.g.:

[code]

but this should be:

[code]

http://openlayers.org/en/latest/apidoc/ol.Attribution.html

[2016-07-08 09:50] DamijanB commented on #138
Hello,
I need to apologise for the long absence. I can confirm that this issue is sorted now. Cheers!

[2016-07-08 09:50] #138 closed

[2016-07-12 11:26] carlozousa opened #170 "error on printing"
Hello,

I'm trying to create an webapp with the print module activated and a composer to the app.
I get a security error, related to html5 canvas writes from what I googled.
Appended is a printscreen of what happens when I choose the print module.

![error_webapp](https://cloud.githubusercontent.com/assets/3940898/16765393/b72c2730-482b-11e6-844c-8996f5764b4f.png)

Any ideas of what i'm doing wron

[2016-07-12 11:28] bartvde commented on #170
Do your tiles / map layers have CORS headers enabled?

[2016-07-12 12:18] bartvde commented on #170
It will depend on your servlet container or web server on how to enable CORS, google for it.

[2016-07-12 12:19] carlozousa commented on #170
I guess I have to do some reading ... sorry about this ... http://suite.opengeo.org/docs/latest/sysadmin/cors/index.html

[2016-07-12 12:20] bartvde commented on #170
Try printing without WMS layers to make sure this is really the issue.

[2016-07-13 08:02] carlozousa commented on #170
Well that seems to be the issue. Thank you for your help. Nevertheless the print module only prints once ... I have to do a F5 to print again ... I think that the CORS issue should also be addressed here on our opengeo platform ... i'll let you guys know. THANKS!!!

[2016-07-13 08:10] bartvde commented on #170
Yeah the only print once issue is a known issue, but hasn't been addressed as yet. I'll let you know when I get to it.

[2016-08-09 14:12] bartvde opened #171 "production app generation missed comma"
[code]

should be:

[code]

[2016-08-10 14:12] bartvde opened #172 "selection style for clusters need to handle individual features as well"
Since we portray selected clusters through their individual features, the cluster style selection function needs to handle this.

This is what we get generated now:

[code]

This is what I would expect:

[code]

Also the normal style function for clusters needs to handle not drawing the cluster if there are selected children, this is what we have now:

[code]

[code]

Additionally, anywhere where

[2016-08-15 12:58] alexbruy commented on #164
Works in master

[2016-08-15 12:58] #164 closed

[2016-08-19 06:15] #158 closed

[2016-08-19 06:16] #123 closed

[2016-08-19 06:17] #161 closed

[2016-08-19 06:21] volaya commented on #172
So, if Iunderstand right, the clusterwhen it is selected show the individual cluster features, right? So no need to have a specific selected cluster style, but instead use the selected style of the clustered layer.

@bartvde can you confirm?

[2016-08-19 06:48] bartvde commented on #172
Indeed, it will show the individual features when selected

[2016-08-19 11:30] SrNetoChan opened #175 "Mapquest tiles are no longer available for free"
Mapquest tiles are no longer available for free. We should remove them from WAB and maybe replace them for the stamen physical map.

[2016-08-19 14:58] SrNetoChan opened #176 "Configure controls does not work after plugin update"
After updating the plugin, and if you don't reload QGIS. You will the the following error message if you try to configure any of app controls.

If you reload QGIS, everything work as expected.

[code]

[code]

[2016-08-30 06:27] #172 closed

[2016-08-30 06:27] #175 closed

[2016-08-30 07:22] alexbruy commented on #162
Fixed in 8820655e81

[2016-08-30 07:22] #162 closed

[2016-08-30 11:24] alexbruy commented on #136
Can we close this now or there are more things to do?

[2016-08-30 11:25] bartvde commented on #136
can be closed

[2016-08-30 11:25] #136 closed

[2016-08-30 12:12] #59 closed

[2016-08-30 12:14] #154 closed

[2016-08-30 12:16] alexbruy commented on #152
See [#140](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/140#issuecomment-216566003)

[2016-08-30 12:16] #152 closed

[2016-08-31 16:32] SrNetoChan opened #177 "Refine in query control shows a wrong count on selected features"
If you have a selection already done, using the refine button with a new condition, it should intersect the first subset with the second one. This works as expected,  except for the message stating the number of selected features in the end. Currently it shows total count of the second condition, instead of the final result.

[2016-08-31 16:36] SrNetoChan opened #178 "Query control is affected by the "select only" option in table"
Having a selection done in a layer, and turning the selected only option in the table of attributes, makes the Query control unusable. It only have in consideration the selected subset, even if you would what to use the NEW or the ADD button. So if you try to select something that is not in that subset, it won't return any selected features.

Turning the `select only` option seems to work fine.

[2016-08-31 16:39] bartvde commented on #177
WebSDK issues?

[2016-08-31 16:42] SrNetoChan commented on #177
Hey bart, I never know when the issues are from SDK or WAB, so... I throw them in github and let Victor decide where the problem is. :) I can open a JIRA ticket if you prefer.

[2016-08-31 16:42] bartvde commented on #177
cool we'll figure out where they belong, don't worry

[2016-09-01 07:29] bartvde commented on #177
confirmed this is a WebSDK issue

[2016-09-01 08:11] bartvde commented on #177
Should be fixed with: https://github.com/boundlessgeo/sdk/commit/dc088718f6540d4477b6d9b35fe0097f18c8ed34

[2016-09-01 08:11] #177 closed

[2016-09-01 08:34] bartvde commented on #178
Right this is because selected only influences the features in the store, which the Query tool also works on. I'll see what I can do to overcome this in WebSDK.

[2016-09-01 09:11] bartvde commented on #178
I can easily Query on the originalFeatures, which is the full set. However the table will not get updated in this case.

[2016-09-01 14:07] bartvde commented on #178
Okay it took a while to get it right (hopefully), should be fixed with: https://github.com/boundlessgeo/sdk/commit/271e11abeb3b8696cd8d856e6216b4568100368c

[2016-09-01 14:07] #178 closed

[2016-09-20 15:35] rudystricklan opened #179 "Latest build crashes with Python error"
WAB 0.5.1-20160919-e1512c9b2a1136fb3dbe6f1db550f032be5b7497 carshes with these Python errors:

An error has occurred while executing Python code:

AttributeError: 'AboutPanel' object has no attribute 'iconFile'
Traceback (most recent call last):
  File "C:/Users/Rudy/.qgis2/python/plugins\webappbuilder\webappbuilder_plugin.py", line 73, in run
    dlg = MainDialog(appdef)
  File "C:/Users/Rudy/.qg

[2016-09-21 10:04] gioman commented on #179
Here on Win7/10 testing VMs with BL Desktop (final build) apparently no errors

Installed version: 0.5.1-20160919-E1512C9B2A1136FB3DBE6F1DB550F032BE5B7497

[2016-09-21 12:17] volaya commented on #179
Cannot reproduce it here. It complains of the AboutPanel class not having a
method that it actually has.

Did you get the plugin from the boundless plugin server, or built it
yourself from the repo?

On Wed, Sep 21, 2016 at 12:04 PM, Giovanni Manghi <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <htt

[2016-09-21 15:11] rudystricklan commented on #179
I downloaded the plugin-- QGIS announced that an update was available. I've
since replaced it with the previous version, which works.

I have several other Win10 systems that I can install the update on and see
if there is any pattern of system configuration, etc., thtat causes the
problem.

Thanks,

Rudy Strickln

On Wed, Sep 21, 2016 at 5:17 AM, volaya <notifications@github.com> wrote:

--

Rudy

[2016-09-21 20:32] rudystricklan commented on #179
I tried the latest WAB plugin build on a couple of totally separate Win10
systems at the workshop session I'm presenting. WAB still crashes, with
this feedback:

An error has occurred while executing Python code:

MissingSchema: Invalid URL
u'?service=WFS&version=1.1.0&REQUEST=GetCapabilities': No schema supplied.
Perhaps you meant http://
?service=WFS&version=1.1.0&REQUEST=GetCapabilities?
Traceb

[2016-09-22 10:38] gioman commented on #179
does it give the error when opening the plugin? on QGIS startup? while doing some specific operation within the plugin? cheers!

[2016-09-22 14:39] rudystricklan commented on #179
The errors happen immediately upon invoking the WAB plugin. Attached are
the various error output files. Thanks!

Rudy Stricklan

On Thu, Sep 22, 2016 at 3:38 AM, Giovanni Manghi <notifications@github.com>
wrote:

--

Rudy Stricklan, RPLS, GISP
Mapping Automation, LLC
602.317.0130
www.mappingautomation.com

2016-09-22T07:29:07	1	Traceback (most recent call last):
			  File "C:/Users/Rudy/.qgis2/py

[2016-09-22 15:48] gioman commented on #179
That is weird. I tested in our testing VM (Win 10, clean state) and I cannot replicate.

[2016-09-22 16:33] rudystricklan commented on #179
I haven't yet tried digging through the python code myself to see if I can
spot anything, so that's my next step. I'm using WAB only to present at my
conference workshop tomorrow. The previous webappbiilder plugin works fine
for those purposes.

On Thu, Sep 22, 2016 at 8:49 AM, Giovanni Manghi <notifications@github.com>
wrote:

--

Rudy Stricklan, RPLS, GISP
Mapping Automation, LLC
602.317.0130
ww

[2016-09-27 19:38] rudystricklan commented on #179
Giovanni, not sure what changed in the WAB plugin, if anything, but now it
does work on Windows 10 machines. Certain controls don't seem to be
functional and/or prevent the map display, but I'll provide feedback on
those.

Rudy Stricklan

On Thu, Sep 22, 2016 at 9:32 AM, Rudy Stricklan <
rudy.stricklan@mappingautomation.com> wrote:

--

Rudy Stricklan, RPLS, GISP
Mapping Automation, LLC
602.317.01

[2016-09-28 12:15] bartvde opened #181 "GeoJSON LineString is invalid"
```{"type":"LineString","coordinates":[-18195855.50,10438639.03],[-18195869.04,10439581.08],[-18194958.50,10441481.37],[-18195095.98,10443506.88],[-18195844.95,10445666.76],[-18195804.08,10447609.60]```

Should be an array of array instead.

![screen shot 2016-09-28 at 14 11 25](https://cloud.githubusercontent.com/assets/319678/18913054/f96bc244-8585-11e6-9da2-a39b963b270e.png)

[2016-09-28 12:35] volaya commented on #181
This happens when using any lines layer as geojson? The export is performed by QGIS, so i am a bit surprised that QGIS itself is doing it wrong. I will check

[2016-09-28 12:36] bartvde commented on #181
Maybe it's my old QGIS version, seems to be any line dataset in my project

![screen shot 2016-09-28 at 14 36 30](https://cloud.githubusercontent.com/assets/319678/18913624/fee1426e-8588-11e6-9724-54b308fa3752.png)

[2016-09-29 17:28] gioman commented on #179
thanks in advance for that. Cheers!

[2016-10-11 15:33] GIS87 opened #183 "exporting geoserver wfs to webapp with webappbuilder fails"
Hello,

I have a qgis project that I'm trying to export as a webapp with your builder plugin.  For all my WMS layers from geoserver, the app works fine.  However, when I try to build the app with a wfs request, I get the following error:

An error has occurred while executing Python code:

InvalidSchema: No connection adapters were found for ' srsname='EPSG:3424' typename='hudsonparcels:testvwloc'

[2016-10-11 15:58] luipir commented on #183
just a side note not related with the analisys of the bug: the source string is normal... it can be parsed building a QUrl or QgsDataSourceURI instance

[2016-10-24 09:22] bartvde commented on #181
Also happens in 2.14-1 Essen

[2016-10-24 09:23] bartvde opened #185 "preview doesn't seem to work in IE"
tested with IE10

[2016-10-24 10:19] volaya commented on #181
fixed in https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/8812ff748759b1ad81a1fbae7ce9aa57277af45d

[2016-10-24 10:19] #181 closed

[2016-10-24 11:51] #185 closed

[2016-10-27 21:05] GIS87 commented on #183
Thank you for your response.  I'm trying to find some documentation on how to build a QUrl or QgsDataSourceURI instance.  I'm assuming this is done through a python script on the Actions tab of the WFS layer in QGIS?

[2016-10-28 08:06] luipir commented on #183
sorry @GIS87 I didn't want to confuse you. You don't have to edit any url, the url is correct, My comment was only a side note

[2016-11-01 16:26] gioman opened #187 "Cannot add WFS layer in manual tests"
At some point the following layer cannot be added:

retrictToRequestBBOX='1' srsname='EPSG:4326' typename='ne:ne_10m_populated_places' url='http://demo.boundlessgeo.com/geoserver/wfs' version='auto' table="" sql=

anyway the test can continue and finish ok.

[2016-11-07 08:50] alexbruy commented on #187
Looks like demo.boundlessgeo.com is down, as result layers can not be loaded

[2016-11-15 20:20] GIS87 commented on #183
So as an update, I was able to work around the bug by snipping the layer source in the actual python scripts, so the WFS is coming through the app.  Now, however, the actual widget is not actually carrying transactions over to Geoserver.  For example, when I try to move a single point on the WFS, the widget gives me an error saying "Error saving this feature to GeoServer.  0".  Does the app need t

[2016-11-18 11:25] gioman opened #188 "Link to ancient page"
After clicking on "create app" and saving the ouput a dialog shows with a link to the Boundless webSDK that points to a page from 2010

https://boundlessgeo.com/2010/06/opengeo-suite-1-9-1-community-edition/

[2016-12-10 05:29] arihan19 opened #190 "bookmark"
hello,
i have a problem when using bookmark controller with menuin 0.5.1 201609 version. i have no problem in story panel mode and in 0.5 version, but my bookmarks are 22 cases.
other problems is be seen in print, export image, add wfs,
please release new version of this plugin. i think very problems i meet will be solved if i can update to new vesion

thank you

[2017-01-02 10:05] bartvde opened #192 "wfst widget is missing showEditForm option"
https://github.com/boundlessgeo/sdk/blob/master/src/components/WFST.js#L139

[2017-01-02 10:09] bartvde commented on #192
we should probably look over all options to see that they can be set where it makes sense

[2017-01-06 16:44] jmiller-boundless opened #193 "Using a PostgreSQL view as a layer causing extent issue"
I ran the Web App Builder with a QGIS vector layer that is a PostgreSQL view.  Previews and app not showing due to Javascript error on line 77 of app_prebuilt.js  That line is getting generated as follows:
var originalExtent = [inf, inf, inf, inf];

Possibly due to the layer being a view?

[2017-02-13 07:09] arihan19 commented on #190
hello.
please help me.when i use menu for bookmarks. this error occured
![20170213_103117](https://cloud.githubusercontent.com/assets/24483043/22873955/83c02eee-f1d8-11e6-8a41-7a7defeaa278.jpg)

[2017-03-13 15:29] gioman commented on #36
Testing the "WAB-compiler" branch and this is still true.

[2017-03-13 15:45] gioman opened #194 "background in printed/pdf maps is always black"
Testing the "WAB-Compiler" branch.

See attached pdf

[map (2).pdf](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/838732/map.2.pdf)

[2017-03-13 15:47] gioman opened #195 "printed/pdf maps are always created as landscape even when QGIS layout is portrait"
Testing the "WAB-Compiler" branch.

See attached PDF
[map.pdf](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/838743/map.pdf)

[2017-03-13 15:48] gioman commented on #188
Testing the "WAB-Compiler" branch.

This does seems obsolete now.

[2017-03-13 15:48] #188 closed

[2017-03-13 15:56] gioman opened #196 "print widget layouts previews do not render well on first click (but they do on the following ones)"
Testing the "WAB-Compiler" branch

See attached image

![anim](https://cloud.githubusercontent.com/assets/1951107/23862715/a5cdf3d4-0805-11e7-85d5-3218dde0ec99.gif)

[2017-03-13 16:00] gioman opened #197 ""fill color" in "add layer" widget is ignored"
Testing the "WAB-Compiler" branch.

Tested with the attached geojson.

[brasil.geojson.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/838776/brasil.geojson.zip)

![screenshot_20170313_160020](https://cloud.githubusercontent.com/assets/1951107/23862911/34450e22-0806-11e7-8454-b6726157944d.png)

![screenshot_20170313_160026](https://cloud.githubusercontent.com/assets/1951107/23

[2017-03-13 16:05] gioman opened #198 "Wrong string subsitution"
Testing the "WAB-Compiler" branch.

When trying to preview an application I got the following warning/error, that seems should contain the name of a layer but that is not correctly shown

[2017-03-13 16:05] gioman commented on #198
![screenshot_20170313_160333](https://cloud.githubusercontent.com/assets/1951107/23863125/d4181ac0-0806-11e7-84dd-325e1ef1d995.png)

[2017-03-13 16:11] bartvde commented on #197
this is definitely SDK so assigning to myself

[2017-03-13 16:19] gioman opened #199 "Can't select what table see with the "attributes table" widget(?)"
Testing the "WAB-Compiler" branch.

I can't see (please close me if I'm wrong) a way to choose within the webapp what attribute table see when the "table" button is clicked. It seems to show always the table of the first layer added to the project. But maybe I'm missing something obvious here.

[2017-03-13 16:22] bartvde commented on #197
Should be fixed once this fix is pulled in: https://github.com/boundlessgeo/sdk/commit/5ef10dcce0ac6ffbcb113cd36f33d65d36573aef

[2017-03-13 16:23] bartvde commented on #199
Do you have a screenshot?

[2017-03-13 16:24] gioman opened #200 "font/style in "about" panel, identify pop-up, mouse position widget, etc. should match the default wabapp font/style"
Testing the "WAB-Compiler" branch.

See attached image. Of course this is something of minor importance but that would help improve the overall positive impression of the webapps.

![screenshot_20170313_162115](https://cloud.githubusercontent.com/assets/1951107/23864131/863aeae6-0809-11e7-9ec4-5e9d4f2dbc2a.png)

[2017-03-13 16:30] gioman opened #201 ""CreateApp" dialog should remember the last location used"
Testing the "WAB-Compiler" branch.

It seems to default always to ~.

[2017-03-13 16:31] gioman opened #202 "Add icon/button to allow close/open the "about"dialog"
Testing the "WAB-Compiler" branch.

Subject says it all.

[2017-03-13 16:34] gioman commented on #199
Hi! there isn't much to show: clicking on the "table" button in the webapp no dropdown to choose the layer is presented (not even show it should do). In the WAB plugin interface I can't see any option to choose if the attribute table of a specific layer could be see with the "attributes table" widget.

Note:
I also think that the "options" sub-panel of the attributes table one should not be expand

[2017-03-13 17:06] gioman opened #203 "Bookmarks do not work, unless using the "story panel" option, that makes them work"
Testing the "WAB-Compiler" branch.

Title and below image should explain well the issue. Note that also the Bookmarks description is not shown and that the panel looks "weird". If using the "story panel" bookrmarks work and description is shown.

![anim](https://cloud.githubusercontent.com/assets/1951107/23866024/72ac34c0-080f-11e7-9a5e-e771f7cc8f54.gif)

[2017-03-13 17:08] gioman opened #204 "Bookmarks "story" panel overlaps with the "about" panel"
Testing the "WAB-Compiler" branch.

![screenshot_20170313_170728](https://cloud.githubusercontent.com/assets/1951107/23866086/a396f6d8-080f-11e7-9a53-5b6c98f2d291.png)

[2017-03-13 17:08] volaya commented on #201
done already

[2017-03-13 17:08] bartvde commented on #200
I think WAB should leave out the font definition completely from the HTML page, since Material is supposed to be used in conjunction with Roboto font. I'll create a PR

[2017-03-13 17:10] bartvde commented on #199
We are reworking the attribute table options completely, see: https://github.com/boundlessgeo/sdk/pull/412

[2017-03-13 17:16] gioman commented on #159
@anitagraser @volaya @bartvde testing the WAB-Compiler branch I would day that this is now fixed/much better.

[2017-03-13 17:18] #179 closed

[2017-03-13 17:20] gioman commented on #51
@volaya this seems ok to me now while testing the "WAB-Compiler" branch. Can we close?

[2017-03-13 17:23] gioman opened #205 "Background become black when using fullscreen widget/button on Firefox"
Testing "WAB-Compiler" branch.

![screenshot_20170313_172146](https://cloud.githubusercontent.com/assets/1951107/23866795/d48a9ae0-0811-11e7-91d8-1269016d1579.png)

[2017-03-13 17:25] gioman opened #207 "Fullscreen widget/button overlaps with "mouse position" one"
Testing the "WAB-Compiler" branch

![screenshot_20170313_172121](https://cloud.githubusercontent.com/assets/1951107/23866857/102ba986-0812-11e7-9f89-d0f0bb759fbd.png)

[2017-03-13 17:31] gioman opened #208 "Add option to geolocation widget to allow choose zoom level"
Subject says it all.

[2017-03-13 17:38] bartvde commented on #199
Ok I see what you mean now wrt the layer selector not showing up (it's because the FeatureTable is configured with a layer property), will work on a fix for this one as well

[2017-03-13 17:49] gioman opened #209 ""layers" dialog is different in preview and compiled apps"
Testing the "WAB-Compiler" branch.

Seen on both FF and Chrome.

compiled:
![screenshot_20170313_174746](https://cloud.githubusercontent.com/assets/1951107/23867875/4263c462-0815-11e7-9e89-911a1dccf577.png)

not compiled:
![screenshot_20170313_174738](https://cloud.githubusercontent.com/assets/1951107/23867878/46e0ce04-0815-11e7-8415-2cda49d52972.png)

Moreover it seems that the transparency contr

[2017-03-13 17:52] gioman commented on #207
"full screen" button also overlaps with north arrow.

[2017-03-13 17:53] gioman opened #210 "Help file obsolete and not loading any style?"
Testing the "WAB-Compiler" branch.

Seems that the help file is possibly obsolete and/or not loading any style:
![screenshot_20170313_174104](https://cloud.githubusercontent.com/assets/1951107/23868076/f97deda8-0815-11e7-8b1f-2f523ffd0bbb.png)

[2017-03-13 17:59] gioman opened #211 "python error when clicking on "preview" and project has a raster layer (geotiff)"
Testing the "WAB-Compiler" branch.

[code]

[2017-03-13 18:14] bartvde commented on #208
there is no option in the SDK component as yet, will add, then we can add it in WAB as well

[2017-03-13 18:15] gioman opened #213 "Adding a WMS to project make preview/compiled webapp show blank"
Testing the "WAB-Compiler" branch.

Tested with Geoserver, Mapserver and ArcGIS Server WMS layers (source both vectors and rasters). i.e.

http://demo.geo-solutions.it/geoserver/web/wicket/bookmarkable/org.geoserver.web.demo.MapPreviewPage?1

[2017-03-13 18:22] gioman opened #214 "If there are no print layouts in the project then the resulting webapp should not show the "print" button."
Testing the "WAB-Compiler" branch.

This is a minor issue that results in a application button that has no use.

[2017-03-13 18:27] gioman opened #215 "Identify should be disabled when using measure tools"
Testing the "WAB-Compiler" branch.

Otherwise is very possible that clicking to use the measure tools will also result in a identify pop-up window.

[2017-03-13 18:31] bartvde commented on #215
weird they are both in the same toggle group, so this shouldn't happen. Maybe something broke in SDK, I'll investigate

[2017-03-13 18:35] gioman opened #216 "Zoom slider does not show in webapp"
Testing the "WAB-Compiler" branch.

Tested on both the preview and the compiled webapp.

[2017-03-13 18:44] gioman opened #217 ""refine" function of query tool always returns "NaN features matched by filter.""
Testing the "WAB-Compiler" branch.

I queried a world borders vector with

iso2 like "P"

to select all countries with iso2 code starting with "P". The query finds 19 results. Subsequently pressing on "refine" always returns

NaN features matched by filter.

[2017-03-14 07:48] #200 closed

[2017-03-14 07:51] #199 closed

[2017-03-14 08:15] bartvde commented on #208
Option added in sdk with https://github.com/boundlessgeo/sdk/pull/418

@volaya can I assign to you to add the option in WAB as well?

[2017-03-14 08:27] bartvde commented on #215
Confirmed this is an issue

[2017-03-14 08:34] #214 closed

[2017-03-14 08:36] bartvde commented on #215
It doesn't happen in a similar SDK app though

[2017-03-14 08:36] bartvde commented on #215
ah it seems the InfoPopup is missing the toggleGroup

```<InfoPopup toggleGroup='navigation' map={map} />```

[2017-03-14 09:10] #215 closed

[2017-03-14 09:18] volaya commented on #211
fixed

[2017-03-14 09:18] #201 closed

[2017-03-14 09:33] volaya commented on #195
The orientation parameter cannot actually be accesed from PyQGIS. It is just a GUI thing to swap width and height values. I just checked, and it seems that width and height values are correctly transferred to the layout definition in the JS code, so the issue must be on the SDK side (@bartvde)

[2017-03-14 09:43] gioman commented on #209
Similar consideration can be done also after enabling the transparency/download/etc function in the "layer list" widget.

[2017-03-14 09:44] volaya commented on #208
@bartvde sure, i will do it

[2017-03-14 09:46] gioman opened #219 "Transparency slider should not be show if transparency control is not activated"
Otherwise it will result in:

![5a9ba4e6-0815-11e7-87d5-e8a999c7e8ae](https://cloud.githubusercontent.com/assets/1951107/23894701/0ae01730-089b-11e7-85cf-c71fe872a9f4.png)

[2017-03-14 09:52] gioman opened #220 "Reordering layers controls do not show even if enabled"
Tested on both the previews and compiled webapps

![screenshot_20170314_095020](https://cloud.githubusercontent.com/assets/1951107/23894939/f1e71174-089b-11e7-9503-06cbca5f2ba6.png)

[2017-03-14 09:54] gioman commented on #220
Sorry now I see that the reordering is supposed to be made by drag and drop, but then there is another issue. Let me create a screencast.

[2017-03-14 09:58] gioman commented on #220
Will file a slightly different issue.

[2017-03-14 09:58] #220 closed

[2017-03-14 09:59] gioman opened #221 "Reordering layers will make layers disappear from layer list and map, but only in preview mode"
Compiled webapp is not affected

![anim](https://cloud.githubusercontent.com/assets/1951107/23895211/e4fab6ae-089c-11e7-8b5e-ca84ffb67c6a.gif)

[2017-03-14 10:02] gioman opened #222 ""download layer" functionality does not work on Firefox"
The control shows always in grey and clicking on it has no effect. Tested with all possible output formats, on both previews and compiled webapps and two browsers, FF and Chrome

![screenshot_20170314_100028](https://cloud.githubusercontent.com/assets/1951107/23895340/49a1f7a2-089d-11e7-9088-21ac174d8031.png)

[2017-03-14 10:10] volaya commented on #208
done. @bartvde, can you check it? https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/28571936a41053f3ecce8fb41701b792f3d6ec3f

[2017-03-14 10:17] gioman opened #223 "Disabling the "add permalink" option will result in a blank webapp"
It is also unclear if the option -when enabled- should add a permalink link in the weapp. If yes then the link does not show.

[2017-03-14 10:28] bartvde commented on #196
I'm able to reproduce this one, issue in SDK
Haven't found a solution as yet though

[2017-03-14 10:46] volaya commented on #210
There is no style created for the inline help. Should we move this to the UI team, so they can write some CSS for customizing it?

[2017-03-14 10:51] volaya commented on #197
I can confirm that the issue is fixed. Closing it

[2017-03-14 10:51] #197 closed

[2017-03-14 10:55] volaya commented on #223
It can confirm this. No error on the JS console, though.

When permalink is enabled, it is added to the url, but you have to pan or zoom for it to appear, since it is a permalink to the current canvas extent, and it shows up only when it's not the default one.

[2017-03-14 11:17] gioman opened #224 "WFS layers do not play well with WAB(?)"
After disabling the "use JSONP for WFS connections" optoin I was able to generate webapps with WFS layers.

I used layers from Geoserver, Mapserver and QGIS server.

In all cases the layers are visible in the layer list, but only the ones from Geoserver are also visible on the map.

Mapserver demo server:
http://demo.mapserver.org/cgi-bin/wfs?SERVICE=WFS&VERSION=1.0.0&REQUEST=GetCapabilities

I ca

[2017-03-14 11:27] gioman commented on #224
Unchecking the "Use view CRS for WFS connections" option does not seems to help.

[2017-03-14 11:40] bartvde commented on #223
Okay this is an issue in SDK, the view is not initialized with the extent in this case, will fix

[2017-03-14 11:56] gioman commented on #224
Apparently this is not only limited to Mapserver and QGIS Server as I was able to replicate with Geoserver (a testing endpoint from a Geonode 2.4 installation).

The Geoserver demo endpoint that works for me is

http://demo.geo-solutions.it/geoserver/wfs

I can provide privately the demo Geoserver endpoint that does not work for me.

[2017-03-14 12:02] bartvde commented on #223
Fixed with https://github.com/boundlessgeo/sdk/pull/419

[2017-03-14 12:14] bartvde commented on #195
should be fixed with https://github.com/boundlessgeo/sdk/pull/420

[2017-03-14 12:25] bartvde commented on #205
I cannot reproduce, do you have a sample app to reproduce?

[2017-03-14 12:25] gioman commented on #224
I tried to:

- import into the demo Geoserver endpoint a layer from postgis or shapefile, in different CRSs, and publish it via WFS

- add it to QGIS project and generate weapp with WAB

the result is always the same, layer added to layers list but not on map.

- I also tried to change several parameters (about the WFS service) in the Geoserver control panel but still no dice

[2017-03-14 12:32] bartvde commented on #203
confirmed this issue

[2017-03-14 12:34] gioman commented on #205
Just noticed that it only happens on FF.

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/841278/webapp.zip)

![anim](https://cloud.githubusercontent.com/assets/1951107/23900828/89ecf5fe-08b2-11e7-9529-cb807828bfc7.gif)

[2017-03-14 12:43] bartvde commented on #203
should be fixed with https://github.com/boundlessgeo/sdk/pull/421

[2017-03-14 12:53] gioman opened #225 "Reprojection issue(?)"
Not sure this is a bug, anyway I'll leave here the description and a screenshot.

- QGIS project in in EPSG 3857

- Add the "regioni" WFS layer from http://demo.geo-solutions.it/geoserver/wfs

- Layer is available (and added) in EPSG 3044

- in WAB if the "Use view CRS for WFS connections" optionis checked the resulting weabpp will show the "regioni" layer correctly aligned with others. If the opt

[2017-03-14 13:54] bartvde commented on #208
@volaya doesn't seem to work for me see:

[code]

![selection_131](https://cloud.githubusercontent.com/assets/319678/23903842/30748762-08c6-11e7-9b2f-1965a4e3449f.png)

[2017-03-14 14:02] luipir commented on #225
Ha... you found the origin of hearthquakes in Italy ;)

[2017-03-14 14:12] bartvde commented on #209
Currently preview takes SDK from the gh-pages branch, which is generated after each commit on the sdk project: https://github.com/boundlessgeo/sdk/tree/gh-pages

[2017-03-14 14:15] bartvde commented on #209
I still have an open ticket on SDK to automate the release procedure, maybe I should write out the artefacts to a release branch. So we can pull it into the preview more easily.

[2017-03-14 14:24] gioman commented on #209
but on the compiled webapp it does not look/seems quite right. Not sure from your comments if you see that.

[2017-03-14 14:25] gioman commented on #210
yes, I think so.

[2017-03-14 14:54] gioman commented on #224
FYI just downloaded and started a local instance of Geoserver

http://geoserver.org/release/stable/

added a WFS from the ones available out of the box, still no dice.

[2017-03-14 15:03] bartvde commented on #224
You need to enable CORS headers, the GeoSolutions geoserver has CORS enabled

```Access-Control-Allow-Origin:*```

[2017-03-14 15:04] gioman commented on #224
yeah, I just noticed by enabling it on my local Geoserver instance.
But this raises another question... why the "use JSONP for WFS connections" option then?

[2017-03-14 15:05] bartvde commented on #224
Maybe some admins don't allow you to enable CORS, but they do enable you to use JSONP

[2017-03-14 15:08] bartvde commented on #209
the compiled one is the old one, so no need to worry about that

[2017-03-14 15:11] gioman commented on #209
ok then. thanks!

[2017-03-14 15:11] gioman commented on #209
I guess we can close this?

[2017-03-14 15:22] bartvde commented on #209
No let's leave it open as a reminder that we need to sync preview and build service versions?

[2017-03-14 15:49] gioman opened #226 "WFS-T layer selector is not visible on compiled webapp (is ok on preview)"
Seen on both FF and chrome

![screenshot_20170314_154808](https://cloud.githubusercontent.com/assets/1951107/23909127/cdcc329c-08cd-11e7-85a2-f523a8fd3ed1.png)

![screenshot_20170314_154755](https://cloud.githubusercontent.com/assets/1951107/23909116/c7fa5fd8-08cd-11e7-8597-3d9f4b67ea25.png)

[2017-03-14 16:07] gioman opened #227 "WFS-T panel/tools cannot be disabled/hidden/unselected"
Among the other things this can lead to confusion when/is selecting other tools. But in general seems missing a way to disable/hide/unselect the panel:

![anim](https://cloud.githubusercontent.com/assets/1951107/23910043/575c577e-08d0-11e7-8c7b-0c71d8ecf046.gif)

[2017-03-14 17:31] bartvde commented on #213
I'm trying to reproduce this but get a Python error instead:

AttributeError: 'QgsRasterLayer' object has no attribute 'geometryType'

![selection_132](https://cloud.githubusercontent.com/assets/319678/23913819/5feb2096-08e4-11e7-8fe2-20e2f8222171.png)

@volaya any ideas?

[2017-03-14 17:32] bartvde commented on #214
@volaya is this fixed enough, no need for any changes in SDK?

[2017-03-14 17:54] bartvde opened #228 "Issue with Query tool in tab layout"
it's outputting ```<Tab value={4} label='Query'><div id='query-panel' className='query-panel'><QueryBuilder map={map} /></div></Tab>```

but it should be using React.createElement as e.g. the attributestable does

cc @volaya

[2017-03-14 17:55] volaya commented on #214
WAB will warn that there is a print widget without print layouts...but it will still create it if the user wants to. I guess SDK should take care of not showing the button in this case

[2017-03-14 18:05] bartvde commented on #211
@volaya seems I'm still running into this same issue with #213

[2017-03-14 18:15] gioman opened #230 "WFS-T issues"
Setup:
webapp application generated and published locally on Apache on port 80
Geoserver on another machine working on port 80, WFS-T enabled and working (tested on QGIS)

Observations:

- when trying to modify a feature the webapp returns the message

_Error saving this feature (modification) to GeoServer. 0_

in firebug the error is what you can see in the attached image.

- when trying to add a

[2017-03-14 18:18] gioman commented on #227
on the compiled app the panel can be hidden by pressing again the wfs-t button, but not on the preview.

In the first case there is the problem described here
https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/226

[2017-03-14 18:21] #195 closed

[2017-03-14 18:22] bartvde commented on #219
Should have been fixed with https://github.com/boundlessgeo/sdk/commit/b8e803eca70ef5f6523f140cb2267934317a8849 right @wnordmann ?

[2017-03-14 18:24] bartvde commented on #221
@wnordmann any ideas here? Seems it might be related to the recent changes in LayerList if compiled apps using the previous release work fine.

[2017-03-14 18:25] bartvde commented on #222
@wnordmann any ideas on this one?

[2017-03-14 18:26] #223 closed

[2017-03-14 18:31] bartvde commented on #225
@gioman any chance you can send me your QGIS project for this one, with the WAB settings file ideally?

[2017-03-14 18:32] wnordmann commented on #219
Agreed, should be fixed in latest push

[2017-03-14 18:33] bartvde commented on #214
Ok will work on a fix as well then on the SDK side

[2017-03-14 18:34] bartvde commented on #214
So to confirm, SDK will get an empty array in this case?

[2017-03-14 18:37] bartvde commented on #230
@gioman just checking, but did you enable WFS transactions in GeoServer?

![selection_134](https://cloud.githubusercontent.com/assets/319678/23916768/947c54a2-08ed-11e7-85ea-ae33f2da53b8.png)

[2017-03-14 18:37] bartvde commented on #230
ah sorry just read now that it works for you from QGIS, so it must be enabled

[2017-03-14 18:38] bartvde commented on #230
On the QGIS side, were the transactions done with any log in, or anonymous?

[2017-03-14 18:38] bartvde commented on #227
ah we need to change the top position of that container, so it's outside of the toolbar

[2017-03-14 18:40] bartvde commented on #219
Thanks for confirming, closing this one.

[2017-03-14 18:40] #219 closed

[2017-03-14 19:15] wnordmann commented on #222
I know what causing the grey, but the no action when clicked is unexpected.  What kind of file (KML, GeoJSON, ect) are you trying to download?

[2017-03-14 19:23] bartvde commented on #222
KML, GeoJSON, GPX are supported by WAB, and it seems @gioman tested with all 3 of them

[2017-03-14 19:23] bartvde commented on #222
actually I justed now with GeoJSON and it works fine for me

[2017-03-14 19:24] bartvde commented on #222
![selection_135](https://cloud.githubusercontent.com/assets/319678/23918689/37845b26-08f4-11e7-8c84-345b58f75339.png)

[2017-03-14 19:25] bartvde commented on #222
ah looks like a Firefox issue

[2017-03-14 20:00] volaya commented on #208
fixed

[2017-03-14 20:59] gioman commented on #230
I tested both cases. Allowing transactions with no need for any authentication makes no difference.

[2017-03-14 20:59] gioman commented on #230
exactly.

[2017-03-14 21:01] gioman commented on #222
I changed the title accordingly. Anyway the download in GPX format for polygons must be disabled or fixed (the file comes out almost empty).

[2017-03-14 21:09] gioman commented on #224
it seems to me very likely that a user will try to add a WFS layer from a server that has not enabled CORS and JSONP, so he/she will disable the "use JSONP for WFS connections"  option, get no errors/warnings from WAB plugin and then generate a webapp where such layers will show in layer list but not on map. In addition to documenting this (which maybe is already done, but cannot find it now) the

[2017-03-14 21:19] gioman commented on #225
@bartvde

compiled webapp attached, project and config file next

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/842725/webapp.zip)

[2017-03-14 21:20] gioman commented on #225
project attached

[project.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/842728/project.zip)

[2017-03-14 21:25] gioman commented on #213
confirmed here too:

[code]

[2017-03-14 21:26] gioman commented on #211
error is now

Traceback (most recent call last):
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/maindialog.py", line 460, in preview
    problems = checkAppCanBeCreated(appdef)
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/appcreator.py", line 82, in checkAppCanBeCreated
    if getSize(applayer.layer) > MAXSIZE:
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/ap

[2017-03-14 21:32] gioman commented on #192
does this means that editing wfs-t should also allow edit/enter attributes?

[2017-03-14 22:52] gioman commented on #230
after enabling CORS on server the error message for edits is slightly different, but still no dice. No changes for the "draw" (add new feature) tool.

[2017-03-14 23:02] gioman opened #231 "Base layer "open topo map" does not show"
Tested on both preview and compiled webapps on both FF and Chrome.

[2017-03-14 23:03] gioman opened #232 "basemap "stamen watercolor" shows twice"
![screenshot_20170314_230039](https://cloud.githubusercontent.com/assets/1951107/23926120/64ec3ea6-090a-11e7-9853-ee161f024c61.png)

[2017-03-15 07:15] #211 closed

[2017-03-15 07:42] bartvde commented on #208
confirmed it works now, thanks

[2017-03-15 07:42] #208 closed

[2017-03-15 07:46] bartvde commented on #222
yeah GPX does not support polygons

[2017-03-15 08:08] bartvde commented on #224
@volaya the docs and warning is that something you can work on?
@gioman normally people will deploy the webapp next to their geoserver, so that it is a relative url, and CORS or JSONP is not needed in the production environment.
There is also a plugin for Chrome to disable the security: https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en maybe

[2017-03-15 09:45] gioman commented on #224
I enabled CORS in Apache in my local QGIS Server test endpoint. Published a few layers as WFS and added them to a QGIS project to publish them using WAB. Still those layers will show in layer list but not on the map.

[2017-03-15 09:56] gioman commented on #224
I just (re)tested this scenario (I think): weabpp published with Apache, Geoserver on the same server, no JSONP, no CORS, no WFS layer on map, layer name visible in layer list.

[2017-03-15 09:57] bartvde commented on #224
then there must be something else going on, is there nothing in the console?

[2017-03-15 09:59] volaya commented on #224
CORS is checked before the app is created, but only if there are popups. Is it needed in any case, just for fetching the layer data?

[2017-03-15 10:02] volaya commented on #224
I correct: it's is checked for WMS layers, if they have popups enabled. It's not checked for WFS ones. Should i check them and warn users if the server doesnt have CORS enabled and not using JSONP?

[2017-03-15 10:02] gioman commented on #224
just a long list of requests, all "200 OK".

[2017-03-15 10:09] bartvde commented on #224
and they have the expected content? Can you log a request and the response if one request that has features?

[2017-03-15 10:19] gioman opened #233 "Overlays issues"
After adding a few overlays layers I see the following:

- The openweather tiled layers are pretty slow. I guessed it could be a problem related to the local home connection, so I uploaded the webapp to a real server and they are still very slow, hence providing a not very good user experience. If those were chosen as example then I would suggest see if there are tileservices that are faster.

- T

[2017-03-15 10:24] gioman opened #234 "python error on "paver install" on master branch"
giovanni@sibirica:~/Desktop/qgis-webappbuilder-plugin$ paver install
---> pavement.install
---> pavement.builddocs
git submodule init
git submodule update

Captured Task Output:
---------------------

---> pavement.install
---> pavement.builddocs
git submodule init
git submodule update
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/paver/tasks.py", line 195, in _run_ta

[2017-03-15 10:26] bartvde commented on #225
Thanks I was able to reproduce, I need to work-around an issue in openlayers to fix this, I don't see another way since providing a projection alias is also fragile for all the different flavours of EPSG urns out there. Will create a PR. I tested out the solution in an app already.

![selection_136](https://cloud.githubusercontent.com/assets/319678/23944153/222e2864-0972-11e7-9f57-f21c40e8f69b.png

[2017-03-15 10:28] gioman commented on #213
Python error solved, still blank webapp after adding WMS layers from 3 different type of endpoints.

[2017-03-15 10:31] gioman opened #236 "Add legend for rasters layers"
It would be nice to have also legend for raster layers (or if it supposed to show then it does not).

[2017-03-15 10:34] gioman commented on #176
I just updated and reloaded the plugin using the plugin reloader. I guess that this issue on master is fixed.

[2017-03-15 10:34] #176 closed

[2017-03-15 10:38] #216 closed

[2017-03-15 10:40] #234 closed

[2017-03-15 10:44] #232 closed

[2017-03-15 10:48] gioman commented on #170
@bartvde this should be fixed in master, right?

[2017-03-15 10:52] #231 closed

[2017-03-15 10:57] bartvde commented on #225
I didn't test my fix with ol production build, so this won't work unfortunately.

[2017-03-15 11:13] gioman commented on #224
So my test project is in epsg 3857, I added a geoserver WFS layer in WGS84.

With the option "Use view CRS for WFS connections" checked

_http://localhost:8080/geoserver/wfs?service=WFS&version=1.1.0&request=GetFeature&typename=topp:states&outputFormat=application/json&&srsname=EPSG:3857&bbox=-2504688.542848654,2504688.542848654,1.3969838619232178e-9,5009377.08569731,EPSG:3857_

_{"type":"FeatureC

[2017-03-15 11:16] volaya commented on #224
shouldnt the app ask in the supported CRS and then reproject?

I dont remember what is the reason for having that option of using the view CRS for WFS layers...

[2017-03-15 11:22] gioman opened #238 ""Refresh layers" widget prevents webapp to be created and/or compiled"
Just wanted to test this widget with a WFS layer. When clicking on "preview" nothing happens, the preview is not opened in the default browser as it happens always when using the preview function.

If clicking on "createapp" the operation that usually takes a couple of minutes finishes (with no errors) in just a second. The webapp is "blank" meaning that has no html (or other type) files in it.

[2017-03-15 11:25] gioman opened #239 "Python error when trying configure the "timeline" widget"
Traceback (most recent call last):
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/webbappwidget.py", line 38, in configure
    dlg = ParametersEditorDialog(self._parameters)
TypeError: 'NoneType' object is not callable

[2017-03-15 11:26] gioman opened #240 "python error when trying configure the "charts" widget"
Traceback (most recent call last):
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/widgets/charts/charts.py", line 50, in configure
    dlg = ChartToolDialog(self._parameters["charts"])
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/widgets/charts/charts.py", line 81, in __init__
    self.setupUi(self)
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/widgets/charts

[2017-03-15 11:33] volaya commented on #238
just tried and had no issues. Any more details about layers, etc, that you can provide.

If no layer is configured to be refreshed, i correctly see the warning

WMS layers, however, seem to be broken, i get this:

Uncaught TypeError: Cannot read property 'featureType' of undefined
    at RESTService._getStyleNameUrl (full-debug.js:176707)
    at RESTService.getStyleName (full-debug.js:176727)

[2017-03-15 11:40] volaya commented on #240
cannot reproduce here.

This is a weird issue, looks like a reference gets lost and becomes None

@luipir Might be related to the vanishing imports that you had in other parts of WAB??

[2017-03-15 11:42] gioman commented on #240
restarted QGIS, no more error.

[2017-03-15 11:42] #240 closed

[2017-03-15 11:42] gioman commented on #239
restarted QGIS, no more error.

[2017-03-15 11:42] #239 closed

[2017-03-15 11:43] gioman commented on #238
restarted QGIS, no more problem.

[2017-03-15 11:43] #238 closed

[2017-03-15 11:43] volaya commented on #239
I would suggest not using the plugin reloader, in case you are using it. Might be the cause for this...

[2017-03-15 11:43] luipir commented on #239
hmmmm... can be related with plugin reload?

[2017-03-15 11:45] gioman commented on #239
yeah... I realized it just after having filed the ticket... sorry for that.

[2017-03-15 11:48] luipir commented on #239
NP, in the opposite it give me more info where the problem can be generated! I should say that I didn't thosugh about references remained and not destroyed after releoad! thios can involve also python binding to C++ where ownership of variable depend how the variable is instantiated.

This can give a research area to solve None type errors... I don't know if it explay module uload!

[2017-03-15 11:57] gioman opened #241 "Timeline widget, from/to dates gets swapped"
See:

![anim](https://cloud.githubusercontent.com/assets/1951107/23947376/7036218e-0976-11e7-9e0d-37317243368c.gif)

[2017-03-15 12:07] gioman opened #242 "Allow chose what layer the selection tool will have to make the selection"
Drawing a selection rectangle where features of >1 layer are it will select features on both layers.

And also add a "remove selection" button/option.

This ticket would normally classify as "enhancement" but as the selection tool is used to create charts, then as it is implemented now it a problem for the charts functionality.

[2017-03-15 12:10] gioman commented on #183
On master it works, if JSONP is enabled on Geoserver (anyway no more python error).

[2017-03-15 12:10] #183 closed

[2017-03-15 12:10] gioman commented on #46
@volaya I guess this can be closed?

[2017-03-15 12:11] gioman commented on #104
@volaya I guess this can be closed (despite the issues I found in WFS-T the functionality is there)?

[2017-03-15 12:12] gioman commented on #190
Can you try the latest revision code and see if the problem persists? thanks.

[2017-03-15 12:16] gioman opened #243 "Selection tool does not work"
it works on preview.

Seen on both FF and Chrome.

[2017-03-15 12:17] gioman opened #244 "Charts window/dialog cannot be closed in compiled webapp"
Clicking on the "X" works as expected in preview.

Seen on both FF and Chrome.

[2017-03-15 12:22] bartvde opened #245 "wfsInfo should have featureType instead of typeName"
In SDK we use featureType, not typeName

[code]

Also it seems that featureNS is not set, @volaya is this a known issue?

Looking at:

http://demo.geo-solutions.it/geoserver/wfs?request=DescribeFeatureType&typename=geosolutions:regioni&version=1.1.0

it looks to be: ```targetNamespace="http://www.geo-solutions.it"```

[2017-03-15 12:31] bartvde commented on #225
I'm going to try another approach, a custom loader

[2017-03-15 12:38] gioman opened #246 "Allow load logo from URL"
Just a suggestion.

[2017-03-15 13:20] gioman opened #247 "Cannot compile webapp after having entered connect credentials or master password"
message (in QGIS  log) is always

2017-03-15T13:19:14	2	WebAppBuilder: Cannot find stored credentials with authcfg = fn24977

[2017-03-15 14:04] luipir commented on #247
it means that Connect plugin, when logged, store credentials in AuthDB and get its reference authcfg IDstored in settings... but in Authdb you can remove configuration referenced by authcfg ID => this error

[2017-03-15 14:53] volaya commented on #242
Not sure how easy this is going to be. I remember that selection is kept in OL as a single set of features, from all available layers...

If @bartvde confirms that this can be implemented, i can add that parameter to the selection tool

The remove selection button looks like a good idea to me

[2017-03-15 15:20] #241 closed

[2017-03-15 15:25] luipir commented on #247
during clean installation @gioman forgot to clean also .config (he is in linux) or registry (in case of windows) => Connect config remained but authdb has been removed => the error.

is the message meaningful for a user?

may ai close the issue

[2017-03-15 15:33] bartvde commented on #213
ok I will have another look now that this issue is gone

[2017-03-15 15:42] #225 closed

[2017-03-15 15:45] #247 closed

[2017-03-15 15:46] bartvde commented on #221
@gioman any chance you could share your project? we have trouble reproducing

[2017-03-15 15:46] bartvde commented on #221
the QGIS project with the WAB settings preferably

[2017-03-15 15:53] volaya commented on #245
I fixed the typeName issue.

featureNS is not filled, but i dont see a way of retrieving that from the QGIS WFS layer object... It's marked as a TODO in the code...

[2017-03-15 15:55] gioman commented on #221
I cannot either. Weird.

Anyway the d&d operation on Chrome is not as nice as in FF, but this is just a minor issue.

Feel free to close.

[2017-03-15 15:58] #221 closed

[2017-03-15 17:09] bartvde commented on #213
![selection_138](https://cloud.githubusercontent.com/assets/319678/23961227/911c14ce-09aa-11e7-88e7-314bfab6068c.png)

[2017-03-15 17:17] bartvde commented on #213
Fixed with https://github.com/boundlessgeo/sdk/commit/c36a3faed4b058f8e7b0a8946020318929b27f45

[2017-03-15 17:17] #213 closed

[2017-03-15 18:48] gioman opened #249 "QGIS default network timeout (60000 ms) not enough for the compiler to generate the webapp"
This will result in an error/dialog that suggest to look the QGIS log. An advanced user could eventually understand the issue and change the timeout in QGIS general options, a common user would not.

[2017-03-15 19:05] volaya commented on #249
MAybe we can capture that error and have a more specific message in this case, showing the user how to modify that setting. Sounds good to you?

(@luipir)

[2017-03-15 21:05] gioman opened #250 ""fake" credential that should not be allowed to compile... can compile the webapp..."
Luigi knows the credential.

log:

2017-03-15T19:22:06	1	http_call request: https://api.dev.boundlessgeo.io/v1/websdk/package
2017-03-15T19:22:06	1	Setting header Content-Type to multipart/form-data; boundary=b0b6b421f3fd4ac786f3e1d300ad6886
2017-03-15T19:22:06	1	Setting header authorization to Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ik9FUXhRakl6UmpVME5qZzJRakZHUVVJeVJEUkVSak5CUWpReE1Ub

[2017-03-16 08:39] volaya commented on #250
Isnt this a problem of the service itself, that works even if credentials are wrong??

[2017-03-16 09:00] gioman commented on #250
yes. I spoke with Luigi yesterday night and asked me to file a ticket as a reminder to ask someone why this is happening (I already asked Carrie to do so, and the first feedback is the permissions for that fake credential are "ok").

[2017-03-16 09:04] luipir commented on #250
related jira task: https://issues.boundlessgeo.com:8443/browse/BD-1386

[2017-03-16 09:05] gioman commented on #224
this option confused me, but maybe because I'm not understanding 100% how WFS works. What I know is that WFS layers are always served in just *one* CRS, so there is never server side reprojection (unlike WMS). So if needed reprojection must be done always client side.

[2017-03-16 09:18] volaya commented on #249
I documented this in here

https://github.com/boundlessgeo/qgis-webappbuilder-plugin/blob/master/docs/source/wabandwebsdk.rst

[2017-03-16 09:22] luipir commented on #250
confirmed! I was able to compile with supposed not allowed credentials

[2017-03-16 09:27] bartvde commented on #243
@gioman can you share a compiled webapp that shows the problem?

[2017-03-16 09:28] bartvde commented on #245
okay, so let's close this then if it's not possible

[2017-03-16 09:28] #245 closed

[2017-03-16 09:28] bartvde commented on #245
see: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/0e73ca08ca7be6b2e59d69012a1cfadd94da7413

[2017-03-16 09:28] #203 closed

[2017-03-16 09:29] bartvde commented on #192
right, the SDK supports editing of the attributes, but it's not enabled in WAB it seems

[2017-03-16 09:36] luipir commented on #250
I was able to compile skipping qgis and using postman to send a post with the token of the fake credentials! I can affirm that the problem is server side.

http result = 200 = OK

[2017-03-16 09:51] bartvde commented on #194
seems related to JPEG output format

[2017-03-16 09:52] bartvde commented on #194
but we switched to JPEG for a reason: https://github.com/GeoNode/geonode-client/issues/109

[2017-03-16 09:59] bartvde commented on #194
ok I found a fix

[2017-03-16 10:10] bartvde commented on #194
should be fixed with: https://github.com/boundlessgeo/sdk/commit/9f97dab46a9102e3e952fb21a3ea6bb9b53696cb

[2017-03-16 10:10] #194 closed

[2017-03-16 10:17] bartvde commented on #236
You mean for instance for WMS layers?

[2017-03-16 10:19] luipir commented on #249
added a message box when timeot is received with instruction.
![screenshot from 2017-03-16 11-16-22](https://cloud.githubusercontent.com/assets/3344634/23991533/f6bd5e98-0a39-11e7-834c-968d0dd12c62.png)

this can have a drawback... because I'm not able to receive TimeOut from local client, but only if it arrive from server side.
The NAM library receive a simple "Network error #5: Operation cancele

[2017-03-16 10:19] bartvde commented on #170
right that is fixed

[2017-03-16 10:19] #170 closed

[2017-03-16 10:21] bartvde commented on #224
There is server-side reprojection available for WFS normally though

[2017-03-16 10:21] bartvde commented on #224
WFS layers have a native CRS, but they can definitely be reprojected by GeoServer

[2017-03-16 10:22] bartvde commented on #224
I'm going to do some tests with my local GeoServer setup and will report back here

[2017-03-16 10:23] luipir commented on #249
closed with https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/f43a7ae4bef92e4482c426fffe128ab922058360

[2017-03-16 10:23] #249 closed

[2017-03-16 10:24] luipir commented on #249
if this strategy is not usefult for the user experience, feel free to reopen it

[2017-03-16 10:51] bartvde commented on #224
I'm getting this:

[code]

probably related to the empty featureNS that WAB provides

cc @volaya

[2017-03-16 10:57] bartvde commented on #224
So @gioman for me the layer shows up fine, I just can't do any transactions. Will see if WebSDK can get the correct featureNS through DescribeFeatureType

[2017-03-16 11:02] gioman commented on #236
Well I understand that for WMS would be via getlegend, but I was thinking more to file based rasters.

[2017-03-16 11:25] gioman commented on #243
yes but only later today.

[2017-03-16 11:27] bartvde commented on #243
ok no rush, thanks in advance

[2017-03-16 11:36] gioman commented on #224
I'm not sure (and here I trust yo guys) that this is a standard thing, maybe GS can do, but I believe others don't.

[2017-03-16 11:37] bartvde commented on #224
see: http://docs.geoserver.org/latest/en/user/services/wfs/vendor.html#reprojection
What you say was true for WFS 1.0.0

[2017-03-16 11:42] bartvde opened #251 "featureType should not have the prefix"
```featureType: 'topp:states',```

should be:

```featureType: 'states',```

@volaya is this something you can fix easily?

[2017-03-16 11:53] bartvde commented on #251
Fixed with https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/0fc50b66df86898fbb50c451f49af4c3ceb3e750

[2017-03-16 11:53] #251 closed

[2017-03-16 11:55] volaya commented on #236
for wms layers it should already add the getlegend image.

Legends are generated by QGIS in WAB, not in the webapp, so it should be easy to add it, i think

[2017-03-16 13:32] SrNetoChan commented on #210
Shouldn't​ we use the plugin's documentation instead?

[2017-03-16 13:46] gioman commented on #224
good to know! anyway I think this allows us close in to the issue... afaik QGIS WFS client always defaults to 1.0.0

[2017-03-16 13:48] bartvde commented on #224
I've verified it works with my local GeoServer after CORS is enabled, after my recent SDK changes and @volaya's recent WAB changes

@volaya do you still plan to add the CORS warning for WFS, or was it done already?

[2017-03-16 13:50] bartvde commented on #202
@volaya this seems like a WAB issue right?

[2017-03-16 13:52] bartvde commented on #205
Confirmed the issue

[2017-03-16 13:55] volaya commented on #224
No, i have to add it

On Thu, Mar 16, 2017 at 2:48 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-16 13:56] volaya commented on #210
You mean the same CSS? That might be too complex, since it's all the sphinx
stuff...

We cannot use the docs directly, because this help is created on the fly,
specific for each web app, and only contains the help about the controls
that are included...

On Thu, Mar 16, 2017 at 2:32 PM, Alexandre Neto <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundles

[2017-03-16 13:56] gioman commented on #236
now wms support is fixed I will have a look at it later then. Thanks!

[2017-03-16 13:57] SrNetoChan commented on #210
I just realized that we are talking about the apps help, not the plugin.

[2017-03-16 14:21] #205 closed

[2017-03-16 14:24] bartvde commented on #202
No there is nothing, maybe we should consider adding a panel or something do. So we can get rid of a lot of your custom code.

[2017-03-16 14:25] bartvde commented on #202
I'm not sure if it will happen in this iteration though.

[2017-03-16 14:27] bartvde commented on #202
Let me think about it a bit before you do anything. Will report back here.

[2017-03-16 19:26] gioman commented on #243
now the compiler seems down... so I cannot try create again the webapp with this issue. Will try again later.

[2017-03-16 19:31] gioman commented on #236
confirm it works. Can you confirm that WMS (WFS too?) layers behind authentication are not yet supported (or at least are not working now)?

[2017-03-17 09:26] bartvde commented on #242
Removal can now be done through the FeatureTable, but I agree a separate menu option is needed.

As for only selecting features in certain layers, I need to talk to @jjmulenex when he gets back, how this can be done. The code kind of supports it already. Maybe we could have something in the layer switcher that controls selectable.

```if (lyr.getVisible() && lyr.get('isSelectable') === true) {```

[2017-03-17 10:23] bartvde commented on #242
Clear option will be added with:https://github.com/boundlessgeo/sdk/pull/424

Let's leave this ticket open to see how we can select layers as selectable from the LayerList

[2017-03-17 10:46] volaya commented on #224
I added a check for CORS enabled for WFS layers. Please test and close the ticket if it's all fine

[2017-03-17 14:09] luipir commented on #250
server inconsistencies => closing

[2017-03-17 14:09] #250 closed

[2017-03-17 14:17] bartvde commented on #236
assinging to you @volaya since this is WAB and not SDK

[2017-03-17 14:31] bartvde commented on #244
@volaya this is part of WAB right? Let me know if you need help.

[2017-03-17 14:35] bartvde commented on #233
Investigating this one now.

[2017-03-17 14:52] bartvde commented on #233
I took out the ellipsis for all group layers with: https://github.com/boundlessgeo/sdk/commit/352c61959a45128670a0c66afbe6afe7470da1be

As to you other descriptions:

``` I suggest to load them toggled off```

shouldn't this match the visibility in QGIS? In any case, I defer to @volaya here since I don't know enough.

I only know that group layers such as they are in openlayers right now, and what

[2017-03-17 14:58] bartvde commented on #233
I'm going to close this as I think there is nothing additional that can be done now. @volaya feel free to reopen if you disagree

[2017-03-17 14:58] #233 closed

[2017-03-17 14:59] #230 closed

[2017-03-17 15:00] bartvde commented on #227
I have made those changes, closing.

[2017-03-17 15:00] #227 closed

[2017-03-17 15:35] bartvde commented on #226
@gioman please provide the compiled app showing this. TIA

[2017-03-17 15:44] bartvde commented on #222
looks like we should use FileSaver, since the current approach does not work in FF

[2017-03-17 16:32] bartvde commented on #222
Download fixed in FF, still need to disabled download for GXP polygons

[2017-03-17 17:23] bartvde commented on #222
Done with: https://github.com/boundlessgeo/sdk/commit/ed24b4c24f8530476a57c48614263b6d2f4c6f39

[2017-03-17 17:23] #222 closed

[2017-03-19 00:21] SrNetoChan commented on #51
I was not able to export any image using the preview mode

[2017-03-19 00:47] SrNetoChan opened #253 "Could not unzip webapp.zip"
Trying to create an App, I'm getting this error:

2017-03-19T00:38:56	2	WebAppBuilder: Could not unzip webapp /tmp/qgiscommons/607a0d18e0204dda81bda5f1c4a079f9/webapp.zip in folder /home/alexandre/boundless/webapp/webapp

Got this both in Windows and Linux

[2017-03-19 00:53] SrNetoChan commented on #113
I just realized that would be nice to have a QGIS project that would allow me to create/update screenshots for the documentation. Maybe we could use that to produce the appdef examples?

[2017-03-19 01:01] SrNetoChan opened #254 "Bookmark selectors seems misplaced"
Shouldn't the bookmark selector be in the menu?
![image](https://cloud.githubusercontent.com/assets/3607161/24077258/8148e878-0c3f-11e7-9900-baa829b77a34.png)

![image](https://cloud.githubusercontent.com/assets/3607161/24077255/744ae860-0c3f-11e7-9afd-c8e3685dd7c1.png)

[2017-03-19 01:04] SrNetoChan opened #255 "Using shift to zoom by rectangle selects menu's text"
![image](https://cloud.githubusercontent.com/assets/3607161/24077270/e01dd9f8-0c3f-11e7-83c9-e137137b05f6.png)

[2017-03-19 01:10] SrNetoChan opened #256 "Overview map shows all visible layers"
Not sure if this is intended. but the overview map is showing all visible layers in the main map. Get's quite messy.

![image](https://cloud.githubusercontent.com/assets/3607161/24077307/d4dcf62c-0c40-11e7-8a63-e7021c74607d.png)

[2017-03-19 01:14] SrNetoChan opened #257 "Filter clear button in attribute table looks too big"
![image](https://cloud.githubusercontent.com/assets/3607161/24077323/511f2638-0c41-11e7-9342-e364e3241057.png)

[2017-03-19 10:13] volaya commented on #253
does that zip file exist? can you unzip it manually?

[2017-03-19 10:14] volaya commented on #256
For each layer you add, there is an option to specify if you want it in the overview or not

[2017-03-19 10:20] gioman commented on #253
@volaya don't bother with this error is caused by problems in compiler endpoint

[2017-03-19 10:20] #256 closed

[2017-03-19 20:44] luipir commented on #253
yes, and I can't have any feedback from the server in this case! probably we should have an endpoint that for sure create this problem and open en issue to the server team.... btw for me it's almost a mistery when the endpoint change or not. better to have a look in wab_sdk list.

[2017-03-20 08:18] gioman commented on #255
@SrNetoChan (maybe it too early in the morning for me...) zoom by rectangle with shift?

[2017-03-20 08:22] SrNetoChan commented on #255
Yes, in Openlayers (as in many others), you can press the shift key, then draw a rectangle to zoom in to a particular area.

[2017-03-20 08:24] #253 closed

[2017-03-20 08:25] gioman commented on #255
@SrNetoChan then works fine for me here on both FF and Chrome.

[2017-03-20 08:33] gioman commented on #257
@SrNetoChan seems ok for me on both FF and Chrome.

[2017-03-20 08:35] gioman commented on #51
@SrNetoChan works fine here on FF and Chrome.

[2017-03-20 08:37] gioman commented on #254
@bartvde I hd reported the misplacement here https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/203 but that was closed, is the bookmark panel supposed to show there?

[2017-03-20 08:38] bartvde commented on #254
ah I didn't get that from your initial ticket, no it should be in the menu, I'll investigate why it's not

[2017-03-20 08:47] gioman commented on #233
@bartvde @volaya those layers are added in the plugin, are not part of the QGIS project.

[2017-03-20 08:49] gioman commented on #243
was hoping to be able to compile webapps during the weekend, but the endpoint has still issues. So this must wait a little again.

[2017-03-20 08:51] gioman commented on #230
@bartvde I see no reference to any commit here. This issues were fixed (did they need any fix?)?

[2017-03-20 09:00] bartvde commented on #230
I verified in the other WFS related ticket that WFS-T worked for me on my local GeoServer instance with CORS

[2017-03-20 09:12] bartvde commented on #254
should be fixed with: https://github.com/boundlessgeo/sdk/pull/426

![selection_142](https://cloud.githubusercontent.com/assets/319678/24093741/b1d028d2-0d55-11e7-986f-aa956d09c20d.png)
![selection_141](https://cloud.githubusercontent.com/assets/319678/24093742/b1d1cf48-0d55-11e7-8e8b-55ee15809628.png)

[2017-03-20 09:12] #254 closed

[2017-03-20 09:15] gioman commented on #230
confirmed, I will try with other type of endpoints later.

[2017-03-20 10:07] SrNetoChan commented on #255
Indeed, I confirmed. This is a Microsoft Edge and Internet Explorer problem only.

[2017-03-20 10:09] SrNetoChan commented on #257
oh god... Browser wars...

I can't see that icon in Chrome or Firefox.

[2017-03-20 10:11] SrNetoChan commented on #51
Not been able to export in FF or chrome either.

[2017-03-20 10:23] bartvde commented on #257
it's a native icon in IE I think

[2017-03-20 10:24] bartvde commented on #257
We can hide it though in css if needed

http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs

[2017-03-20 10:25] bartvde commented on #51
What kind of layers do you have @SrNetoChan can you please share your QGIS project?

[2017-03-20 11:04] SrNetoChan opened #258 "Large layer names look bad in the layer list"
If the layer's name is too big, it "breaks" the groups indenting in the Layer list controls.

In the image below, the Police stations layer is inside the services group.

![image](https://cloud.githubusercontent.com/assets/3607161/24097077/41a66d9e-0d5c-11e7-9b55-c9b58818ced8.png)

Maybe an option would be to truncate the layer name instead?

[2017-03-20 11:12] volaya commented on #258
Should that be done in WAB, before exporting the layer name...or in the SDK
component itself?

On Mon, Mar 20, 2017 at 12:04 PM, Alexandre Neto <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-20 11:21] gioman commented on #257
are we suggesting to not use ie/edge or it must be fully supported?

[2017-03-20 12:04] bartvde commented on #258
cc @wnordmann

[2017-03-20 12:05] bartvde commented on #257
IE11 and Edge should be supported

[2017-03-20 13:54] gioman commented on #257
can we also ask then to add the "IE/EDGE" label?

[2017-03-20 14:01] SrNetoChan commented on #258
Maybe in the SDK, just in the layer list. the full name should still be visible in other controls, like the attribute table.

[2017-03-20 17:18] SrNetoChan commented on #51
@bartvde Here's a link for the project, data, appdef and resulting webapp:

https://www.dropbox.com/sh/eb0vrgh2uertk0d/AADS5gNoZ7uKbYTNNr0_b3nIa?dl=0

[2017-03-20 18:25] gioman commented on #51
Confirmed with the attached project/dataset.

[2017-03-20 23:53] SrNetoChan opened #259 "Loading Appdef files is not cleaning previous setup"
It seems that the loading mechanism is not cleaning the previous controls settings.

To recreate the problem do:
- Open the `widget.qgs` project from the tests folder
- Open WAB, don't load previous webapp
- Load the `about.appdef`
- Notice that only the about control is selected.
- Load any other appdef, for example `mouse_position.appdef`
- Notice that the about control is selected (it shouldn't

[2017-03-21 07:50] gioman commented on #259
@SrNetoChan I cannot find such projects and appdef files in the tests folder, but I can confirm the behavior with other projects and appdef files. Good catch.

[2017-03-21 07:52] SrNetoChan commented on #259
@gioman Are you using master?I have push them yesterday night.

[2017-03-21 07:58] #259 closed

[2017-03-21 07:59] volaya commented on #259
@gioman, @SrNetoChan I moved the appdef files and the qgis project to the "data" subfolder, where the tests are actually looking for them

[2017-03-21 08:00] volaya commented on #259
@SrNetoChan You shouldn't work at night. Night time is for sleeping :-P

[2017-03-21 10:54] gioman opened #260 "After clearing measurements the attributes pop-up does not work anymore"
set a webapp with measure tools and attributes pop-up. Open preview, attributes show as expected. Do a measurement, clear it, attributes pop-ups no longer work. Spotted by @SrNetoChan

See on FF and Chrome.

[2017-03-21 10:56] bartvde commented on #51
works fine for me

![map 1](https://cloud.githubusercontent.com/assets/319678/24144423/757b7340-0e2d-11e7-85af-38ab4df54321.png)

[2017-03-21 10:58] bartvde commented on #51
I checked both Chrome and FF

[2017-03-21 11:00] gioman commented on #51
try the attached appdef

[Raleigh_density_map.qgs.appdef.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/857862/Raleigh_density_map.qgs.appdef.zip)

[2017-03-21 11:03] bartvde commented on #51
Yes that fails

@volaya it seems the base layer definitions are wrong in WAB
[code]

[2017-03-21 11:05] bartvde commented on #51
if I change that it works fine

![map 2](https://cloud.githubusercontent.com/assets/319678/24144718/9b13dd44-0e2e-11e7-8771-757573fc1a76.png)

[2017-03-21 11:19] bartvde commented on #260
it probably means the Navigation tool is not getting activated

[2017-03-21 11:20] gioman commented on #260
it seems does not work also after clicking on it.

[2017-03-21 11:23] bartvde commented on #260
hmm for me it works after I click on it, but this is in the SDK app QuickView not through WAB

[2017-03-21 11:27] gioman opened #261 "Logo only show in compiled webapps"
Title say it all (this is something I observed a few days ago, when compiler was working).

[2017-03-21 11:32] bartvde commented on #261
I investigated this one. If there is a logo, showMenuIconButton needs to be set to true (conditional).

var toolbarOptions = {style: {height: 71}, showMenuIconButton: true, title:"Raleigh population density map", iconElementLeft: React.createElement("img", {className:"pull-left", style:{margin:"5px",height:"50px"}, src:"logo.png"})};

[2017-03-21 12:05] volaya commented on #51
What is wrong with that layer definition? can you post how it should be?

On Tue, Mar 21, 2017 at 12:05 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-21 12:10] #261 closed

[2017-03-21 12:11] gioman commented on #224
@volaya @bartvde I have setup a GeoServer instance with CORS enabled and JSONP *not*  enabled. In WAB I add a WFS layer from such instance, I can add it if I leave the "use JSONP..." option enbled, but if I uncheck it I get a message like "Server for layer sf:streams is not allowed to accept cross-origin requests.". This seems the opposite of what I would expect.

[2017-03-21 12:41] SrNetoChan opened #262 "Timeline settings don't seem to be working"
Changing the timeline interval from 500 to 5000 makes no difference, the timeline always move at the same pace.

Changing the numIntervals from 100 to 1000, also makes no difference. It alway jump the same amount of days.

Finally, setting autioPlayFromStartup does not start it up automatically.

There is a ```timeline.appdef``` that can be used for testing

[2017-03-21 13:22] volaya commented on #262
@bartvde looks like those parameters are not being passed to the component. Can you show me an example of how to do it?

[2017-03-21 14:10] bartvde commented on #51
it needs to be:

[code]

this probably needs to be done for all layers that you create

[2017-03-21 14:17] volaya commented on #51
Done. I added the  crossOrigin: anonymous part to all base layers

On Tue, Mar 21, 2017 at 3:10 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-21 14:18] bartvde commented on #262
Just the same way you pass minDate etc. here: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/blob/3f053f79bb068a8a9465fee44e1d636184f400eb/webappbuilder/widgets/timeline/timeline.py#L18

Options are listed here: https://boundlessgeo.github.io/sdk/book/api/Playback.html

Let me know if you have more questions

[2017-03-21 14:30] bartvde commented on #51
What happens now with WMS layers in WAB?

[2017-03-21 14:31] gioman commented on #51
the last time I was able to check compiled webapps still were blank, previews ok, for this I reopened a ticket I think

[2017-03-21 14:33] bartvde commented on #51
No I mean is crossOrigin added to those layers as well in WAB code?

[2017-03-21 14:56] bartvde commented on #260
I recall having tried to resolve this issue in SDK before, but I couldn't, and I still can't, since you cannot dispatch a new action (activate old tool) when another action is dispatching (deactivate measure). But clicking the Navigation button should re-enable the tool for the end user, I'll verify this now in WAB output

[2017-03-21 15:05] bartvde commented on #260
Looking at this with @volaya it seems to be coupled to the select tools right now: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/blob/e1512c9b2a1136fb3dbe6f1db550f032be5b7497/webappbuilder/widgets/selectiontools/selectiontools.py#L12

It should do the same for Measure as well, and make sure there are no duplicates

[2017-03-21 15:06] bartvde commented on #260
but there is another issue, even with Navigation in there it doesn't go back to showing popups on click

[2017-03-21 15:08] bartvde commented on #260
Ah probably the Navigation component needs to get a toolId just like in QuickView:

[code]

[2017-03-21 15:09] bartvde commented on #260
No it's not I'll need to dig a bit deeper

[2017-03-21 15:10] bartvde commented on #260
Ah now I remember how this works, the InfoPopup definition also needs to be changed:

```<div id='popup' className='ol-popup'><InfoPopup toggleGroup='navigation' toolId='nav' infoFormat='application/vnd.ogc.gml' map={map} /></div>```

[2017-03-21 15:12] SrNetoChan opened #263 "Text can overflow the About panel"
It the text inserted in the about panel is too big, the text will overflow the widget.

![image](https://cloud.githubusercontent.com/assets/3607161/24154348/d2108ada-0e48-11e7-880a-0c9d4fc5296f.png)

Would be good if we could add a scroll or simply truncate the text in the App.
Also, there seems to be too much space between the paragraphs.

[2017-03-21 15:12] bartvde commented on #260
yes confirmed that works, so things needed:

- [ ] add Navigation component for Measure
- [ ] make sure no duplicate Navigation components in app
- [ ] add toolId property to InfoPopup definition
- [ ] add toolId property to Navigation component definition

[2017-03-21 15:23] bartvde commented on #257
see also: https://github.com/callemall/material-ui/issues/5578

[2017-03-21 15:35] bartvde commented on #255
I can reproduce, but also in the standard openlayers example

[2017-03-21 15:36] bartvde commented on #255
see: https://github.com/openlayers/openlayers/issues/6618

[2017-03-21 15:47] SrNetoChan opened #264 "Apostrofes in About Panel or Bookmarks in story mode return an emtpy App"
If you add an Apostrophe to the About Panel or Bookmarks description it will create a black App.

To replicate, just add an About Panel and configure it with:

[code]

[2017-03-21 16:16] gioman commented on #224
my observations after the latest commits:
1) In the  Geoserver endpoint I have enabled CORS but *not*  JSONP. After the latest fixes a WFS layer from this endpoint can be added to the webapp *regardless*  the option "use JSONP..." is enabled or not. In both cases WFS-T works.
2) I tried add a WFS layer from a QGIS Server endpoint CORS seems correctly enabled. The layer can be added on if the "use

[2017-03-21 18:03] gioman commented on #230
@SrNetoChan just a reminder, we must document that in this release the only supported endpoint is Geoserver.

[2017-03-21 18:03] gioman commented on #224
@SrNetoChan just a reminder, we must document that in this release the only supported endpoint is Geoserver.

[2017-03-21 18:03] #224 closed

[2017-03-21 18:04] gioman opened #265 "Document that the supported WFS endpoint is Geoserver with CORS/JSONP enabled"
Title says it all.

[2017-03-21 18:13] gioman commented on #193
This does not happen anymore in the latest revision code. Reopen if necessary.

[2017-03-21 18:13] #193 closed

[2017-03-21 18:14] gioman commented on #104
I assume this can be closed, please reopen if necessary.

[2017-03-21 18:14] #104 closed

[2017-03-21 19:24] gioman commented on #159
Reopen if necessary.

[2017-03-21 19:24] #159 closed

[2017-03-22 06:52] volaya commented on #51
should i add it to user WMS layers like I do for the harcoded base layers?

On Tue, Mar 21, 2017 at 3:33 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-22 06:54] #262 closed

[2017-03-22 07:20] bartvde commented on #51
Yes I think so, otherwise they cannot be printed or exported to PNG

[2017-03-22 07:27] #263 closed

[2017-03-22 07:30] volaya commented on #264
single quotes are now replace with an html entity. This should allow the user to use them in que tet. However, we should document in the help that double quotes are not replaced, and that they must be used for the tags properties. If single quotes are used for that, they will also be replaced.

We could implement a solution for replacing only quotes outside of tags, but that is IMHO, too much and

[2017-03-22 07:30] #264 closed

[2017-03-22 07:34] volaya commented on #51
Added

[2017-03-22 07:34] #51 closed

[2017-03-22 09:02] bartvde commented on #260
@volaya I will make a change in SDK so that setting toolId should not be needed, I will make those the default

[2017-03-22 09:13] gioman opened #266 "Add support for WFS/T layers from endpoints other than Geoserver"
As discussed and tested lengthly it seems that in this first release the only supported WFS/T layers will be from Geoserver. It would be good for the future also support other endpoints.

[2017-03-22 09:30] bartvde commented on #217
looking at this one now

[2017-03-22 09:40] SrNetoChan commented on #264
So the user is always supposed to use HTML? Maybe we should mention that in the GUI somehow and a longer explanation in the docs?

[2017-03-22 09:51] bartvde commented on #217
fixed with https://github.com/boundlessgeo/sdk/pull/429

[2017-03-22 09:51] #217 closed

[2017-03-22 10:19] bartvde commented on #207
We are planning to create a FullScreen component in SDK, @wnordmann will work on that.

[2017-03-22 10:20] bartvde commented on #209
The gh-pages branch in sdk now has release tags

[2017-03-22 10:21] bartvde commented on #202
Let's just go for the quick win and add the closer icon in WAB

[2017-03-22 10:33] #228 closed

[2017-03-22 10:33] bartvde commented on #196
I've looked at this one quite long, but wasn't able to fix it unfortunately. But I don't think it's crucial to fix it, more like nice to have.

[2017-03-22 10:34] bartvde commented on #196
I'll give it another last try

[2017-03-22 10:39] bartvde commented on #196
@volaya suggested using a fixed width, that would work. I think I'm going to take him up on his offer

[2017-03-22 10:41] SrNetoChan opened #267 "Home button tooltip gets out of the screen"
![image](https://cloud.githubusercontent.com/assets/3607161/24193877/b5aad2e4-0eeb-11e7-9b3b-a126fc50a024.png)

[2017-03-22 10:50] bartvde commented on #196
fixed fully on the sdk side with: https://github.com/boundlessgeo/sdk/commit/854e2930dd2149f95bb1e0e748302c54fb73fc5f

[2017-03-22 10:50] #196 closed

[2017-03-22 10:53] #260 closed

[2017-03-22 11:14] SrNetoChan opened #268 "Legend's size option"
I can't understand how the ```size``` option under the legend control configuration is supposed to work.

The default is `20` (which I suppose to be in pixels), and gives me this:

![image](https://cloud.githubusercontent.com/assets/3607161/24195317/30177b7c-0ef1-11e7-9fb6-8246b4e2ea22.png)

Changing it to `5` gives me this:

![image](https://cloud.githubusercontent.com/assets/3607161/24195135/7f4

[2017-03-22 11:35] #244 closed

[2017-03-22 12:17] bartvde commented on #268
it seems material-ui resizes the listItem's icon to 24 x 24 pixels

![selection_148](https://cloud.githubusercontent.com/assets/319678/24197431/d649c026-0f01-11e7-903d-96a425632061.png)

[2017-03-22 12:39] bartvde commented on #268
[code]

[2017-03-22 12:40] bartvde commented on #268
I wonder if we should always just generate them at 24 x 24 and not have an option? cc @volaya

[2017-03-22 12:45] SrNetoChan commented on #268
I agree. I find that the legend wastes too much space, reducing the space between symbols would be nice, but that's probably just some CSS change in the template right?

[2017-03-22 12:47] bartvde commented on #267
Probably need to set ```tooltipPosition: tooltipPosition``` in the WAB code cc @volaya

[2017-03-22 12:58] SrNetoChan commented on #267
@volaya, if possible, we should do it for all other buttons in the screen. Well, bottom-left for the one on the right.

[2017-03-22 15:19] volaya commented on #268
The idea was to control the legend size...but if material-ui resizes, it
makes no sense

Can we disable that behaviour and use the original size of each legend
image, @bartvde?

On Wed, Mar 22, 2017 at 1:45 PM, Alexandre Neto <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundles

[2017-03-22 15:26] bartvde commented on #268
I haven't tried, but it might not be simple to do so

[2017-03-22 15:28] bartvde commented on #268
Ah just found this: http://stackoverflow.com/questions/40472709/change-size-of-lefticon-in-listitem-material-ui

[2017-03-22 15:29] bartvde commented on #268
Let me quickly see if it can work, if it can work it will need you to provide the size to the component though probably, but first let me see if it works

[2017-03-22 15:55] bartvde commented on #268
seems currently WAB / QGIS simply creates whitespace around the icons, this is 50x50

![selection_149](https://cloud.githubusercontent.com/assets/319678/24207095/547d3fcc-0f20-11e7-97f3-c5a214e8dcc5.png)

[2017-03-22 16:41] volaya commented on #202
Done

[2017-03-22 16:41] #202 closed

[2017-03-22 17:01] gioman opened #269 "python error when clicking "create app""
Just updated to the latest revision code:

TopicNameError: Topic name "endFunction": Root topic "endFunction" doesn't exist
Traceback (most recent call last):
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/maindialog.py", line 534, in createApp
    self.endCreateAppListener(False, traceback.format_exc())
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/maindialog.py", line 48

[2017-03-23 09:06] volaya commented on #268
@aneto: Here is some info that should be documented

The resizing works fine, but only for line and layer symbology. It makes the legend icon bigger. For markers, it respects the size of the marker (which makes sense), so it has the same size in the legend as in the map. That should be written in the docs to avoid this kind of confusion.

I am passing now the size to the legend component, and @bar

[2017-03-23 09:07] bartvde commented on #268
@volaya I still need to do my part

[2017-03-23 09:07] volaya commented on #267
@bartvde In the app.css? or as a property to pass to the component?

[2017-03-23 09:08] volaya commented on #236
@gioman yes, we do not handle auth at all

[2017-03-23 09:09] bartvde commented on #267
property

[2017-03-23 09:23] gioman commented on #236
@SrNetoChan not sure if this documented, if not it must be (WAB does not supported at the moment OWS layer behind authentication).

[2017-03-23 09:56] volaya commented on #267
@bartvde, please review : https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/67b55a693945b386a2108fa5200bf4ffbb3954ed

I think the full screen button should have it as well, but I found out that it is not using a SDK component. Instead, it has `new ol.control.FullScreen()`.  Is that ok?

[2017-03-23 09:59] bartvde commented on #267
for fullscreen we are working on an SDK component, @wnordmann will work on that soon

[2017-03-23 09:59] bartvde commented on #267
@volaya for north arrow this might not make sense, since it will be in the top right?

[2017-03-23 10:00] bartvde commented on #267
ah sorry I see you did bottom left so the change looks good to me

[2017-03-23 10:18] SrNetoChan commented on #236
@gioman In the legend control documentation is mentioned that raster layers will not show up in the app legend. Will have to see were to put the authentication limitation. Can you open a ticket for that? Github will do.

[2017-03-23 10:55] gioman opened #270 "preview not generated if legend widget is active"
This is on the latest master.

[2017-03-23 10:57] gioman opened #271 "Document that OWS layers behind authentication are not supported (yet)"
Subject says it all.

[2017-03-23 10:57] gioman commented on #236
done here

https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/271

[2017-03-23 11:05] gioman commented on #270
this just got fixed.

[2017-03-23 11:05] #270 closed

[2017-03-23 13:55] luipir commented on #269
should be fixed now

[2017-03-23 13:55] #269 closed

[2017-03-23 15:23] SrNetoChan opened #272 "Add help button to attribute table filter"
Following the example of the rest of the Filter controls, it would be nice to add the question mark button (with a link to the filter notation help) in the attribute filter filed.

![image](https://cloud.githubusercontent.com/assets/3607161/24255159/9b7d73d0-0fdc-11e7-9455-5cde0b347090.png)

![image](https://cloud.githubusercontent.com/assets/3607161/24255096/75865f34-0fdc-11e7-8c79-eaccbedd9832.p

[2017-03-23 17:51] bartvde commented on #272
yeah we had it before, I need to put it back in

[2017-03-24 07:42] volaya commented on #192
I added the showEditForm parameter already

[2017-03-24 07:42] #192 closed

[2017-03-24 11:06] gioman commented on #243
So after one week I was able to check this again.
Today the selection tool does not work here for both previews and compiled webapps on both FF and Chrome. Moreover is only on previews that the "select" button shows the dropdown with "select by rectangle" and "clear selection". @bartvde @volaya

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/867626/webapp.zip)

[2017-03-24 11:31] gioman commented on #226
@bartvde this particular issue about WFS widget seems gone now.

[2017-03-24 11:31] #226 closed

[2017-03-24 11:42] gioman opened #273 "WFS-T widget/button does not activate on the first click"
On both compiled webapps and previews.

[2017-03-24 11:54] bartvde commented on #243
@gioman that option is in the new SDK, the service is not on that version as yet

[2017-03-24 11:55] bartvde commented on #273
@volaya is this related to the toggle change you think?

[2017-03-24 11:57] gioman commented on #243
@bartvde will test again this at a later time then. Thanks.

[2017-03-24 14:17] gioman commented on #273
@bartvde @volaya also applies to other widgets/buttons like "table".

[2017-03-24 14:40] gioman opened #274 "WFS-T missing the "delete" botton?"
The image below seems to indicate that a delete features functionality should be available. Is a button missing? or the functionality is by hitting some keyboard key?

![screenshot_20170324_143827](https://cloud.githubusercontent.com/assets/1951107/24299035/c56aa4c4-109f-11e7-9e17-57d07eaff08a.png)

[2017-03-24 14:45] gioman opened #275 "Cannot enter attributes when editing WFS-T layers?"
Despite the option being active:

![screenshot_20170324_144337](https://cloud.githubusercontent.com/assets/1951107/24299248/7398af64-10a0-11e7-8ac4-5d8c67d5b94c.png)

I'm not able to see the dialog to enter attributes, even after selecting the just created features.

[2017-03-24 16:15] gioman commented on #273
"query" also affected.

[2017-03-24 16:16] bartvde commented on #273
yeah I guess the latest changes broke the toggle function

[2017-03-24 16:20] bartvde commented on #273
looking into it now

[2017-03-24 16:32] gioman commented on #213
@bartvde still blank compiled webapps, I guess is expected right?

[2017-03-24 16:32] gioman commented on #213
with WMS layers I mean.

[2017-03-24 16:34] gioman commented on #187
I believe that this no more valid (just run the manual tests and didn't hit it).

[2017-03-24 16:34] #187 closed

[2017-03-24 16:37] bartvde commented on #213
yeah the fix is not on the SDK service I think

[2017-03-24 16:50] bartvde commented on #275
confirm this is not working

[2017-03-24 17:03] bartvde commented on #275
I made a small fix in SDK for this: https://github.com/boundlessgeo/sdk/commit/bd6bd7b846dc6bac462aede6b3eed51a95b1d778

Will also need to make a minor change to WAB @volaya
e.g. this css on the #wfst selector:

[code]

can you handle that part? TIA

![selection_153](https://cloud.githubusercontent.com/assets/319678/24305118/23dd3cc6-10bc-11e7-9526-cf626bb011b4.png)

[2017-03-24 17:11] bartvde commented on #274
same issue as #275

[2017-03-24 17:38] christinahupy opened #277 "Query Builder Add option not working"
Following the "[Working with the Web App Builder Plugin](https://learning-center.boundlessgeo.com/desktop/intermediate/wab_schools_in_france/index.html)" Tutorial

The Add operator in the Query builder does not add the features to the current selection - it switches the selection instead.

The New and Refine operators appear to work fine.

![image](https://cloud.githubusercontent.com/assets/199529

[2017-03-24 18:00] bartvde commented on #277
what version are you on?

[2017-03-24 18:01] christinahupy commented on #277
Installed version: 0.5.2 - Alex provided me this version this morning.

[2017-03-24 18:53] bartvde opened #278 "Take out AddLayer component"
It is now part of the LayerList with ```showUpload: true/false``` default is true

[2017-03-27 05:50] #273 closed

[2017-03-27 06:16] volaya commented on #213
Looks like it is working now, can you retest?

Otherwise, if it still fails, can you send a broken app so we can check it?

On Fri, Mar 24, 2017 at 5:37 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-27 06:23] volaya commented on #278
removed and modified LayerList accordingly

[2017-03-27 06:23] #278 closed

[2017-03-27 06:34] volaya commented on #275
I already added the suggested CSS. Please check that it's ok and close the issue

[2017-03-27 08:54] bartvde opened #279 "Generate css positions dynamically"
Would it be possible @volaya to generate the top positions from the app.css dynamically based on which tools someone picks, to prevent that there will be holes in the setup?

[2017-03-27 09:08] bartvde commented on #277
okay checking this now

[2017-03-27 09:23] bartvde commented on #277
This was indeed a bug in the SDK, fixed with: https://github.com/boundlessgeo/sdk/commit/3da3201f2e562e5119e339f749d724a731ed61d0

Might take some time to make it into a WAB version though

[2017-03-27 09:23] #277 closed

[2017-03-27 11:40] gioman commented on #213
Compiled webapp attached. The preview show, but does not load the WMS layer ("There was an error loading tiles"). If the option "do not consume as tiled layer" is active then also blank preview.

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/872326/webapp.zip)

[2017-03-27 11:56] gioman commented on #275
@volaya @bartvde WFS-T today works on previews but not compiled webapps. The WFS-T widget looks strange (both on FF and Chrome) with horizontal and vertical scrollbars. Even after selecting a feature with the select tool the list of attributes as in the above image does not show here.

![screenshot_20170327_125634](https://cloud.githubusercontent.com/assets/1951107/24355177/d5468c1a-12ec-11e7-98e2

[2017-03-27 11:57] bartvde commented on #275
@gioman I think the service is not updated automatically, so no point to test these recently solved issues on the service IMHO

[2017-03-27 11:58] gioman commented on #275
@bartvde got it.

[2017-03-27 12:02] gioman commented on #265
Better also add a paragraph on how  to enable JSONP and CORS on Geoserver/Suite.

[2017-03-27 12:20] bartvde commented on #213
I'll have a look at this

[2017-03-27 14:06] bartvde commented on #213
![selection_155](https://cloud.githubusercontent.com/assets/319678/24360343/5f56e386-1307-11e7-8186-2e09d8575892.png)

[2017-03-27 14:08] gioman commented on #213
that layer was added as WMS not WFS. Or the CORS thing is also true for WMS?

[2017-03-27 14:14] bartvde commented on #213
For printing it's also needed for WMS. But in this case it's trying to get WFS info from the WMS layer. But this is not the fatal error. I'll fix it.

[2017-03-27 14:14] volaya commented on #213
So you have a WMS layer and in the app it is added as a WFS?

On Mon, Mar 27, 2017 at 4:08 PM, Giovanni Manghi <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-27 14:16] gioman commented on #213
the QGIS project has 1 WFS layer and 1 WMS. The WFS one was excluded from webapp generation. The result is the above attached webapp.

[2017-03-27 14:17] bartvde commented on #213
@gioman does this fail in preview? I think this is caused by the service being out of date

[2017-03-27 14:24] gioman commented on #213
the preview opens. The WMS layer is not presented. The message "There was an error loading tiles" shows.  If the option "do not consume as tiled layer" is active then preview is also blank.

[2017-03-27 14:25] bartvde commented on #213
can you share the QGIS project then?

[2017-03-27 17:04] SrNetoChan opened #281 "Toogle visibility on layer groups is affecting base maps"
![image](https://cloud.githubusercontent.com/assets/3607161/24368164/588edd78-1317-11e7-8a05-9bc0fa22481a.png)

In the above example (layers_list.appdef in tests/data), landmarks and park are inside the points of interest group. Clicking the eye icon turn all its layers off (as expected), but also the Stamen baselayer

![image](https://cloud.githubusercontent.com/assets/3607161/24368262/ad0c925a-1

[2017-03-27 17:08] bartvde commented on #281
to be expected with the current ```ol.layer.Group``` implementation, so is not going to be tackled any time soon

[2017-03-27 17:21] SrNetoChan commented on #281
So, it's intended? Should we close it?

[2017-03-27 17:25] bartvde commented on #281
it's not intended for the end user per se, but there is no way around it with the current implementation, I will require a totally different implementation which we plan to do in SDK, but only for SDK 2.0.

[2017-03-27 17:26] bartvde commented on #281
See also e.g.: https://github.com/openlayers/openlayers/issues/6239

[2017-03-28 07:39] bartvde opened #282 "app.tools need to be wrapped in ToolbarGroup"
because of a recent change in SDK (we took out the margin on buttons because it's not the corect way to do things in material-ui), all app.tools need to be wrapped in a ToolbarGroup. The ToolbarGroup provides the correct positioning in the toolbar. For example for measure this would be the change for wrapping it in a ToolbarGroup:

```app.tools.append("React.createElement(ToolbarGroup, undefined,

[2017-03-28 07:40] bartvde commented on #282
so this change needs to be done in appwriter.py, and goes beyond my Python skills ;-)

[2017-03-28 08:29] #282 closed

[2017-03-28 08:33] bartvde commented on #282
@volaya just thinking about it now, you need to add the import for jsx versions of the themes:
[code]

[2017-03-28 08:37] volaya commented on #282
fixed

[2017-03-28 15:53] SrNetoChan opened #284 "North Arrow is being cut by the menu bar"
https://files.slack.com/files-pri/T02755443-F4RGHT55M/pasted_image_at_2017_03_28_16_32.png

[2017-03-28 17:25] gioman opened #285 ""about" widget makes compiled webapp blank"
Tested with the "widgets" project in the tests directory (using the "aboutpanel" appdef). Preview ok.

[2017-03-28 17:28] gioman commented on #284
"zoom in" control is now also behind the webapp header.

[2017-03-28 17:29] gioman opened #286 "no "layer list" widget in compiled webapps"
Tested with the "widgets" project in the tests directory (using the "layerlist" appdef). Preview ok.

[2017-03-28 17:36] gioman opened #287 "attributes table empty in compiled webapp"
Tested with the "widgets" project in the tests directory (using the "attributestable" appdef). Preview ok.

The table for the "buildings" layer shows empty, the one for other layers are ok.

[2017-03-28 18:45] bartvde commented on #284
@volaya is this related to your recent changes you think?

[2017-03-29 06:40] volaya commented on #279
implemented already

[2017-03-29 06:40] #279 closed

[2017-03-29 07:35] volaya commented on #284
should be fixed now

[2017-03-29 07:53] #284 closed

[2017-03-29 07:55] bartvde commented on #286
let's see if we can get the service updated soon, I don't think this is a real issue though

[2017-03-29 07:58] bartvde commented on #287
anything in the browser's console?

[2017-03-29 10:08] gioman commented on #287
nothing obvious for me in Firebug.

[2017-03-29 10:12] gioman opened #288 "bookmark button/widget misplaced in compiled webapp"
![screenshot_20170329_111141](https://cloud.githubusercontent.com/assets/1951107/24449866/94003aa0-1470-11e7-8f30-dddcc45fbf74.png)

[2017-03-29 10:17] gioman commented on #213
you can use the "wms-timeinfo-interval.qgs" in the tests folder, with the appdef with the same name.

[2017-03-29 10:27] gioman opened #289 "python error after adding a specific layer"
In the "widgets" test project is possible to activate several layers, activating one of them and them trying to preview the weapp causes

[code]

it would be better to catch this situations and return a nice message to the users.

[2017-03-29 10:42] gioman opened #290 "Zoom slider do not show in compiled webapps"
Title says it all.

[2017-03-29 10:43] gioman commented on #290
Using the "widgets" project in the test folder with the "zoomslider" appdef.

[2017-03-29 11:19] bartvde commented on #288
yes this is be expected, was fixed in sdk already but not on sdk service

[2017-03-29 11:19] #288 closed

[2017-03-29 11:21] bartvde commented on #290
and it does show in the preview?

[2017-03-29 11:21] gioman commented on #290
yes

[2017-03-29 11:22] bartvde commented on #290
okay, I can't think of an obvious reason for this one

[2017-03-29 14:46] bartvde commented on #213
@gioman I just tried that and it works fine for me

![selection_176](https://cloud.githubusercontent.com/assets/319678/24460673/4c4d7b3a-149f-11e7-84ba-0ce483289715.png)

[2017-03-29 15:00] gioman commented on #213
Not here

[webapp_compiled.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/879471/webapp_compiled.zip)

[webapp_preview.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/879483/webapp_preview.zip)

[2017-03-29 15:14] gioman commented on #213
I had an update to make to WAB but after that result is the same.

[2017-03-29 15:15] bartvde commented on #213
works fine for me in both Chrome and FF

[2017-03-29 15:16] bartvde commented on #213
![selection_177](https://cloud.githubusercontent.com/assets/319678/24462095/609ae98e-14a3-11e7-9a45-16dcbd793ebf.png)

[2017-03-29 15:20] gioman commented on #213
@bartvde @volaya

the datasource in the project is clearly a WMS layer

<datasource>contextualWMSLegend=0&amp;crs=EPSG:4326&amp;dpiMode=7&amp;featureCount=10&amp;format=image/png&amp;layers=nexrad-n0r-wmst&amp;styles=&amp;url=http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r-t.cgi</datasource>

BUT

in the firebug console I get a 404 pointing to

http://mesonet.agron.iastate.edu/cgi-bin/wfs/

[2017-03-29 15:22] bartvde commented on #213
For any WMS layer a WFS DescribeFeatureType is tried to get the wfsInfo, needed for other operations on WFS

[2017-03-29 15:22] bartvde commented on #213
See also: https://github.com/boundlessgeo/sdk/issues/436 which I just opened

[2017-03-29 15:23] gioman commented on #213
@bartvde
so this do not explain why on my system that compiled webapp does not work?

[2017-03-29 15:24] bartvde commented on #213
Indeed I get the same error on my system, it's non fatal

[2017-03-29 15:24] bartvde commented on #213
I did not try the compiled one, as I said it's probably behind.
Does the preview also fail for you then?

[2017-03-29 15:30] gioman commented on #213
sorry I forgot to update the title. This now is only true for compiled webapps, I guess expected because of the SDK version, correct?

[2017-03-29 15:31] bartvde commented on #213
correct

[2017-03-30 08:18] bartvde commented on #213
Might be worth rechecking now that the service was updated

[2017-03-30 08:21] bartvde commented on #268
working on this one now

[2017-03-30 08:49] bartvde commented on #268
Done with: https://github.com/boundlessgeo/sdk/commit/bdc8af9577342f203e78cdc047b1e111ab081ce7

This is with 40:
![selection_180](https://cloud.githubusercontent.com/assets/319678/24495800/9779ba14-1536-11e7-970b-b7acf99bd4fa.png)

[2017-03-30 08:49] #268 closed

[2017-03-30 08:56] bartvde commented on #281
I'm going to close this, since we know about it in SDK, but it won't happen before SDK 2.0

[2017-03-30 08:56] #281 closed

[2017-03-30 08:57] bartvde commented on #272
I discussed this with @jjmulenex and we are thinking about switching back to text search for the table @SrNetoChan does this influence your doc work? If it happens, I'll update here.

[2017-03-30 08:57] bartvde commented on #267
this was done by @volaya

[2017-03-30 08:57] #267 closed

[2017-03-30 08:59] SrNetoChan commented on #272
Yes please. Let me know.

[2017-03-30 09:00] SrNetoChan commented on #272
Actually, any big change to the interface should be updated in documentation.

[2017-03-30 09:00] bartvde commented on #272
yeah before SDK 1.0 there will be big UI/UX changes still, since the UI/UX is under review now

[2017-03-30 09:02] bartvde commented on #255
Should be fixed in SDK with: https://github.com/boundlessgeo/sdk/commit/30e7d17001d7a86b50869c53e2ec239dd56f7714

Fix is also in openlayers, but we need to wait until a new release of ol, then we can remove our intermediary fix in SDK

[2017-03-30 09:02] #255 closed

[2017-03-30 09:05] bartvde commented on #207
not an issue anymore see:

![selection_181](https://cloud.githubusercontent.com/assets/319678/24496535/cc183186-1538-11e7-99f3-75e5b2d8b2e5.png)

[2017-03-30 09:06] SrNetoChan commented on #272
I will wait for it then. Thanks

[2017-03-30 09:09] bartvde commented on #207
@volaya though mouseposition now overlaps with layer list

[2017-03-30 09:09] bartvde commented on #207
![selection_182](https://cloud.githubusercontent.com/assets/319678/24496731/63babdd8-1539-11e7-8a72-c42a4df7a672.png)

[2017-03-30 09:16] bartvde commented on #209
I think we can close this one now, all the legwork has been done

[2017-03-30 09:16] #209 closed

[2017-03-30 09:36] gioman commented on #290
@bartvde still true also after the sdk update.

[2017-03-30 09:36] gioman commented on #286
Fixed with the sdk update.

[2017-03-30 09:36] #286 closed

[2017-03-30 09:40] gioman commented on #285
still true after the sdk update, preview ok.

[2017-03-30 09:52] bartvde commented on #290
ok I'll have a look then

[2017-03-30 09:53] bartvde commented on #285
I will have a look then

[2017-03-30 10:00] gioman commented on #287
Still true after the sdk update.

[2017-03-30 10:01] gioman opened #293 "wrong buttons alignment in compiled webapps"
![screenshot_20170330_110048](https://cloud.githubusercontent.com/assets/1951107/24498999/32b8d9e6-1538-11e7-8a5a-97f82ad00093.png)

![screenshot_20170330_110054](https://cloud.githubusercontent.com/assets/1951107/24499004/36b3d122-1538-11e7-998d-7a3c22773e48.png)

[2017-03-30 10:04] gioman commented on #289
the layer is "U.S. 15 Minute Precipitation"

[2017-03-30 10:13] #207 closed

[2017-03-30 10:25] gioman commented on #213
yeah now works, but:

*) there is no check if WMS layers come froma service with CORS, so adding a WMS layer frequently means having an error like "error loading tiles"

*) the option "do not consume as tiled layer" causes to have always blank apps

will open two separate tickets for this 2 issues

[2017-03-30 10:26] gioman opened #294 "the option "do not consume as tiled layer" causes to have always blank apps"
At least when applied to WMS layers, possibly also other types.

[2017-03-30 10:28] gioman opened #295 "Missing check for CORS for WMS layers"
The result of adding a WMS from a server with no CORS is that the application returns the error:

There was an error loading tiles.

The necessity of CORS on the server side must also be documented (as also for WFS, there is a separate ticket for that) @SrNetoChan

[2017-03-30 10:30] gioman opened #296 "Hide the ellipsis in layer list for WMS layers"
Clicking on them open an empty panel/dialog.

[2017-03-30 10:32] bartvde commented on #293
@volaya we should probably add ToolbarSeparator in between in the app_writer
I need to export those in the full build as well and we would need to import them

[2017-03-30 10:32] gioman commented on #243
working as expected after the SDK update.

[2017-03-30 10:32] #243 closed

[2017-03-30 10:33] bartvde commented on #207
@volaya did you test this commit? Doesn't look to me like it would actually work

[2017-03-30 10:34] bartvde commented on #296
What type of WMS layer? One not coming from GeoServer?

[2017-03-30 10:36] bartvde commented on #294
![selection_183](https://cloud.githubusercontent.com/assets/319678/24500390/772f84c8-1545-11e7-8323-60c2bb2d2a04.png)

ok this is an issue in SDK where it assumed the source is TileWMS

[2017-03-30 10:41] gioman commented on #296
one definitely coming from Geoserver

![screenshot_20170330_114114](https://cloud.githubusercontent.com/assets/1951107/24500569/da24a002-153d-11e7-9c67-b2d58eae8b49.png)

[2017-03-30 10:43] gioman opened #297 "Add a check to not allow add the WFS-T widget if no WFS layers are being published"
Otherwise you'll get a webapp with the WFS-T button but nothing to edit.

![screenshot_20170330_114114](https://cloud.githubusercontent.com/assets/1951107/24500618/02fce0a2-153e-11e7-80c7-ae35ed2289d0.png)

[2017-03-30 10:44] bartvde commented on #296
Can you share the preview directory?

[2017-03-30 10:55] gioman commented on #296
[d42a7d33f668430c9d9e3ede4319db78.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/881873/d42a7d33f668430c9d9e3ede4319db78.zip)

[2017-03-30 10:57] #297 closed

[2017-03-30 10:57] gioman commented on #275
@bartvde after the sdk update I'm still seeing the issues you can see in the image above: wfs-t panel with scrollbars, not attributes under the "draw" and "select" buttons.

Adding features and editing existing ones works as expected.

[2017-03-30 10:58] volaya commented on #293
Can you copy here the import line to add?

On Thu, Mar 30, 2017 at 12:32 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-30 10:58] bartvde commented on #275
ok I'll have a look

[2017-03-30 10:59] volaya commented on #207
yes, and it works fine. Tested an app with layer list alone, and another
one with layer list and mouse position, and both were correct

On Thu, Mar 30, 2017 at 12:33 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-03-30 10:59] bartvde commented on #293
Sure:

[code]

instead of:

[code]

[2017-03-30 11:00] bartvde commented on #293
and then we need a structure like:

[code]

etc. but then with React.createElement

[2017-03-30 11:00] volaya commented on #295
I am no expert on that, but why do you need the CORS check for WMS? We are
checking it for WMS layers, only if there is a popup for that layer, since
that makes sense, but otherwise, i guess it is not needed, right?

@bartvde?

Anyway, if it has to be done, i can do it easily

On Thu, Mar 30, 2017 at 12:28 PM, Giovanni Manghi <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | B

[2017-03-30 11:02] bartvde commented on #295
CORS is needed otherwise we cannot print or export to PNG

[2017-03-30 11:02] gioman commented on #295
is not also the reason behind the "There was an error loading tiles" error?

[2017-03-30 11:02] bartvde commented on #295
@gioman just to be sure, can you attach an app that shows this?

[2017-03-30 11:03] bartvde commented on #293
No you also need to change the appwrite to actually insert the separators

[2017-03-30 11:06] gioman commented on #295
[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/881893/webapp.zip)

[2017-03-30 11:06] volaya commented on #293
ah, ok...too fast :-)

just let me know how that should be done and i will take care of it

[2017-03-30 11:07] volaya commented on #289
should be fixed in https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/690dc32bdb4e8736f0032332c7e93e911eefdc28

[2017-03-30 11:08] bartvde commented on #293
where you have:

[code]
something like

[code]

?

[untested]

[2017-03-30 11:08] volaya commented on #293
ok, let me try

[2017-03-30 11:12] bartvde commented on #294
should be fixed with: https://github.com/boundlessgeo/sdk/commit/bf0e559dd59bdf2a6d54b1335f4f130a9ee715fc

you can test with preview on ```paver setup --master``` in 15 minutes or so

[2017-03-30 11:20] bartvde commented on #296
thanks I can reproduce, will come up with a fix

[2017-03-30 11:21] bartvde commented on #296
should be fixed with: https://github.com/boundlessgeo/sdk/commit/740e550345f0a2a71dc3cdc86888bde9c6854841

[2017-03-30 11:22] bartvde commented on #296
Closing, please reopen if it doesn't work for you in preview after about 15 min or so with latest master

[2017-03-30 11:22] #296 closed

[2017-03-30 12:19] volaya commented on #293
should be done now

[2017-03-30 12:40] gioman commented on #289
fix confirmed.

[2017-03-30 12:40] #289 closed

[2017-03-30 12:42] bartvde commented on #293
looks like they might need to get wrapped in a ToolbarGroup as well

![selection_188](https://cloud.githubusercontent.com/assets/319678/24504590/252fe232-1557-11e7-8820-10704ca643f4.png)

[2017-03-30 12:44] bartvde commented on #293
yes so @volaya can you change
```React.createElement(ToolbarSeparator),```

to become:

[code]

TIA

[2017-03-30 12:46] gioman commented on #293
@volaya @bartvde just updated the plugin, now adding any widget that adds a button in the header will return a  blank preview, while the compiled webapp is ok.

[2017-03-30 12:46] bartvde commented on #293
@gioman did you update from master?

[2017-03-30 12:46] bartvde commented on #293
i.e. SDK master

[2017-03-30 12:48] bartvde commented on #293
I changed the first button manually by wrapping the ToolbarSeparator in a ToolbarGroup and it looks good then:

![selection_189](https://cloud.githubusercontent.com/assets/319678/24504789/dfe394ac-1557-11e7-8df6-520dcc7a9eb2.png)

[2017-03-30 12:56] bartvde commented on #293
@volaya see my PR here: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/pull/298

[2017-03-30 12:58] gioman commented on #296
fix confirmed.

[2017-03-30 12:59] gioman commented on #293
disregard my comment, wrong paver command.

[2017-03-30 13:00] gioman commented on #294
fix confirmed.

[2017-03-30 13:00] #294 closed

[2017-03-30 13:00] gioman commented on #293
can we close this?

[2017-03-30 13:12] bartvde commented on #293
yes

[2017-03-30 13:12] #293 closed

[2017-03-30 19:05] bartvde commented on #285
![selection_197](https://cloud.githubusercontent.com/assets/319678/24521473/8f23de0c-158c-11e7-86ce-5614971f7728.png)

[2017-03-30 19:08] bartvde commented on #285
![selection_198](https://cloud.githubusercontent.com/assets/319678/24521591/f5fbcb58-158c-11e7-858a-08ff333cfcc3.png)

[2017-03-30 19:08] bartvde commented on #285
@volaya it seems you added the function only to app.js not to app.jsx ?

[2017-03-30 19:22] bartvde commented on #285
sorry that was actually me who did that :-)

fix upcoming

[2017-03-30 19:30] #285 closed

[2017-03-30 19:30] #290 closed

[2017-03-31 08:49] #295 closed

[2017-03-31 11:45] bartvde opened #301 "wrong import statements"
[code]

note the ```{``` @volaya any idea where this comes from?

[2017-03-31 11:47] bartvde commented on #301
argh seems my error here: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/672cabc7042a9c8b3e3b570af3ab9441091374a3#diff-aaa388683569bd119310a137c5fa709c will fix it

[2017-03-31 11:50] #301 closed

[2017-03-31 11:58] bartvde commented on #275
I got it work on compile

![selection_201](https://cloud.githubusercontent.com/assets/319678/24549554/1fe3e68e-161a-11e7-8df4-9b13fb397102.png)

[2017-03-31 12:16] bartvde commented on #287
confirmed this is still an issue, investigating

[2017-03-31 12:24] bartvde commented on #287
actually it works if running from http, which is to be expected

[2017-03-31 12:24] bartvde commented on #287
![selection_202](https://cloud.githubusercontent.com/assets/319678/24550308/bd111398-161d-11e7-9b7f-417c00cb12d2.png)

[2017-03-31 12:25] gioman commented on #287
I can re-test, but all my previous ones were done from http.

[2017-03-31 12:25] bartvde commented on #287
there firsty layer is not working, but that GeoJSON is not generated by QGIS it seems

[code]

[2017-03-31 12:26] bartvde commented on #287
ah sorry wrong path, so I need to dig deeper why the first one is not loading

[2017-03-31 12:27] gioman commented on #287
ok then is confirmed the issue, the original description is about the first layer (buildings).

[2017-03-31 12:28] bartvde commented on #287
ah right, missed that when reading the ticket at first, so we have the same issue

btw it's not even getting loaded

![selection_203](https://cloud.githubusercontent.com/assets/319678/24550420/3f60fb1a-161e-11e7-944a-89b30674e8f6.png)

[2017-03-31 12:30] bartvde commented on #287
ah I found it, seems buildings is not visible at the start

[2017-03-31 12:31] bartvde commented on #287
still strange it works ok in preview then

[2017-03-31 12:41] bartvde commented on #287
might be a timing issue, but I wonder which of the two is actually more logical

[2017-03-31 13:16] gioman commented on #275
@bartvde I really cannot see the attributes show for edit. I'm using the same wfs layer from my own instance of geoserver. Edits of features work. What are the detailed steps to follow? Possibly I'm not doing the right sequence of steps.

[2017-03-31 13:18] bartvde commented on #275
@gioman use the select button, click on a feature, and the form should show up

[2017-03-31 13:24] bartvde commented on #287
just talked to @volaya about this one and we think it would be best if the layer selector above the table would only show the visible layers. What do you think @gioman ?

[2017-03-31 13:25] gioman commented on #287
make sense to me.

[2017-03-31 13:25] bartvde commented on #287
okay I will implement this

[2017-03-31 13:29] bartvde commented on #287
done with: https://github.com/boundlessgeo/sdk/commit/e3f5cff1360a5c3c616c6699cda3ccac414e8690

[2017-03-31 13:34] gioman commented on #274
yeah, I see now the delete button... sorry for this.

[2017-03-31 13:34] #274 closed

[2017-03-31 13:41] gioman commented on #275
@bartvde I can consistently make it work now. Possibly some unclean/not up to date thing on my side.

[2017-03-31 13:41] #275 closed

[2017-03-31 13:49] #287 closed

[2017-03-31 14:15] bartvde commented on #190
Closing, please reopen if this is still an issue with the current version.

[2017-03-31 14:15] #190 closed

[2017-03-31 14:21] #36 closed

[2017-03-31 14:24] #46 closed

[2017-03-31 14:27] #114 closed

[2017-03-31 15:09] #204 closed

[2017-03-31 15:11] gioman opened #306 "WFS layers do not show in map (preview and compiled) of project was created in qgis 2.14"
If the same project in done in 2.18 (with wfs layers added from 2.18) then work ok.

[webapp_wfs_not_working_214.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/886047/webapp_wfs_not_working_214.zip)

[webapp_wfs_working_218.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/886048/webapp_wfs_working_218.zip)

[2017-04-03 12:23] gioman commented on #306
@fix confirmed.

[2017-04-03 12:23] #306 closed

[2017-04-11 08:09] bartvde opened #310 "adding Roboto font has changed"
New code is:

[code]

[2017-04-11 08:09] bartvde commented on #310
ah sorry it's up to date here already

[2017-04-11 08:09] #310 closed

[2017-04-11 16:13] SrNetoChan opened #311 "Attributes of Edit new layer won't show in attribute table"
Using the Edit Widget I created a new layer of polygons with some attributes.

Draw a few polygons adding the respective attributes.

the attributes won't show in the attribute table, although both the columns and the rows are there.

Also, it's not possible to pop up the information on new layers. It would be nice that have pop up with all fields activated by default on this type of layers.

![im

[2017-04-11 16:15] gioman opened #312 "catch error when credential cannot compile and give better message"
lately the error have been

_Network error #202: Error downloading https://api.boundlessgeo.io/v1/websdk/version  - server replied:_

[2017-04-11 16:30] SrNetoChan opened #313 "Not possible to open a Point Edit layer's table"
- Created a new layer using the Edit widget;
- Added some points with their attributes;
- Tried to open its attribute table, although its displayed in the drop-down menu I'm unable to select it...

[2017-04-11 16:30] luipir commented on #312
for @volaya the generic mechanismo to be implemented in ANAM is to get the downloaded txt file and dump in reason  or in log

[2017-04-11 16:38] SrNetoChan opened #314 "Missing images in the help files"
There are several images missing in the App help

[2017-04-11 16:48] SrNetoChan commented on #314
This happens for inline images. Works in the widget's isolated HTML, but not in the one create by WAB (that joins all help files from the widgets used in the app)

[2017-04-11 22:03] SrNetoChan commented on #313
This compiled App can be used to test this behaviour:

https://www.dropbox.com/s/q5js2unli8mazhs/webapp_edit_widget.zip?dl=0

[2017-04-11 22:07] SrNetoChan opened #315 "After adding a layer with Edit Widget, selected feature disappear from the map"
Steps to reproduce:
- In layer list, enable the buildings layer;
- Enable the select by rectangle and select some buildings;
- Open Edit widget;
- Create a new layer
- Enable the select by rectangle tools an select the buildings again.

 You should see the features disappearing.

This app can be used to test this:

https://www.dropbox.com/s/q5js2unli8mazhs/webapp_edit_widget.zip?dl=0

[2017-04-11 22:12] SrNetoChan opened #316 "Not possible to select features from layers in groups"
It is not possible to select features in layers that are grouped.

In the following app, parks and landmarks were marked as selectable. nevertheless, you can't select them using select by rectangle (table select works)

https://www.dropbox.com/s/q5js2unli8mazhs/webapp_edit_widget.zip?dl=0

If, in QGIS, you remove those layers from the group, the with the same appdef, the app will allow selection w

[2017-04-11 22:39] SrNetoChan opened #317 "WFS-T widget is inside a frame with scroll bars"
The WFT-T widget, when opened, is shown inside a frame like this

![image](https://cloud.githubusercontent.com/assets/3607161/24933436/3906c4ea-1f0e-11e7-90aa-35d3a82faf45.png)

Here is the compiled app to test:

https://www.dropbox.com/s/3vim5q95tg1cx1q/webapp_wfs-t_widget.zip?dl=0

[2017-04-11 22:49] SrNetoChan opened #318 "Refresh interval in refresh widget is not saved in the configuration"
Refresh default values are 3000 ms.

If you change them to any other values and press ok. If you open the configuration again they are back to 3000.

Also, apps produced with it look like they refresh the layers from 3 in 3 secs, even if you tried to change the values to very higher numbers.

[2017-04-11 23:04] SrNetoChan commented on #210
The help should no longer be obsolete, but it still has no style associated with it.

[2017-04-11 23:34] SrNetoChan opened #319 "Geolocation widget doesn't work in Firefox"
Clicking the geolocation button will ask if you want to share your location. After you answer "yes" you get the following error and the geolocation buttons disappear from the App.

![image](https://cloud.githubusercontent.com/assets/3607161/24935108/b70ba1e0-1f17-11e7-900a-d757d7db3fd6.png)

[2017-04-11 23:39] SrNetoChan opened #320 "When Geolocation is enabled there is a semi-transparent layer over the map"
this is not easy to explain but, in internet explorer and edge, when you enable the Geolocation, all the map looks like it has a semitransparent layer on top of it.

This is with geocoding disabled:
![image](https://cloud.githubusercontent.com/assets/3607161/24935196/6d71bdca-1f18-11e7-8a94-3e86bc3bcfa0.png)

This is with geocoding enabled
![image](https://cloud.githubusercontent.com/assets/360716

[2017-04-11 23:41] SrNetoChan commented on #320
False alarm... it's only the precision buffer.

![image](https://cloud.githubusercontent.com/assets/3607161/24935239/bf57f460-1f18-11e7-96b0-9cd74b93cf8b.png)

It does not show on chrome though...

[2017-04-12 00:08] SrNetoChan commented on #314
@volaya This might be a WAB plugin problem.

Not all images in the widgets folders are being copied with the app's help.

[2017-04-12 00:09] SrNetoChan commented on #314
Now that I'm looking at it, must the help images have the `help_ prefix` in there names?

[2017-04-12 06:29] volaya commented on #316
the isSelectable property is correctly set to true for layers in groups, so i think the issue is in SDK. Assigning to Bart

[2017-04-12 06:31] gioman commented on #317
Not ideal, but arguably an enhancement rather than a bug (at least at this stage).

[2017-04-12 06:39] #314 closed

[2017-04-12 06:39] gioman commented on #315
Confirmed here.

[2017-04-12 06:39] #317 closed

[2017-04-12 06:41] gioman commented on #319
@SrNetoChan cannot confirm here, works as expected on FF. Did you checked for this in a VM?

[2017-04-12 06:41] volaya commented on #320
I guess this can be closed, right?

[2017-04-12 06:43] gioman commented on #319
@SrNetoChan the described behavior is confirmed for me, but on Chrome.

[2017-04-12 06:45] gioman commented on #320
possibly yes see https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/319#issuecomment-293488470

there are issues with geolocation on Chrome (not FF as the title would suggest), so the precision buffer does not show at all in this case.

[2017-04-12 06:47] volaya commented on #318
@aneto After you edit the value, you have to click somewhere else or press enter, to actually set the value in the text box. If you just type it and then click on OK, it wont pick it.

Let me see if i can fix it

[2017-04-12 06:47] gioman commented on #313
Confirmed here.

[2017-04-12 06:50] gioman commented on #311
Confirmed here.

[2017-04-12 06:51] gioman commented on #313
@SrNetoChan isn't this the same as https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/311 ?

[2017-04-12 07:07] bartvde commented on #311
The whole Edit stuff has been changed recently, should be fixed before the 1.0

[2017-04-12 07:07] #311 closed

[2017-04-12 07:11] bartvde commented on #313
This will be fixed with the recent Edit / WFST changes in SDK, but we can't pull that stuff in now.

[2017-04-12 07:11] #313 closed

[2017-04-12 07:49] #318 closed

[2017-04-12 09:17] SrNetoChan commented on #320
@volaya, yes, let's close it. Not sure if the precision buffer is supposed to appear in the other browsers.

[2017-04-12 09:17] #320 closed

[2017-04-12 09:18] SrNetoChan commented on #319
@gioman I will confirm. Pretty sure that in my machine this was happening on Firefox.

[2017-04-12 11:20] SrNetoChan opened #321 "Several problems in internet explorer"
Found several problems using a app with several widget in Internet Explorer:

- Rotating the map, won't rotate the north arrow widget in internet explorer
- Zoom slider won't work on Internet Explorer;
- Layer list and legend don't open in internet explorer;
- Table won't fully open (shows only the table toolbar).
![image](https://cloud.githubusercontent.com/assets/3607161/24934644/ba4e3e74-1f14-1

[2017-04-12 11:29] bartvde commented on #321
what version of IE is this?

[2017-04-12 11:57] bartvde commented on #315
Cannot reproduce this in the latest SDK code, so I expect this will be fixed when we pull in the 1.0 release

[2017-04-12 11:57] #315 closed

[2017-04-12 11:59] bartvde commented on #317
This will completely change in the new SDK anyway

[2017-04-12 12:02] bartvde commented on #319
Chrome needs https:// for geolocation, nothing we can do about it

[2017-04-12 12:02] #319 closed

[2017-04-12 12:03] bartvde commented on #320
it will depend on what the geolocation API will give back, this is browser dependent

[2017-04-12 12:59] SrNetoChan commented on #321
@bartvde Internet Explorer 11.447.14393.0

It's the one that comes with Windows 10.

[2017-04-12 15:06] bartvde commented on #321
I cannot reproduce the not rotating of north arrow in my IE9 VM

[2017-04-12 15:11] bartvde commented on #321
@SrNetoChan any chance you can attach the app?

[2017-04-18 07:09] bartvde opened #322 "Change the Tabbed theme to use LeftNav"
This means using the new Header and LeftNav components. I just added them to the SDK full build with https://github.com/boundlessgeo/sdk/commit/9bbb1c4f9be65e5e11140ebe45af431761d91201

The QuickView app has already been updated, I'm going to update the tabbed app now and then that changeset can serve as input for this work.

[2017-04-18 07:39] bartvde opened #323 "Edit / WFS-T workflow has changed in SDK"
WFS-T has been renamed DrawFeature
Edit widget is no more, it is now done through a single widget for both WFS and local vector layers

Other edit actions are done through the FeatureTable (modify, delete). If you don't want those columns in the table, the user can set allowEdit to false (defaults to true)

Also an EditPopup is needed in the application.

QuickView has been updated

https://github

[2017-04-18 09:39] volaya commented on #323
this should be solved already. edit and wfst components have been removed, and the draw feature has been added.

Docs are not yet updated, but @SrNetoChan will open a new ticket for that.

[2017-04-18 09:39] #323 closed

[2017-04-18 15:14] bartvde opened #324 "Add ZoomToLatLon widget"
This is a button in the toolbar which allows the user the zoom to a latitude longitude coordinate pair in either DD or DMS notation

Needs to be configured with the map only:

[code]

[code]

[2017-04-19 05:34] volaya commented on #324
already implemented

[2017-04-19 05:34] #324 closed

[2017-04-19 07:04] bartvde commented on #324
thanks @volaya

[2017-04-20 14:34] bartvde opened #325 "Add geometryType and attributes info to local vector layers"
For local vector layers we need the following extra info for the new edit workflow in SDK:

[code]

[2017-04-21 09:28] #325 closed

[2017-04-24 10:10] bartvde opened #326 "npm packages are now in an organisation"
This has consequences for the import in the jsx files, e.g. see this changeset:

https://github.com/boundlessgeo/sdk-generator/commit/a64c7eb377f7cf18c191abe6c45a6a25ffcaec9a

[2017-04-26 07:48] #326 closed

[2017-05-09 12:35] gioman opened #328 "blank app when adding the "draw feature" widget"
On WAB master when you add the "layer list" widget you are now warned with

![screenshot_20170509_133416](https://cloud.githubusercontent.com/assets/1951107/25851076/391e6014-34bc-11e7-8292-75b5a9cf9a14.png)

but if you add the "draw feature" widget then the preview is blank. Without the widget the preview is ok.

[2017-05-09 12:39] gioman opened #329 "Python error when trying preview a webapp with the "attributes table" widget"
[code]

[2017-05-09 12:41] gioman commented on #328
The "draw feature" widget makes webapps show blank also when it is the only widget used.

[2017-05-09 12:42] bartvde commented on #329
this was fixed by @volaya yesterday afternoon

[2017-05-09 12:42] bartvde commented on #329
see https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/79214affd277f3983f9a151007f2ae1356504538

[2017-05-09 12:42] #329 closed

[2017-05-09 12:45] bartvde commented on #328
I will check this one

[2017-05-09 12:49] bartvde commented on #328
![selection_252](https://cloud.githubusercontent.com/assets/319678/25851606/b35059be-34c6-11e7-900e-8159c1c3b091.png)

I'm seeing this in the console, probably SDK

[2017-05-09 13:07] bartvde commented on #328
seems to be caused by ```this.props.map.addOverlay(this.overlayPopup);``` somehow

[2017-05-09 13:14] bartvde commented on #328
@volaya seems to be WAB related

You create an EditPopup in DrawFeature but it should be wrapped in a div

[code]

[2017-05-09 13:17] gioman commented on #329
right, sorry for that.

[2017-05-09 13:20] gioman opened #330 "layer and filter misaligned in table view"
See the following images:

![screenshot_20170509_141605](https://cloud.githubusercontent.com/assets/1951107/25852827/9be161dc-34c2-11e7-9f6d-b125fbeb00a2.png)

![screenshot_20170509_141810](https://cloud.githubusercontent.com/assets/1951107/25852829/9d78ba9a-34c2-11e7-8837-01f0ffa204b4.png)

[2017-05-09 13:37] gioman opened #331 "black "header" on full screen mode"
See following image. On FF there is also an equivalent black "footer".

![fullscreen](https://cloud.githubusercontent.com/assets/1951107/25853512/f52187ca-34c4-11e7-987d-504efb9f2158.png)

[2017-05-09 13:54] bartvde commented on #331
@gioman is this tabbed or basic? or both?

[2017-05-09 13:55] gioman commented on #331
as agreed I'm just testing basic for now.

[2017-05-09 14:06] bartvde commented on #331
I'm guessing it has something to do with the theme's css, investigating

[2017-05-09 14:09] bartvde commented on #331
@volaya can you check if this change to the css does the trick?

[code]

I left the old css in with comments, you can take it out if it works

[2017-05-09 17:07] bartvde commented on #330
@jjmulenex is this something you might be able to look at?

[2017-05-09 17:28] gioman opened #332 ""moving" layers list icon"
![moving_icon](https://cloud.githubusercontent.com/assets/1951107/25863867/4562d872-34e5-11e7-9949-314cc2a84dd5.gif)

not sure this is the desired effect.

[2017-05-09 17:29] bartvde commented on #332
it's not but it's an easy fix, thanks for reminding me

[2017-05-09 17:34] gioman opened #333 "new layer > upload local file: add a check for unsupported formats"
The functionality seems to work only with certain formats (like KML) but it accepts any type of file. if an unsupported format the webapp does not seems to go anywhere when clicking "add". Seems reasonable to add a control to not accept anything that does not have the right extentsion.

![not_supported_format](https://cloud.githubusercontent.com/assets/1951107/25864113/28d68306-34e6-11e7-98dd-d220

[2017-05-09 17:38] gioman opened #334 "Table from "layer list" and from "attributes table" widgets do not show the same controls"
In the latter it seems are missing the "delete" and "edit" icons is possible to see in the former:

![table_icons](https://cloud.githubusercontent.com/assets/1951107/25864223/97e43fd6-34e6-11e7-8cdf-9395b8910093.gif)

[2017-05-09 18:19] gioman commented on #328
Just updated to the latest revision code and still true. Attaching the app.

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/987626/webapp.zip)

[2017-05-09 19:15] wnordmann commented on #332
This is fixed at each app in a manor similar to this pr
https://github.com/boundlessgeo/sdk-apps/pull/25

On Tue, May 9, 2017 at 12:29 PM, Bart van den Eijnden <
notifications@github.com> wrote:

[2017-05-10 06:19] volaya commented on #332
i added this to the app css in WAB

 .layerlistbutton {
 position: absolute !important;
    right: 0px;
    top: 0px;
  }

IT still doesnt look nice, like the legend, since the padding is to small inside the panel, and the panel appears under the button. Any ideas?

[2017-05-10 06:37] bartvde commented on #332
I'll have a look today @volaya, don't worry

[2017-05-10 06:55] SrNetoChan opened #335 "Typo in the upload layer dialog"
![image](https://cloud.githubusercontent.com/assets/3607161/25886446/8059b00c-3555-11e7-83a3-6af46b7c8650.png)

In the above image the FileName.kml label seems odd to me. Could it be ```File name (*.GeoJSON, *.gpx, *.kml)``` instead?

[2017-05-10 08:20] volaya commented on #331
I can try that change...but i am not able to reproduce the error. I see the
header correctly

On Tue, May 9, 2017 at 4:09 PM, Bart van den Eijnden <
notifications@github.com> wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-05-10 08:22] bartvde commented on #331
ok I will try it

[2017-05-10 08:28] bartvde commented on #333
Should be fixed with https://github.com/boundlessgeo/sdk/pull/487

[2017-05-10 08:28] #333 closed

[2017-05-10 08:41] #322 closed

[2017-05-10 09:10] bartvde commented on #335
I change it to Filename just now with https://github.com/boundlessgeo/sdk/pull/487

[2017-05-10 09:10] #335 closed

[2017-05-10 09:25] bartvde commented on #328
checking this one again

[2017-05-10 09:33] gioman opened #337 ""pencil" icon has no effect in table if the "draw feature" widget is not active(?)"
In table view there are a "delete" a "pencil" icons. While the "delete" one works, the "pencil" one does not, at least it does not if the "draw feature" widget is not active (something I cannot try at the moment because activating it results in blank webapps).

![screenshot_20170510_102956](https://cloud.githubusercontent.com/assets/1951107/25892338/0a543384-356c-11e7-9dbc-668fbffca850.png)

[2017-05-10 09:37] SrNetoChan commented on #332
In the latest version (340fbe) the button does not move, but the panel opens below it.

![image](https://cloud.githubusercontent.com/assets/3607161/25892513/7d2f6158-356c-11e7-9296-c031212114f8.png)

[2017-05-10 09:37] bartvde commented on #332
see #336

[2017-05-10 09:46] bartvde commented on #328
there is a double comma in the generated code now:

```React.createElement("div", {id: 'editpopup', className: 'ol-popup'},,```

[2017-05-10 09:48] #328 closed

[2017-05-10 09:49] bartvde commented on #337
@gioman can you test with the latest so that DrawFeature is included?
https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/c8fd8cf018abec180283a2ae0cb54e118e9c4ca4

[2017-05-10 10:24] gioman commented on #337
@bartvde see the following cast.
my notes:

clicking the icon kind of "center" to the feature, but not really

the pop-up with the attributes shows greyed out, but is "behind" all the rest, and sometimes is not really visible at all

clicking on the attributes pop up make the attributes table go away, so the user can apparently edit the attributes for that specific feature and/or edit the geometry

[2017-05-10 10:30] gioman opened #338 "Table of attributes header and horizontal scrolling bar should always be visible"
See:

![scrolling](https://cloud.githubusercontent.com/assets/1951107/25894404/963a68a8-3573-11e7-9d1e-d20a48d00e0d.gif)

when opening the table the header with column name disappear if the user scrolls vertically the table the columns name "disappear" and its sametimes hard to understand at what attribute we are looking at.

Moreover if the table is wide horizontal scrolling is necessary to see c

[2017-05-10 10:43] gioman opened #339 "Only non empty cplumns are shown in the table of attributes"
This has been observed in uploaded layers (KML).

If the KML has an attribute column that is completely empty then is not shown in the table in webapps. Attached two samples.

[2017-05-10 10:43] gioman commented on #339
[samples_kml.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/989485/samples_kml.zip)

[2017-05-10 10:51] bartvde commented on #337
yeah that table is not really suited for the editing, it only works if the table is separate

[2017-05-10 10:52] bartvde commented on #337
I will check out the other issues

[2017-05-10 10:56] bartvde commented on #338
yes known issues, but won't be tackled now

[2017-05-10 10:56] bartvde commented on #338
unless @jjmulenex has ideas here, I tried to improve things before but failed

[2017-05-10 11:02] SrNetoChan commented on #332
This is fixed.

[2017-05-10 11:05] bartvde commented on #339
The schema part of a KML is not read by OpenLayers, so we can only inspect the keys of an actual feature

[2017-05-10 11:07] bartvde commented on #339
The schema part is read, but online inline, not with  schemaUrl

[2017-05-10 11:08] bartvde commented on #339
No sorry upon reading the code again in openlayers it's not parsed

[code]

So I don't see an easy fix for this

[2017-05-10 11:13] #332 closed

[2017-05-10 11:27] bartvde commented on #339
maybe the JSONIX KML reader can extract the schema but I'm not sure if it's worth the trouble and the second parse

[2017-05-10 11:55] #331 closed

[2017-05-10 12:14] bartvde commented on #334
I'm seeing them in both @gioman
![selection_253](https://cloud.githubusercontent.com/assets/319678/25898107/f89d1b00-358a-11e7-9172-fad69df3a8fc.png)

[2017-05-10 12:27] gioman commented on #334
@bartvde correct, with the latest master is ok.

[2017-05-10 12:27] #334 closed

[2017-05-10 12:33] SrNetoChan commented on #330
Not use if related, but the first time I open an attribute table, it shows in the middle of the screen.
![image](https://cloud.githubusercontent.com/assets/3607161/25898722/37c51c34-3585-11e7-9fc0-362c6f5da311.png)

[2017-05-10 12:35] bartvde commented on #330
yeah this is in the theme / css. We should set the background color though so it doesn't look so awkward

[2017-05-10 12:37] gioman opened #341 "Filter table when filtering map"
At the moment of the map is filtered the table shows all records.

[2017-05-10 12:38] SrNetoChan commented on #330
Also, if the layer to edit doe snot have many fields, the selection, edit and delte columns look too big. Those columns should have a fixed width.
![image](https://cloud.githubusercontent.com/assets/3607161/25898945/eefa2c82-3585-11e7-8424-c36d5eca0dee.png)

[2017-05-10 12:40] bartvde commented on #330
agreed, I'll set a maxWidth on those

[2017-05-10 12:41] gioman opened #342 "Editing an existing link does not work"
Changes in the URL are not saved. Moreover addresses without http:// do not work.

[2017-05-10 12:44] gioman opened #343 ""measure" widget causes python error when creating webapp"
2017-05-10T13:42:23	2	WebAppBuilder: Traceback (most recent call last):
			  File "C:/Users/qgis/.qgis2/python/plugins\webappbuilder\appcreator.py", line 58, in createApp
			    writeWebApp(appdef, folder, forPreview, progress)
			  File "C:/Users/qgis/.qgis2/python/plugins\webappbuilder\appwriter.py", line 104, in writeWebApp
			    w.write(appdef, dst, _app, progress)
			  File "C:/Users/qgis/.q

[2017-05-10 12:45] bartvde commented on #342
this is for @volaya I guess?

[2017-05-10 12:51] gioman opened #344 "Legend is not printed"
When printing and hovering mouse on the "Print" button the preview image shows the layout tha may contain a legend. But then in the output pdf there is no legend.

[2017-05-10 12:52] bartvde commented on #344
Can you attach a webapp?

[2017-05-10 12:56] SrNetoChan opened #345 "Prevent Layer editing"
When the user activates the Draw Feature control, all "local" layers become editable and there is no way to prevent the final user from messing with the layer's features.

Would be nice to have an option to prevent the user from editing certain layers (Under the QGIS layers tab).

[2017-05-10 12:59] SrNetoChan opened #346 "Can't use the scroll in Attribute editing dialog"
When the layer you are editing the attributes has many fields, you need to scroll the list of fields. But, scrolling with the mouse wheel Zooms the map instead, and trying to drag the scroll bar moves the map.

![anim](https://cloud.githubusercontent.com/assets/3607161/25899624/70a4fdbe-3588-11e7-8297-d8dfc014dc94.gif)

Besides the dialog has an "Add" button, although in this context an "update" o

[2017-05-10 13:01] gioman opened #347 "Query tool "removes" queried features from map"
The query tools works, the filter correctly highlight the selected features on map... but under the yellow highlighting the feature is removed from map.

The only way to get it back is to create a new query, for convenience there should be a button to remove the active query and return to the original state.

[2017-05-10 13:04] bartvde commented on #330
argh width is not getting applied correctly somehow :) will investigate