[2017-05-10 13:27] bartvde commented on #330
ok it works on newer versions of the table component

[2017-05-10 13:30] bartvde commented on #330
see: https://github.com/boundlessgeo/sdk/pull/488

[2017-05-10 14:12] bartvde commented on #330
background color set with: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/2eceb0a2432362ada8c10799600c0697b7167144

[2017-05-10 15:37] volaya commented on #342
yes, that sounds like WAB

[2017-05-10 19:20] gioman commented on #344
attached.

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/990963/webapp.zip)

[2017-05-11 09:11] bartvde commented on #347
good point, the whole widget will be changed soon, but I'll add a button to clear the filter

[2017-05-11 09:34] #347 closed

[2017-05-11 09:39] #343 closed

[2017-05-11 09:45] bartvde commented on #346
yes I've also seen this

[2017-05-11 11:14] bartvde commented on #344
@gioman how were you testing this? With file url I get:

```Access to Image at 'file:///home/bartvde/Downloads/1105/webapp/resources/print/aaa_b4a50258-920e-4fcb-96ab-729de2ee8f40_150.png' from origin 'null' has been blocked by CORS policy: Invalid response. Origin 'null' is therefore not allowed access.````

which is to be expected

[2017-05-11 11:15] bartvde commented on #344
it should work from http://

[2017-05-11 11:25] bartvde commented on #346
this has to do with using stopEvent: false in the overlay

[2017-05-11 11:29] bartvde commented on #346
but with stopEvent false the buttons cannot be pressed

[2017-05-12 09:28] bartvde commented on #330
background color is only part of this ticket, more needs to be done

[2017-05-12 09:52] bartvde commented on #346
Related discussion here: http://stackoverflow.com/questions/35454014/clicks-on-reactjs-components-not-firing-on-an-openlayers-overlay

[2017-05-12 09:57] bartvde commented on #346
Also see: https://github.com/openlayers/openlayers/issues/4400

[2017-05-12 09:58] gioman commented on #344
@bartvde I'm not sure why was closed: if it try the preview trough a web server it works?

[2017-05-12 10:01] bartvde commented on #344
yes, through a webserver it should work

[2017-05-12 10:03] bartvde commented on #338
We've discussed adapting the page size based on the available table height

[2017-05-12 10:03] gioman commented on #344
@bartvde unlikey that a user will check the preview trough a web server. Would it be possible to raise a warning for such case (preview + print)?

[2017-05-12 10:03] bartvde commented on #344
warning would be for @volaya

[2017-05-12 10:10] SrNetoChan opened #348 "When opened simultaniously, layer list and legend overlap"
![anim](https://cloud.githubusercontent.com/assets/3607161/25993832/56705d9a-3703-11e7-9ca2-4d2f632bb4e9.gif)

Would be nice if they could work exclusively, so when one control is clicked the closes.

[2017-05-12 10:15] gioman opened #349 "add a warning when preview a webapp with the print widget"
As pointed here

https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/344

is the preview is not seen using a web server it won't contain the lagend, making the users think about a bug.

[2017-05-12 10:26] gioman opened #350 "Add an option to allow choose if a layer group starts expanded or collapsed"
This has been requested by at least a couple of persons in the beta program.

[2017-05-12 13:13] gioman commented on #316
It is still not possible to select features of layers within groups.

[2017-05-12 13:17] gioman opened #351 "layers within groups are not indented (making hard to distinsguih layers and groups)"
![screenshot_20170512_141609](https://cloud.githubusercontent.com/assets/1951107/25999606/ab4d984a-371d-11e7-8352-820736186e2d.png)

[2017-05-12 13:18] gioman opened #352 "Groups layers are missing the icon to collapse the group (as it is present fotr the basemaps group)"
![screenshot_20170512_141759](https://cloud.githubusercontent.com/assets/1951107/25999644/d75840f2-371d-11e7-82b3-0468546bab38.png)

[2017-05-12 13:19] gioman opened #353 "Toggling/untoggling layers groups visibility also changes visibility of basemaps"
![basemaps](https://cloud.githubusercontent.com/assets/1951107/25999695/06f73534-371e-11e7-82e1-15b4f8f3ec8b.gif)

[2017-05-12 13:22] gioman commented on #339
The problem is that you can have uploaded kml files that do not show any attribute at all, not nice as user experience. But agree that this could be considered a minor issue at the moment compared to others.

[2017-05-12 13:31] gioman opened #354 "The option "show group content in layer list" does not make any difference if active/not active"
subject says it all.

[2017-05-12 13:32] SrNetoChan opened #355 "Tabbed theme menus is not rendering well"
![image](https://cloud.githubusercontent.com/assets/3607161/26000178/dc2d64ac-371f-11e7-81fe-d5ea907257e7.png)

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/996794/webapp.zip)

[2017-05-12 13:39] SrNetoChan opened #356 "Save complete project not saving the data"
I have installed QConsolidate, reloaded QGIS.

Clicking Save complete project creates a webapp.zip with the qgis project, the appdef, and an empty "." folder.

Outside the zip a "layers" folder is created, but it's empty.

[2017-05-12 14:52] bartvde commented on #338
Should be fixed with https://github.com/boundlessgeo/sdk/pull/493

[2017-05-12 14:52] #338 closed

[2017-05-15 06:12] volaya commented on #344
Warning implemented here
https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/8165db0908b51d878aa220e13e09f0f0ef084679

[2017-05-15 06:14] volaya commented on #354
@bartvde IS this a problem with SDK?

The `showContent`property is correctly added by WAB when creating the `new ol.layer.Group`object, so it should have enough info to behave correctly. Looks like an issue in the layers list component

[2017-05-15 07:06] volaya commented on #349
added already

[2017-05-15 07:06] #349 closed

[2017-05-15 07:07] volaya commented on #350
I added the option, which is written in the code as a property of the group object, named `isGroupExpanded`. @bartvde, now it's up to you and the SDK team to use it

[2017-05-15 07:07] #350 closed

[2017-05-15 07:56] bartvde commented on #354
Right likely an issue in SDK

[2017-05-15 08:12] bartvde commented on #330
This was fixed by @jjmulenex with https://github.com/boundlessgeo/sdk/pull/494

[2017-05-15 08:12] #330 closed

[2017-05-15 09:36] #356 closed

[2017-05-15 09:50] bartvde commented on #350
Fixed with https://github.com/boundlessgeo/sdk/pull/496

[2017-05-15 09:50] bartvde commented on #354
Fixed with https://github.com/boundlessgeo/sdk/pull/496

[2017-05-15 09:50] #354 closed

[2017-05-15 11:22] bartvde commented on #352
I've added the icon with https://github.com/boundlessgeo/sdk/pull/496 but the indent still needs to be done

[2017-05-15 11:24] bartvde commented on #353
ah indent is separate already in #351 so closing this one

[2017-05-15 11:25] bartvde commented on #348
won't be fixed in this round, but we'll keep this in mind for the backlog

[2017-05-15 11:25] #344 closed

[2017-05-15 11:27] bartvde commented on #355
what browser @SrNetoChan ?

[2017-05-15 11:33] bartvde commented on #355
ah I see it even in Chrome

[2017-05-15 12:04] #355 closed

[2017-05-15 12:13] bartvde commented on #346
I can't see any other way than go back to stopEvent: false with the custom onClick handling we had before

[2017-05-15 14:02] bartvde commented on #346
Fixed with https://github.com/boundlessgeo/sdk/pull/497

[2017-05-15 14:02] bartvde commented on #341
Won't be worked on for this iteration, will keep in mind for redesigns of SDK later on

[2017-05-15 14:03] bartvde commented on #272
It's back in now

[2017-05-15 14:03] #272 closed

[2017-05-15 14:05] bartvde commented on #258
@wnordmann was anything done on this ticket already? Or should be add to our JIRA?

[2017-05-15 14:08] gioman commented on #353
@bartvde is this fixed?

[2017-05-15 14:09] bartvde commented on #353
no sorry it's not, I think I closed the wrong ticket

[2017-05-15 14:10] #352 closed

[2017-05-15 16:23] SrNetoChan commented on #355
@bartvde Not sure if it's still related, but now I got this.

![image](https://cloud.githubusercontent.com/assets/3607161/26067677/e16058e2-3992-11e7-8554-d150b58b17dd.png)

Geocoding tab opens by default (not sure if there is a place to change that), but covers the web app title.

Also, the map seems to short at the bottom.

[2017-05-15 16:25] SrNetoChan opened #359 "menus are vertically aligned to the top"
![image](https://cloud.githubusercontent.com/assets/3607161/26067859/6669bb0a-3993-11e7-8738-79bf5d7d58c4.png)

[2017-05-15 16:31] gioman commented on #355
should we reopen this?

[2017-05-15 16:36] SrNetoChan opened #360 "Filter layers help button is not aligned"
![pasted image at 2017_05_12 17_34](https://cloud.githubusercontent.com/assets/3607161/26068311/fea69b8a-3994-11e7-9425-2bb1aa805d3c.png)

[2017-05-15 16:51] SrNetoChan opened #361 "table of atributes looks short"
![image](https://cloud.githubusercontent.com/assets/3607161/26068901/09e04878-3997-11e7-983a-f2562acf1130.png)
Note all the empty space below

[2017-05-16 07:13] bartvde commented on #355
there is no place to set the initial tab, I've asked @volaya before

The title covered is a known issue and will be worked on by @wnordmann soon

I'll look at the map not covering the full length

[2017-05-16 07:15] bartvde commented on #359
I'm working on changing all the buttons to icon buttons see #358

[2017-05-16 08:33] bartvde commented on #355
map height fixed with https://github.com/boundlessgeo/qgis-webappbuilder-plugin/pull/362

if you want to be able to set the active tab, I suggest opening up a new issue and assign it to @volaya

[2017-05-16 09:17] #342 closed

[2017-05-16 10:31] SrNetoChan commented on #359
@bartvde that sounds like a good plan. Thanks!

[2017-05-16 10:31] #359 closed

[2017-05-16 10:46] SrNetoChan commented on #355
I think that, if the title is not covered, I don't really care what tab is opened by default. Any thoughts @volaya?

[2017-05-16 10:49] SrNetoChan opened #363 "help menu entry to documentation is not working"
Going to web > web app builder > web app builder help does not open the offline documentation.

[2017-05-16 10:49] gioman commented on #363
also the help button in the WAB dialog/window does not seems to work.

[2017-05-16 10:52] gioman opened #364 "better handling for the warning for the "refresh" layers widget?"
Create a project with no OGC layers.

Add the "refresh layers" widget.

On preview you'll get

"Refresh layers component added, but it has no layers configured to be refreshed".

So you go in the widget options but there are no layers, and (of course) no way to add them.

If OGC layers are missing and the widget added maybe is better to silently disable it? just an idea.

[2017-05-16 11:12] bartvde commented on #361
I can reproduce, will fix

[2017-05-16 11:13] gioman opened #365 "Do not allow OGC layers from servers with no CORS/JSONP (?)"
Adding a OGC layer, a WMS from example, for a server with no CORS/JSONP will make WAB send a message like

http://mapserver.uevora.pt/cgi-bin/mapserv?map=/home/mapserver/mapfiles/ubc_ortos_http.map

then on webapp preview the layer with load to fail with

There was an error loading tiles.

wouldn't be better to "ban" altogether the OGC layers that are from services/servers that are not supported?

[2017-05-16 11:28] bartvde commented on #361
although it's not so pronounced in my tests as in your screenshot

[2017-05-16 11:30] bartvde commented on #361
and in my case it only seems to happen if there is a single page with not many items

[2017-05-16 11:36] SrNetoChan commented on #361
Yes, I find it more pronounced when in the higher resolution screen.

This is the project to reproduce the problem.
[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1004181/webapp.zip)

[2017-05-16 12:03] volaya commented on #355
yes, i think it is a feature no one would use...

[2017-05-16 12:21] gioman opened #366 ""Draw feature" does not work"
![draw](https://cloud.githubusercontent.com/assets/1951107/26105579/6a0ce12c-3a3a-11e7-8caf-30c5190cd652.gif)

[2017-05-16 12:25] gioman opened #367 "wfs-t editing broken"
Used the same endpoint that weeks ago allowed me to successfully test wfs-t editing.

Possibly related to

https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/366

the behavior with a WFS-T in the webapp is similar (WFS-T rowks just fine in QGIS as client).

[2017-05-16 12:32] #361 closed

[2017-05-16 12:38] gioman opened #368 "Map should be visible in overview eben if "visible on startup" is not active"
Or alternatively if "visible on startup" is not active then also "show in overview" should be disabled.

[2017-05-16 13:19] bartvde commented on #367
I can reproduce, no clue though as yet why

[2017-05-16 13:54] bartvde commented on #367
argh now I remember what causes this, a recent change actually

https://github.com/boundlessgeo/sdk/pull/497

[2017-05-16 14:21] bartvde commented on #367
Reverted that one, so fixed now in SDK master

[2017-05-16 14:21] #366 closed

[2017-05-16 14:22] bartvde commented on #346
Had to revert that PR due to other issues, need to see if I can solve this one in another way

[2017-05-16 14:56] bartvde commented on #346
Will be fixed with: https://github.com/boundlessgeo/sdk/pull/501

[2017-05-16 14:56] #346 closed

[2017-05-16 20:14] gioman opened #369 ""draw feature": should not allow draw type of features if there are no layers can accomodate them"
If I have only polygons I can still elect draw a line or a point, but then I can't choose any layer where to save it.

[2017-05-16 20:22] gioman commented on #367
after finishing the edit of a wfs-T layer in the webapp the new feature does not show. It seems that is really not saved as also on QGIS (as client) does not show. Editing in QGIS works fine.

[2017-05-16 20:47] gioman opened #370 "playback slider remains under the header"
![screenshot_20170516_214722](https://cloud.githubusercontent.com/assets/1951107/26127452/505ee3c8-3a81-11e7-96e5-ee01157260ef.png)

[2017-05-16 20:49] gioman opened #371 "playback slider and zoom slider kind of collide with each other"
![screenshot_20170516_214852](https://cloud.githubusercontent.com/assets/1951107/26127566/88279bd8-3a81-11e7-88af-baf524c0971c.png)

[2017-05-16 20:57] gioman opened #372 "using "show popups on hover" created a weird dragging effect"
![drag](https://cloud.githubusercontent.com/assets/1951107/26127871/9e487706-3a82-11e7-9730-a4a7ec417663.gif)

[2017-05-16 21:04] gioman opened #373 "not sure the option "restrict to extent" is working"
I ask please if you can test too to confirm or reject. thanks

I have used in conjunction with

extent > canvas extent

where the canvas extent was a much smaller area then the whole are covered by all layers in the project.

[2017-05-16 21:11] gioman opened #374 ""use scale dependent visibility" does not work"
I set up two layer in qGIS with two non overlapping scale range visbilities

1) 1:200000000 to 1:10000000
2) 1:99999999 to 1:1

2 is always shown, 1 is never shown.

[2017-05-16 21:17] gioman opened #375 "overlay maps: the only ones that show somthing are the one "stamen""
All the others... blank result.

[2017-05-16 21:42] gioman commented on #374
There seems to be a bug in QGIS when setting the "minimum" scale value (does not correct be saved) anyway I think I made to create a sample project that should make sense.

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1005903/webapp.zip)

[2017-05-16 21:49] gioman opened #376 "tabbed layout: scrolling to see the column, scrolling to see the paging buttons, filter space cut"
![tabbed1](https://cloud.githubusercontent.com/assets/1951107/26129841/e4541ae6-3a89-11e7-9d79-906f2124a5b4.gif)

[2017-05-16 21:51] gioman opened #377 "not very intuitive that to reopen the tab is necessary to click on the logo..."
![tabbed2](https://cloud.githubusercontent.com/assets/1951107/26129881/208ba182-3a8a-11e7-92d9-8a86edf8af90.gif)

[2017-05-16 21:54] gioman opened #378 "in fullscreen the tabbed table disappear"
![tabbed3](https://cloud.githubusercontent.com/assets/1951107/26130012/a1416b36-3a8a-11e7-9543-7ee6717f2bc6.gif)

[2017-05-16 22:02] gioman opened #379 "in tabbed mode the legend icon could stay a little more above than its normal position"
![screenshot_20170516_230129](https://cloud.githubusercontent.com/assets/1951107/26130257/b91a3a52-3a8b-11e7-9b82-ed7f8377e4df.png)

[2017-05-16 22:20] gioman opened #380 "links without "http://" are not working"
minor, but still an issue.

[2017-05-16 22:23] gioman opened #381 "zoom in/out and pan is considerably slower when using the tabbed interface"
regardless if basemaps are added to the webapp.

[2017-05-16 22:25] gioman opened #382 "query panel is cut in tabbed mode"
![screenshot_20170516_232520](https://cloud.githubusercontent.com/assets/1951107/26130927/fd1f4762-3a8e-11e7-81ca-c615d9bedeab.png)

[2017-05-16 22:29] gioman commented on #381
also true basically for any other control (zoom buttons, sliders, etc.).

[2017-05-17 06:35] #380 closed

[2017-05-17 06:41] bartvde commented on #369
yeah I don't see an easy way to prevent this though

[2017-05-17 06:57] bartvde commented on #377
yeah the logo needs to be moved and separate (we use the same prop of AppBar / Header for the logo as for the icon to move back), I assume this will be fixed if @wnordmann has tackled SDK-471

See here for how it is in SDK apps: http://boundlessgeo.github.io/sdk-apps/tabbed/

[2017-05-17 06:59] bartvde commented on #378
yes to be expected, fullscreen is for the map

[2017-05-17 07:00] bartvde commented on #379
yes known issue, I've talked about it with @volaya already this week

[2017-05-17 07:07] bartvde commented on #367
ok I will check again I was looking with a read-only WFS only in my case

[2017-05-17 07:11] volaya commented on #373
The extent is the initial extent, which defines the starting zoom level.

The restrict to extent option just blocks the OL interface, so you cannot pan outside of that area. It leaves you some margin to move, though

Seems to be working fine here

[2017-05-17 07:54] bartvde commented on #373
there is no real restricted extent option in openlayers

[2017-05-17 08:16] bartvde commented on #367
okay I'm having issues as well even though the transaction comes back with success

[2017-05-17 08:17] bartvde commented on #367
seems the geometry is null, wonder if this is because I'm inserting a Polygon instead of a MultiPolygon

[2017-05-17 08:19] bartvde commented on #367
``{"type":"Feature","id":"states.51","geometry":null,"geometry_name":"the_geom","properties":{"STATE_NAME":"foo","STATE_FIPS":null,"SUB_REGION":null,"STATE_ABBR":"FO","LAND_KM":null,"WATER_KM":null,"PERSONS":null,"FAMILIES":null,"HOUSHOLD":null,"MALE":null,"FEMALE":null,"WORKERS":null,"DRVALONE":null,"CARPOOL":null,"PUBTRANS":null,"EMPLOYED":null,"UNEMPLOY":null,"SERVICE":null,"MANUAL":null,"P_MAL

[2017-05-17 08:24] bartvde commented on #367
no it seems the geometry name is not correct:
[code]

[2017-05-17 09:24] bartvde commented on #367
two issues here:

 * geometry name is not correct
 * geometry type is not correct (multipolygon versus polygon)

[2017-05-17 10:09] #374 closed

[2017-05-17 10:13] volaya commented on #375
the layer is defined like this

var overlayLayers = [new ol.layer.Tile({
	type: 'base-overlay',
	title: 'Hydda roads and labels',
	source: new ol.source.XYZ({
        crossOrigin:'anonymous',
		url: 'http://s.tile.openstreetmap.se/hydda/roads_and_labels/{z}/{x}/{y}.png'
	}),
    projection: 'EPSG:3857'
})

Notice the  `crossOrigin:'anonymous',`

However, in the console I see this:

Access to Image

[2017-05-17 10:13] volaya commented on #375
Looks like it is not considering that declared origin

[2017-05-17 10:45] volaya commented on #368
@gioman the visibility of the layer affects all the places where it is rendered. Do you think it could be a good idea to clone layers that are used for the overview map, so the cloned layer is used for that matter instead, and it is always visible regardless of the visibility of the original one? That's the only solution i see

[2017-05-17 11:09] gioman commented on #368
@volaya is a minor issue,  but can be confusing because the controls for layer visibility in map and overview are separated. Your solution sounds good, or just disable the overview checkbox if the visibility checkbox is disabled.

[2017-05-17 11:11] volaya commented on #368
@bartvde what do you think? Cloning the layer will have some effect on the performance?

[2017-05-17 11:12] bartvde commented on #368
cloning makes sense to me

[2017-05-17 11:12] volaya commented on #373
and how are we doing this now??

[2017-05-17 11:14] bartvde commented on #373
I don't know, what properties do you set?

[2017-05-17 11:14] gioman commented on #373
but it seems it leave you zoom out at will, is this expected?

[2017-05-17 11:15] volaya commented on #373
I just set the extent. I am seeing here (https://gis.stackexchange.com/questions/127834/openlayers-3-restrict-map-to-an-area) that it just doesnt let you move the center of the extent outside of the screen....

@gioman yes, you can zoom in and out, because, as i said, it just makes sure the center of the declared extent is in the view, but that doesnt mean you can see outside of the extent if you

[2017-05-17 11:31] #378 closed

[2017-05-17 11:32] #367 closed

[2017-05-17 11:41] volaya opened #383 "visibility of raster layers cannot be modified with layer list"
when clicking on the eye icon, it doesn't have any effect

[2017-05-17 11:44] gioman commented on #383
@volaya it is indeed sometimes very tricky... same for the "?" icon for the queries/filters help....

[2017-05-17 13:12] bartvde commented on #376
what browser is this @gioman ?

I'm getting a different behaviour with a double scrollbar
![selection_260](https://cloud.githubusercontent.com/assets/319678/26155386/3c3748c6-3b13-11e7-8ee0-4b3717eeea2a.png)

[2017-05-17 13:17] gioman commented on #376
@bartvde testing is done on windows using the latest versions of browsers, in this case Chrome.

[2017-05-17 14:36] gioman commented on #367
@bartvde confirmed. Thanks!

[2017-05-17 14:37] gioman commented on #373
@volaya @bartvde so... closing?

[2017-05-17 14:40] #337 closed

[2017-05-17 14:41] bartvde commented on #373
maybe restrict to extent is a bit misleading then as a name / title?

[2017-05-17 15:00] gioman opened #384 ""Blank" compiled webapps"
preview is ok.

Compiling works, webapp generated, header vsisible, no maps.

Using WAB master, QGIS 2.18.7, Connect master and our testing credential "enterprise".

[preview.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1008147/preview.zip)
[compiled.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1008148/compiled.zip)

[2017-05-17 15:07] bartvde commented on #384
this is probably to be expected until we upgrade the web service with a new SDK release
but we won't do that until we have tackled all the issues in preview

[2017-05-17 15:08] gioman opened #385 "I can compile webapps with ANY of the testing credentials, even the ones are not supposed to be allowed"
![screenshot_20170517_160446](https://cloud.githubusercontent.com/assets/1951107/26161178/0fdf4dfc-3b1b-11e7-8d51-929288f9c72f.png)

[2017-05-17 15:22] bartvde commented on #351
confirmed this is fixed now with SDK master
![selection_262](https://cloud.githubusercontent.com/assets/319678/26161828/4f7fe6e2-3b25-11e7-9d98-f326afe71697.png)

[2017-05-17 15:22] #351 closed

[2017-05-17 15:23] bartvde commented on #353
this is fixed now

[2017-05-17 15:23] #353 closed

[2017-05-17 15:34] gioman opened #386 "Failing automated tests in tester plugin"
[wab_automated_ae67d34.html.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1008264/wab_automated_ae67d34.html.zip)

The last test "testserverssdkerrors" cannot be run because it hangs QGIS.

wab master
tester plugin master
qgis 2.18.7 on Windows

[2017-05-17 15:35] bartvde commented on #370
looking at this one now

[2017-05-17 16:02] gioman commented on #386
e couple of manual also failing.

[wab_manual_ae67d34.html.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1008348/wab_manual_ae67d34.html.zip)

[2017-05-17 17:52] bartvde commented on #370
hmm my fix interferes with the table for instance

[2017-05-18 07:01] volaya commented on #384
as @bartvde says, probably better to wait until server is updated. However, in the app that you send, the problem is caused by missing functions in the jsx templates in WAB. My fault. Should be fixed now

[2017-05-18 07:40] #370 closed

[2017-05-18 07:56] luipir commented on #385
I'm back is it still valid this issue or a server side problem?

[2017-05-18 08:02] gioman commented on #385
@luipir on the server side they say is ok.

[2017-05-18 08:25] volaya commented on #385
If it compiles with wrong credentials (and you get a valid compiled app back), there might be some issue in WAB, but definitely there is an issue in the server side...

[2017-05-18 08:25] bartvde commented on #385
see discussion in #wab_sdk
![selection_268](https://cloud.githubusercontent.com/assets/319678/26193082/5d1ff6b8-3bb4-11e7-9ff3-803b8be70a8d.png)

[2017-05-18 08:41] bartvde commented on #371
this is fixed

[2017-05-18 08:41] #371 closed

[2017-05-18 08:42] bartvde commented on #383
@volaya is this still the case with SDK master?

[2017-05-18 09:55] volaya commented on #368
now the overview map uses it's own layers, cloned from original ones, and they stay always visible

@gioman Test and close if it works ok

[2017-05-18 10:23] volaya commented on #386
closing this. Manual tests are fixed, and the unit ones will be removed in favor of manual ones that are more significative, as we have been discussing

[2017-05-18 10:23] #386 closed

[2017-05-18 10:35] luipir commented on #386
@volaya so the strategy to add a new Event loop to control UI and network is unstable? I remember this test worked for a wile! I was planning to move manual tests to automatic :/

[2017-05-18 10:39] volaya commented on #386
i am not removing that test in particular. It should be working fine (CI is not complaining about it...)

[2017-05-18 10:52] luipir commented on #386
so does it hang if run in tester plugin?

[2017-05-18 13:23] bartvde commented on #375
it looks like those tiles don't allow for CORS?

[2017-05-18 13:25] bartvde commented on #375
yeah see here:
![selection_270](https://cloud.githubusercontent.com/assets/319678/26204128/23bff646-3bde-11e7-90dc-6dec5026a075.png)

so @volaya we should probably check which ones have CORS headers and only add crossOrigin: 'anonymous' for those definitions

It probably means those layers cannot be used for printing. That might require some docs.

[2017-05-18 13:28] volaya commented on #375
ok, so i should remove the crossOrigin anonimous property, and tell @aneto to document that, right?

[2017-05-18 13:28] bartvde commented on #375
for all tile providers that do not have CORS headers, yes

[2017-05-18 15:40] bartvde commented on #372
looking into this one now

[2017-05-18 17:12] #372 closed

[2017-05-18 18:23] bartvde commented on #369
ok I think I have an idea on how to achieve this

[2017-05-18 19:03] #369 closed

[2017-05-18 20:28] gioman commented on #368
works for me.

[2017-05-18 20:28] #368 closed

[2017-05-19 08:34] volaya commented on #375
this should be fixed now

[2017-05-19 15:27] bartvde commented on #379
fixed by @volaya
![selection_272](https://cloud.githubusercontent.com/assets/319678/26254903/64a8295a-3cb8-11e7-8fff-89b279b57dd8.png)

[2017-05-19 15:27] #379 closed

[2017-05-19 16:21] SrNetoChan opened #389 "Bookmark widget still uses a text button"

[2017-05-19 16:36] SrNetoChan opened #390 "Geocoding widget is on the right-corner of the screen"
The widget is now in a strange position:

![image](https://cloud.githubusercontent.com/assets/3607161/26257743/b1c866f4-3cb9-11e7-822a-384902103afe.png)

Used to be in the middle:

![image](https://cloud.githubusercontent.com/assets/3607161/26257718/a0555332-3cb9-11e7-86ac-6a6dea7ddf27.png)

[2017-05-19 16:48] SrNetoChan opened #391 "Issues with tabbed theme"
Widgets inside the map area are move down a bit.

![image](https://cloud.githubusercontent.com/assets/3607161/26258029/c87ef556-3cba-11e7-93c0-006b6c6c8522.png)

Also, the geocoding search field is too close to the edge. would be better to aligning it with the result's icons.

![image](https://cloud.githubusercontent.com/assets/3607161/26258120/3165f20e-3cbb-11e7-8bb9-9b34fda4d017.png)

[2017-05-19 17:05] bartvde commented on #391
just talked to @volaya he says it's intentional (80px) right @volaya ?

[2017-05-19 17:16] bartvde commented on #383
I cannot reproduce this, so closing. Please reopen with a test case if you can still reproduce.

[2017-05-19 17:16] #383 closed

[2017-05-22 05:46] volaya commented on #391
yes, there is an 80 px offset, but it is all themes. Maybe the tabbed theme has some extra margin up there?

[2017-05-22 06:33] bartvde commented on #391
probably the top differs, will look at it

Sent from my iPhone

[2017-05-22 08:31] #389 closed

[2017-05-22 08:33] #391 closed

[2017-05-22 08:37] bartvde commented on #390
looking at this one now

[2017-05-22 08:40] bartvde commented on #390
this is done in WAB code ```{id:'geocoding', className:'pull-right'}```

it's probably only taking effect now because we include font awesome in sdk

[2017-05-22 08:56] #390 closed

[2017-05-22 09:22] #375 closed

[2017-05-22 09:30] bartvde commented on #316
looking at this one now

[2017-05-22 09:53] #316 closed

[2017-05-22 11:15] bartvde commented on #381
We haven't been able to identify a cause for this, both apps have the exact same set of widgets and data @gioman ?

[2017-05-22 11:15] #373 closed

[2017-05-22 11:29] bartvde commented on #365
Probably yes, I agree

Alternatively we could not set crossOrigin: 'anonymous' in those cases

[2017-05-22 13:43] gioman commented on #381
@bartvde no differences: click preview in simple mode then click again in tabbed mode. Then try the same app in two tabs of the same browser.

[2017-05-23 15:02] gioman commented on #365
@bartvde whatever can result in less confusion for users. I personally think strange (as user) I cannot add a whataver WMS Mapserver layer, but is that is not possible then block them.

[2017-05-23 16:42] bartvde commented on #385
appears the token was cached

[2017-05-23 16:43] bartvde commented on #382
We have a new design for the Query tool in SDK, but it hasn't been implemented, but it will resolve this. Won't happen in this round though.

[2017-05-23 17:54] luipir commented on #385
cache now is cleaned every launch of plugin

I'll close this issue, please @gioman feel free to reopen in case the issue remain

[2017-05-23 17:54] #385 closed

[2017-05-23 17:55] bartvde commented on #345
added to SDK with: https://github.com/boundlessgeo/sdk/pull/511 option is called disableEdit and set to true if you don't want a layer to be editable

@volaya can you do the WAB side?

[2017-05-24 06:26] SrNetoChan commented on #363
@volaya can you confirm that this can be closed? If I recall, you said that this should be related to the fact that we are using the plugin directly by cloning the project and running paver setup, and not from a repo?

[2017-05-24 09:35] #377 closed

[2017-05-24 12:20] volaya commented on #363
yes, that's it

to make it work from github, you have to run `paver builddocs` and then copy the resulting docs folder into the webappbuilder folder (that's what the package task does)

I just checked that doing that it works fine (and using the packaged plugin also works ok)

[2017-05-24 12:20] #363 closed

[2017-05-24 12:27] poogzilla opened #395 "Missing Metadata File"
When I try to enable the webappbuilder in Boundless QGIS, I get an error saying that there is a missing metadata file.  I downloaded the ZIP from this repository and placed it in my .qgis/python/plugins folder and got the same result.

[2017-05-24 12:39] volaya commented on #395
Hi,

that's not the way of installing the plugin from sources. Please, follow the instructions on the readme file (in the landing page of the github repo)

[2017-05-24 12:39] #395 closed

[2017-05-24 18:41] gioman commented on #321
still

![screenshot_20170524_190905](https://cloud.githubusercontent.com/assets/1951107/26419900/050708ae-40b9-11e7-86b4-fc9cf627d2c2.png)

[2017-05-25 16:23] #384 closed

[2017-05-25 16:27] gioman opened #396 "Compiled webapps in tester plugin (manual tests) are blank"
Firebug says

"NetworkError: 404 Not Found - http://localhost/build/app-debug.js"
app-debug.js
"NetworkError: 404 Not Found - http://localhost/loader.js"
loader.js
"NetworkError: 404 Not Found - http://localhost/build/app-debug.js"
app-debug.js
ReferenceError: ol is not defined

examples attached.

Compiling webapps from WAB (not tester plugin) seems ok.

[compiled.zip](https://github.com/boundles

[2017-05-25 16:38] gioman opened #397 "cannot install plugin from dev repo"
message is

`
Plugin installation failed:Failed to unzip the plugin package. Probably it's broken or missing from the repository. You may also want to make sure that you have write permission to the plugin directory: C:/Users/boundless/.qgis2/python/plugins`

other plugins can be installed normally (from dev repo)

the plugin folder is created, upon QGIS restarts WAB is tagged is invalid as missin

[2017-05-25 17:06] gioman commented on #312
fixed.

[2017-05-25 17:06] #312 closed

[2017-05-26 13:11] #396 closed

[2017-05-26 13:11] gioman commented on #396
won't fix. Testes changed.

[2017-05-29 11:03] bartvde commented on #321
@gioman you mean the titles in the layer list?

[2017-05-29 11:18] gioman commented on #321
@bartvde yes

[2017-05-29 11:28] bartvde commented on #321
ok I can reproduce, thanks

[2017-05-29 14:16] bartvde commented on #321
ticketed as SDK-544

[2017-05-30 11:37] gioman commented on #397
@volaya this is still an issue that of course must be solved if we want to release the plugin :) adding here in cc @elpaso even if it will not be very happy :)

[2017-05-30 11:40] gioman opened #398 "test "Web App Builder-Verify stop compilation with EnterpriseTestDesktop user" fails"
The functionality to stop the compilation works as expected.

The manual test in tester plugin fails with a python error:

[code]

[2017-05-30 11:42] gioman commented on #398
if I first stop, then click on "next step" the test fails with a slightly different error:

[code]

[2017-05-30 11:56] gioman opened #399 "Raster missing from Chrome, blank webapp on IE 11, ok on FF"
Among the manual tests in the tester plugin there is one about adding a raster with nodata, and the test warns that the nodata will look transparent only on FF, and this works as expected.

Less expected is that the same webapp in Chrome does not show the raster at all, and even problematic that on IE11 the webapp is a no show and I have seen the browser even crash (windows 7).

[8ff0d7ceb9e54e3d9

[2017-05-30 11:57] gioman opened #400 "Document that rasters "nodata" will look transparent only on FF"
If is already done then please close the ticket (I didn't find any mention about the matter in the plugin docs).

[2017-05-30 12:04] gioman opened #401 "better wording for test "verify wrong SDK service URL""
In the test is asked to do a webapp preview.... but with the preview th wrong SDK url is not checked... the user must click on "create".

[2017-05-30 12:06] #400 closed

[2017-05-30 12:48] SrNetoChan commented on #397
Since this is a very strange issue, maybe we should try putting it in another repo just for tests? maybe the Beta one?

[2017-05-30 12:51] bartvde commented on #399
in Chrome I see: ```ncaught DOMException: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The canvas has been tainted by cross-origin data.```

so likely doesn't work in file urls

[2017-05-30 12:54] bartvde commented on #399
yeah confirmed it works in Chrome on http:// will look at IE now

[2017-05-30 12:58] bartvde commented on #399
works fine in my IE 11 (win 8.1) VM over http

![selection_281](https://cloud.githubusercontent.com/assets/319678/26584263/7b9b2354-4548-11e7-94a7-74cb8059e198.png)

[2017-05-30 13:08] gioman opened #402 "Document that previews of webapps are better always be seen when published with a (local) web server"
see: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/399

otherwise there will be previewed webapps **that won't work**, and the blame will drop on WAB.

[2017-05-30 13:08] gioman commented on #399
closed in favor of https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/402

[2017-05-30 13:08] #399 closed

[2017-05-30 13:09] luipir commented on #398
I'll give a look

[2017-05-30 13:16] gioman opened #403 "webapp does not work and makes crash IE11"
Seen trough a web server (apache). This is the webapp as generated by the new manual test (tester plugin) "osm".

[cb8876bcc68d4ea4b4a878b87f078c26.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1038385/cb8876bcc68d4ea4b4a878b87f078c26.zip)

[2017-05-30 13:20] bartvde commented on #403
![selection_282](https://cloud.githubusercontent.com/assets/319678/26585125/85cf1cd8-454b-11e7-8760-60835166d72e.png)

@volaya this looks like yours

[2017-05-30 13:30] gioman commented on #402
another example is the printing widget: the legend is only shown if webapp is seen via web server, but the preview is enough, not necessary to compile. With no web server, no legend.

[2017-05-30 13:37] gioman opened #404 "test "symbology test: polygons" cannot find the datasources"
if the datasources are setup manually then the test continues correctly

![screenshot_20170530_115307](https://cloud.githubusercontent.com/assets/1951107/26585880/64995912-4545-11e7-9fcb-f1701374af0b.png)

[2017-05-30 13:43] gioman opened #405 "test "Symbology test: points" cannot find datasource then fails"
![screenshot_20170530_114519](https://cloud.githubusercontent.com/assets/1951107/26586162/3bc46a08-4546-11e7-8cf0-e0f73cbe5828.png)

not even pointing manually to the datasource works

![screenshot_20170530_114749](https://cloud.githubusercontent.com/assets/1951107/26586173/44f1a2f8-4546-11e7-90c5-b357390caaf4.png)

then the test fails

[code]

[2017-05-30 13:45] gioman commented on #405
@volaya same things for test "points2"

[code]

[2017-05-30 13:46] SrNetoChan commented on #402
I think it is not good to suggest the user to always serve their previews because this goes against the general idea of the plugin and WDK service. which is to be used by "normal" folks.

I would rather mention this in the trouble section area for these two particular cases. @volaya @gioman what do you think?

[2017-05-30 13:50] luipir commented on #398
fixed test with 2cd59a6d627291ade2478a77aa216f8e905d0869 please reopen if you finjd problems

[2017-05-30 13:50] #398 closed

[2017-05-30 14:07] volaya commented on #402
Yes, better to just document those widgets that need to be served

On Tue, May 30, 2017 at 3:46 PM, Alexandre Neto <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-05-30 14:09] bartvde commented on #402
I agree @SrNetoChan

[2017-05-30 14:24] luipir commented on #404
fixing project that wasn't relative

[2017-05-30 14:26] luipir commented on #404
fix with  6bb4213

[2017-05-30 14:26] #404 closed

[2017-05-30 14:26] luipir commented on #405
doing it relative

[2017-05-30 14:29] gioman commented on #265
@SrNetoChan this afaik also applies to wms (cors).

[2017-05-30 14:35] gioman opened #406 "all "OpenWeather*" overlay maps are a no show"
Tested on a compiled webapp seen using a web server (apache).

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1038662/webapp.zip)

[2017-05-30 14:38] SrNetoChan commented on #365
Meanwhile, I will document this limitation in the troubleshooting section.

[2017-05-30 14:42] luipir commented on #405
@gioman I can't confirm :( if works for me!

[2017-05-30 14:45] gioman commented on #405
@luipir are you on windows?

[2017-05-30 14:52] gioman opened #407 ""draw feature" stopped to work"
Compiled webapp, seen using apache on the 3 major browsers

![no_edit](https://cloud.githubusercontent.com/assets/1951107/26589441/fd138d84-454f-11e7-81ca-b608619e5084.gif)

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1038708/webapp.zip)

[2017-05-30 14:55] bartvde commented on #406
I don't know much about this tile source so probably for @volaya

[2017-05-30 14:56] luipir commented on #405
no

[2017-05-30 15:38] gioman commented on #405
@luipir then it doesn't count :)

[2017-05-30 15:39] #402 closed

[2017-05-30 15:45] luipir commented on #405
I'll give a try tomorrow on a win setup

[2017-05-30 16:08] gioman opened #408 "issue with editing WFS-T layers"
WFS-T seems to work in general (unlike now the simple "draw feature" widget), but there is an issue:

if the user fill an attribute with a value that does not match the column (for example uses text in a column that is numeric) then on save the error message shows

![screenshot_20170530_170405](https://cloud.githubusercontent.com/assets/1951107/26592953/4af1dfe2-455a-11e7-8fd9-d247a5196dd6.png)

a

[2017-05-30 16:14] gioman commented on #407
it affects also "add layer > create new layer"

[2017-05-30 16:41] gioman opened #409 "Compiled webapp is a no show"
I previewed and compiled the webapp based on the (complex) project of the "osm" manual test (tester plugin). The preview is ok, both directly and also via Apache, while the compiled version is a no show. Attached both.

[df145bfbdd2e435c94149744f5af27b8.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1039050/df145bfbdd2e435c94149744f5af27b8.zip)

[webapp.zip](https://github.co

[2017-05-30 16:54] gioman commented on #407
as said editing for wfs-t works fairly well, but the moment a layer is added via "add layer > create new layer" then is also not possible anymore to edit wfs-t layers.

[2017-05-30 16:59] gioman opened #410 "Can't see anymore a way of editing/changing existing WFS-T features"
I maybe be tired, in case just close if I'm missing the obvious.

[2017-05-30 17:02] gioman commented on #410
I have seen the obvious.

[2017-05-30 17:02] #410 closed

[2017-05-31 05:36] volaya commented on #403
The app in that zip file works perfectly with no error in the js console, both if i open it directly or if i serve ir (using python SimpleHTTPServer)

How do you get that error, @bartvde

Line 410 is correct, but apparently missing a semicolon at the end. I I fixed that. Maybe your browser (I am using Chrome) is less tolerant to that?

[2017-05-31 07:13] gioman commented on #403
@volaya possibly, this report is specific for IE11, on other browsers (FF, Chrome) is ok.

[2017-05-31 08:14] bartvde commented on #408
yeah we don't have any client-side validation right now, but re-submitting should be possible I'll look into that

[2017-05-31 08:17] bartvde commented on #407
I will investigate today

[2017-05-31 08:27] bartvde commented on #409
this is what @volaya is fixing right now
![selection_286](https://cloud.githubusercontent.com/assets/319678/26622786/c2909124-45eb-11e7-8105-9e4377f91e1e.png)

[2017-05-31 08:39] bartvde commented on #403
right this was IE, and IE is sensitive to that

[2017-05-31 08:40] bartvde commented on #403
so probably needs to be retested on WAB master right?

[2017-05-31 08:53] volaya commented on #381
Moved to OSX and I can confirm this now. It's slow like hell, even with a tiny layer

[2017-05-31 08:59] bartvde commented on #381
in chrome or safari? can you send me the app?

[2017-05-31 09:01] volaya commented on #409
should be fixed now

@gioman let me know if you still see issues. The problem was with curved labels that follow lines, so you can try with the osm or the labels test projects

[2017-05-31 09:10] bartvde commented on #408
![selection_287](https://cloud.githubusercontent.com/assets/319678/26624644/c9c881e4-45f1-11e7-9e53-6eab9fd4fb81.png)

[2017-05-31 09:17] bartvde commented on #381
also can you guys reproduce this in our tabbed example?
http://boundlessgeo.github.io/sdk-apps/tabbed/#map=9783.93962050256/-16839563.6/8850169.51/0

[2017-05-31 09:21] bartvde commented on #408
ah I see what is happening, it's transforming a polygon to a multipolygon twice

[2017-05-31 10:38] gioman commented on #409
@bartvde @volaya sorry is not solved. Using latest revision code.

![screenshot_20170531_111948](https://cloud.githubusercontent.com/assets/1951107/26628353/a0524f76-45f5-11e7-9d1d-96a271049e84.png)

[ea1c2f297a084d74aa59687c264e457a.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1041057/ea1c2f297a084d74aa59687c264e457a.zip)

[webapp.zip](https://github.com/boundlessgeo/qgis-

[2017-05-31 10:40] gioman commented on #403
@bartvde just retested, no changes. Morever now it does not work anymore on FF and Chrome.

[webapp.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1041109/webapp.zip)

[ea1c2f297a084d74aa59687c264e457a.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1041110/ea1c2f297a084d74aa59687c264e457a.zip)

see https://github.com/boundlessgeo/qgis-webappbuilder-plugi

[2017-05-31 10:55] #408 closed

[2017-05-31 11:01] bartvde commented on #409
![selection_288](https://cloud.githubusercontent.com/assets/319678/26629142/4f73ef18-4601-11e7-822e-109f513298fa.png)

[2017-05-31 11:02] gioman commented on #409
is a tip for @volaya ? :)

[2017-05-31 11:04] gioman commented on #408
@bartvde if I do "paver setup --master" I should e able to test this, right? at least on previews, right?

[2017-05-31 11:07] bartvde commented on #409
code is missing a lot of var keywords

[2017-05-31 11:09] bartvde commented on #409
ruleStyles, matchFound, geom, offset, x and y are missing var keyword

[2017-05-31 11:10] volaya commented on #409
all fixed now. Please retry

[2017-05-31 11:10] bartvde commented on #409
see: https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/cc8536338a6336052364ec0d213f3822d8af8f1a

[2017-05-31 11:22] bartvde commented on #408
right

[2017-05-31 11:28] gioman commented on #409
seems fixed.

[2017-05-31 11:28] #409 closed

[2017-05-31 11:30] gioman commented on #403
@bartvde @volaya even with changes that fixed https://github.com/boundlessgeo/qgis-webappbuilder-plugin/issues/409 this is a no go

![screenshot_20170531_122406](https://cloud.githubusercontent.com/assets/1951107/26630024/df507796-45fc-11e7-931b-c5afc4b70fdf.png)

[58fc04d67b1c4d1cb96fc9eece1f641a.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1041289/58fc04d67b1c4d1cb96fc9ee

[2017-05-31 11:34] bartvde commented on #403
ok checking your zips

[2017-05-31 11:36] bartvde commented on #403
yeah I get the same in IE11

[2017-05-31 11:38] bartvde commented on #403
can we pinpoint this somehow to some of the functionality @gioman I wonder if it's caused by the rendering extensions or something else

[2017-05-31 11:39] gioman commented on #403
the webapp has no widgets, overlays or basemaps active.

[2017-05-31 11:39] bartvde commented on #403
can we check a project without the rendering extensions in it?

[2017-05-31 11:39] bartvde commented on #403
@volaya this is only added in the basic theme right?

[2017-05-31 11:40] gioman commented on #403
I have checked several simple projects and beside a few glitches/problems (see layer list) they worked on IE11.

[2017-05-31 11:41] bartvde commented on #403
@gioman can you check this exact same project with the tabbed theme?

[2017-05-31 12:00] bartvde commented on #403
it's caused by the pattern fills based on svg

[2017-05-31 12:00] gioman commented on #403
@bartvde so no need to test the tabbed version?

[2017-05-31 12:07] gioman commented on #403
@bartvde @volaya trying to compile this project in tabbed mode fails:

[code]

[2017-05-31 12:18] gioman commented on #408
fix confirmed using sdk master on a webapp preview.

[2017-05-31 12:27] gioman commented on #381
@bartvde what's wrong with this tabbed webapp?

[2017-05-31 12:37] bartvde commented on #403
can you attach the app.jsx file?

[2017-05-31 12:38] bartvde commented on #403
can you attach the app.jsx file?

[2017-05-31 12:40] bartvde commented on #381
@gioman I mean is that slow for you as well?

[2017-05-31 12:56] volaya commented on #403
This can be fixed by exporting svgs to pngs like we do for markers. However, this might not be ready for release, so I suggest leaving it like that and documenting this limitation (svg pattern fills + IE).

I have opened a JIRA ticket to address this later and not forget about it

@SrNetoChan what o you think?

[2017-05-31 13:15] gioman commented on #403
@bartvde attached

[app.jsx.zip](https://github.com/boundlessgeo/qgis-webappbuilder-plugin/files/1041612/app.jsx.zip)

[2017-05-31 14:09] gioman commented on #405
@volaya @luipir same issue on macOS, for what it matters.

[2017-05-31 14:31] gioman opened #411 "the "about" widget would probably be better a little more up in the webapp"
this is how it looks on chrome on a macbook

<img width="1280" alt="screen shot 2017-05-31 at 3 29 56 pm" src="https://cloud.githubusercontent.com/assets/1951107/26636974/1f6f3a10-4616-11e7-87f2-9b4856ab719a.png">

[2017-05-31 14:41] bartvde commented on #407
I cannot reproduce this in quickview, is this in compiled apps only?
@gioman can you attach a zip file otherwise?

[2017-05-31 14:48] SrNetoChan commented on #265
@gioman I added this sentence in Documentation, do you think it is enough?

https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/ff2b0038cf25a89e455fb7ad501fcc894df16496#diff-28cac0daa4f3247ebdb9ecd3181bde2aR59

[2017-05-31 14:50] SrNetoChan commented on #403
@volaya I have documented in here:

https://github.com/boundlessgeo/qgis-webappbuilder-plugin/commit/47b41b1b580dc4b4a930104eee623992034714e8

Is it ok?

[2017-05-31 15:07] bartvde commented on #403
ah looks to be the trailing frontal comma on the tablist:

[code]

[2017-05-31 15:08] bartvde commented on #403
no sorry it's this line:

```this.leftNavClose.bind(this})``` will fix in WAB

[2017-05-31 15:24] bartvde commented on #381
so the tabbed app on gh-pages doesn't give the same slow behaviour as the WAB generated one @gioman ?

[2017-05-31 15:28] gioman commented on #407
@bartvde sending you a cast and webapps on slack

[2017-05-31 15:31] gioman commented on #381
@bartvde hard to say. I would need to publish the locally WAB generated weapps on gh-pages or try run your webapp application here locally, then compare.

[2017-05-31 17:08] gioman commented on #411
is also true that if the browser is put in "full screen" (so covering also the bottom bar) it is ok... so this probably better be closed, up to you.

[2017-05-31 17:59] gioman opened #413 "Opening directly (not using a web server) a compiled webapp do not show layers on Chrome on macOS (but is ok on FF and Safari)"
Minor issue... but may be worth a note on docs at least... if not a fix.

[2017-05-31 18:09] gioman opened #414 "tests (tester plugin) problems under macOS"
1) Web App Builder-Verfiy compilation timeout due to local settings > the test do no created the expected timeout

2) in the last batch of manual tests the WAB interface is brought in front of QGIS main windows, but this on macOS cannot be moved.... covering the dock/bar where the description/steps/buttons of the test are, so making if hard to do. For example the last test implies to click on "nex

[2017-06-01 00:00] SrNetoChan commented on #413
@giovanni throughout the documentation It is mentioned several times that compiled Apps must be server otherwise they might not work properly. Do you think we should be more specific?

[2017-06-01 07:29] bartvde commented on #321
should be fixed in SDK master

[2017-06-01 07:29] #321 closed

[2017-06-01 07:33] bartvde commented on #413
a fix is not possible, Chrome disables XHR over file://

[2017-06-01 07:34] bartvde commented on #413
though maybe we could document something like this: https://stackoverflow.com/questions/4819060/allow-google-chrome-to-use-xmlhttprequest-to-load-a-url-from-a-local-file

[code]
chrome.exe --allow-file-access-from-files
[code]

[2017-06-01 08:49] #407 closed

[2017-06-01 09:34] gioman commented on #413
@SrNetoChan  @bartvde if I'm not wrong this case is specific on macOS, I'm pretty sure I can see well compiled weapps by opening directly the index file on Chrome on Windows.

[2017-06-01 09:34] bartvde commented on #413
I think I've seen the same on Linux, not sure about Windows since I don't run that

[2017-06-01 09:35] bartvde commented on #413
btw what type of layers? I'm talking about local GeoJSON layers

[2017-06-01 09:36] gioman commented on #413
yes me too

[2017-06-01 09:51] SrNetoChan commented on #413
I can recall why, or when, but we already mention in several places that compiled versions should always be served and not opened directly. See:

here https://connect.boundlessgeo.com/docs/desktop/plugins/webappbuilder/usage.html#create-app
and here https://connect.boundlessgeo.com/docs/desktop/plugins/webappbuilder/troubleshooting.html#compiled-app-is-empty

Are you saying that this only true for

[2017-06-01 09:52] gioman commented on #413
then we are good.

[2017-06-01 09:52] #413 closed

[2017-06-05 06:01] volaya commented on #405
Working fine here in OSX. I see that the paths in the project are relative, so it should open correctly...

[2017-06-05 11:02] gioman commented on #405
![test_wa](https://cloud.githubusercontent.com/assets/1951107/26781469/993efe4c-49e6-11e7-8593-4d96d8082cc4.gif)

[2017-06-27 16:00] SrNetoChan opened #415 "Attribute "Only show selected" option does not work if there is a filter expression"
The Only show select does not work if you have filter expression set beforehand.

To reproduce:
- open a app with a vector layer (attibutetable.qgs will do)
- open the attribute table
- Set a filter to hide some records
- From that list select some records
- Enable the "Only show select".

You  will notice that some of the unselected records are still vidible in the table

[2017-06-27 16:04] bartvde commented on #415
This is very likely in SDK

[2017-06-27 19:29] #415 closed

[2017-06-27 22:23] SrNetoChan opened #417 "Geocoding button disappear in EDGE if location is not enable on Win 10 machine"
When I click the geolocation button using EDGE I get a message saying the following:
![image](https://user-images.githubusercontent.com/3607161/27612550-f74a3330-5b8e-11e7-8b97-7a113e3d5276.png)

At the same time, the geolocation button just disappears.

Clicking the open settings button send me here:

![image](https://user-images.githubusercontent.com/3607161/27612618-494bb92e-5b8f-11e7-8663-3b23

[2017-06-27 22:49] SrNetoChan opened #418 "After removing measurements the navigate mode button does not show as active"
![anim](https://user-images.githubusercontent.com/3607161/27613360-0a51577a-5b93-11e7-95e3-cf75814afa0b.gif)

[2017-06-27 22:53] SrNetoChan commented on #210
Maybe a job for @KentPorter-Boundless

[2017-06-27 23:37] SrNetoChan opened #419 "Point Symbol Diferences in browsers"
this was get with the points test

Left is QGIS 2.18.10, right is resulting App in EDGE

![image](https://user-images.githubusercontent.com/3607161/27614311-b3015b68-5b98-11e7-94fb-0646e7164441.png)

From to to bottom:
- square renders as a circle
- the symbol looks stretched in QGIS
- Dash border not showing in Browser
- SVG symbols appear in QGIS with a huge black ouline (this is probably a prob

[2017-06-28 00:02] SrNetoChan opened #420 "Symbol differences OSM and polygon tests"
Sorry for rough drawings
QGIS on the left, EDGE (or any other) on the right

![image](https://user-images.githubusercontent.com/3607161/27614945-b1c81364-5b9c-11e7-87b2-b797b06ea9df.png)

1 - The label expressions CASE WHEN is not honored and all labels are printed even if filed is NULL
2 - Font looks Italicized and in QGIS is not (I think this is some open layers limitation if I recall)
3 - sizes

[2017-06-28 00:18] SrNetoChan opened #421 ""Arrows" test returns and empty app"
If I open the console I can read the following Errors:

![image](https://user-images.githubusercontent.com/3607161/27615384-a6ea18a4-5b9f-11e7-9723-c6605a9af7de.png)

[2017-06-28 06:28] volaya commented on #418
This is SDK issue. Should be addressed by @bartvde

[2017-06-28 06:35] volaya commented on #421
Does it happen only in IE? Cannot reproduce this, it seems to open fine here in Chrome and FF

Also, the expected app that opens as well to compare...does it work?

[2017-06-28 06:38] SrNetoChan commented on #421
No, it was not ie/edge specific. Actually those error messages were taken from firefox.

[2017-06-28 09:16] SrNetoChan commented on #420
Comparing the OSM test app with the expected one:

![image](https://user-images.githubusercontent.com/3607161/27629629-de595f7a-5bea-11e7-816b-e0b5a0f0d1e6.png)

[2017-06-28 09:18] SrNetoChan commented on #420
Same for Polygons:
![image](https://user-images.githubusercontent.com/3607161/27629713-2186f0c8-5beb-11e7-8478-eeda07759de7.png)

[2017-06-28 10:34] SrNetoChan opened #422 "WAB is frozen temporarily when user login with WAB Opened"
To reproduce:
 - open WAB without entering your conenct credentials
- try to create/compile the app
(it will complain that you need to log in into connect
- Login in connect without closing WAB
- Click the CReate App again

Nothing happens, and WAB seems to freeze for a while, I needed click the close button several times until it closes the window.

[2017-06-28 11:29] volaya commented on #420
This should all be fixed

Except for the svg fill size...which is a known limitation and is related to the change in how those fills are handled, in order to be compatible with IE

[2017-06-28 11:30] volaya commented on #421
Should be fixed now, please retest and confirm

[2017-06-28 11:32] volaya commented on #419
All should be fixed except:

2) it's an alignment issue,  probably tricky to fix. I guess it's something we can assume

5) Circles are being drawn by OL3, so looks like the problem is on the OL side

[2017-06-28 12:58] bartvde commented on #417
on geolocation error we hide the button indeed

so what is the issue here? I think this is by design

[2017-06-28 12:59] bartvde commented on #418
We cannot fix this currently unfortunately, we cannot re-enable the previous active tool since that leads to the react warning that you cannot dispatch an action before the old one is finished

[2017-06-28 13:43] SrNetoChan opened #423 "layers project is not compiling"
[code]

I believe this is something that this is the same error that is giving in a bunch off other manual tests

[2017-06-28 13:49] luipir commented on #423
I suppose has the same origin of the issue fixed here:
https://github.com/boundlessgeo/qgis-geoserver-plugin/issues/85

IMHO It's necessary to investigate the loose of module reference during runtime

[2017-06-28 14:28] SrNetoChan commented on #423
This is happen in any app if you add a geocoding widget.

[2017-06-28 14:47] SrNetoChan opened #424 "Not able to configure controls"
Trying to configure an widget on WAB (Windows 10 BD.1.1_RC6) throws  the following error.

[code]

[2017-06-28 15:12] volaya commented on #423
as Luigi says, this is not a problem of the plugin. It seems that some imports get lost... QGIS problem or Desktop one, something in the Python bindings...

[2017-06-28 16:21] volaya commented on #418
I guess this can be closed, then

[2017-06-28 16:21] #418 closed

[2017-06-28 21:57] SrNetoChan opened #425 "Timeline widget documentation needs to be updated"
![image](https://user-images.githubusercontent.com/3607161/27662300-2a329ce4-5c55-11e7-9c8f-dcd1d6f8a938.png)

[2017-06-28 22:09] wnordmann commented on #425
https://boundlessgeo.github.io/sdk/book/api/Playback.html
What's missing?

[2017-06-28 22:28] SrNetoChan commented on #425
@wnordmann I meant WAB documentation. Seems that the looks of the widget have changed.

[2017-06-28 22:29] SrNetoChan commented on #425
here: https://connect.boundlessgeo.com/docs/desktop/plugins/webappbuilder/controls.html#timeline

[2017-06-29 06:29] SrNetoChan commented on #417
If it's by design, let's close it

[2017-06-29 06:29] #417 closed

[2017-07-03 15:13] #419 closed

[2017-07-03 15:15] SrNetoChan opened #426 "Basemaps layers are indented even when they are not grouped"
You deselect the option to group basemap layers, they will show in the layers list indented anyway. Not sure if this is the intended behaviour.

![image](https://user-images.githubusercontent.com/3607161/27798821-9b68cfce-600a-11e7-9b35-106bead435fa.png)

[2017-07-03 16:23] SrNetoChan opened #427 "in tabbed mode, tools names are not consistent"
![image](https://user-images.githubusercontent.com/3607161/27801086-1bbea910-6014-11e7-8621-8b47c8610261.png)

As can seen on the above image, "Geocoding" as a capital "G" in the begining, while "layers" does not use a capital "L"

[2017-07-03 16:55] SrNetoChan commented on #420
Fixed!

[2017-07-03 16:55] #420 closed

[2017-07-03 23:02] SrNetoChan commented on #423
What to do with this one? I can't reproduce it in a systematic way.

[2017-07-03 23:02] SrNetoChan commented on #421
Fixed

[2017-07-03 23:02] #421 closed

[2017-07-03 23:03] SrNetoChan commented on #424
I can't reproduce it anymore...

[2017-07-03 23:03] #424 closed

[2017-07-04 06:54] luipir commented on #423
a questions, do you do any plugin reload?

[2017-07-04 07:00] SrNetoChan commented on #423
I normally reload QGIS after a fresh install of plugins. Not sure if that was the case with WAB when I had that problem. Do you want me to try not reloading WAB before I run the test? To see if something happens?

[2017-07-04 08:31] #427 closed

[2017-07-04 09:09] luipir commented on #423
ok, so plugin reload is not the problem... for me it's still a mistery. Btw I've way to investigate... after the end of tests

[2017-07-04 09:10] luipir commented on #423
that is important is a reproducible case to investigate the origin of the problem

[2017-07-13 14:33] dustinturp opened #428 "Uncaught ImportError: No module named networkaccessmanager"
Couldn't load plugin webappbuilder due to an error when calling its classFactory() method
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]

webappbuilder 1.0, QGIS 2.18.10 on Darwin 16.6.0

[2017-07-18 06:26] rifkifau opened #429 "Ask about Mouse Position Tool"
Can Mouse Position tool show elevation information of DEM layers?

[2017-07-18 08:16] luipir commented on #429
is it a local raster/DEM or a DEM served as WCS. BTW It's a good feature proposal. In this moment pick is managed per layer using popups but only for vectorials.
IMHO you can convert this from issue to feature request.
Tnx @rifkifau

[2017-07-18 08:49] gioman commented on #429
edited the title and labeled as enhancement.

[2017-07-18 12:04] gioman commented on #428
Hi, sorry for late reply, I investigated a bit and with the help of Desktop team I understand that at this moment because of developments in the qgiscommons library there could not be a mix of plugins installed from Boundless DEV repo and from users repo. Try remove any plugin installed from DEV repo, disabled the DEV repo and try install again WAB from users repo.

[2017-10-17 11:55] gioman opened #430 "python error when compiling webapps on master"
TypeError: must be string or buffer, not None
Traceback (most recent call last):
  File "C:/Users/boundless/.qgis2/python/plugins\webappbuilder\appwriter.py", line 244, in
    __anam.reply.finished.connect( lambda: manageFinished(__anam, zipFileName, folder, progress) )
  File "C:/Users/boundless/.qgis2/python/plugins\webappbuilder\appwriter.py", line 174, in manageFinished
    newZipContent.write

[2017-10-17 13:06] luipir commented on #430
having problem following log with BL Desktop 1.1.1. DebugView shows a lot of event noise and seems not follwing the QGIS_DEBUG level showing les messages than that shown in linux version.
Having also hardware problem with mac, no charging => I'll check with a second charger.

[2017-10-17 13:43] gioman opened #431 "Show a nice warning message when Connect is not installed"
Instead of:

Traceback (most recent call last):
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/webappbuilder_plugin.py", line 83, in run
    utils.resetCachedToken()
  File "/home/giovanni/.qgis2/python/plugins/webappbuilder/utils.py", line 208, in resetCachedToken
    from boundlessconnect import connect
ImportError: cannot import name connect

[2017-10-17 13:45] luipir commented on #431
a proposal. in case connect is not installed the BuildApp can be disabled. Is it feasible?

[2017-10-17 13:46] gioman commented on #431
sounds good to me.

[2017-10-17 13:53] luipir commented on #431
@gioman can you modify utils.py the funcion resetCachedToken with and see if the exception is sill intercepted?

def resetCachedToken():
    global __cachedToken
    __cachedToken = None
    try:
        from boundlessconnect import connect
    except:
        pass
    else:
        connect.resetToken()

[2017-10-17 13:55] luipir commented on #431
the message is generally gentle getting the tocken... the exception is raised on ly during toker regeneration => expiration

[2017-10-17 13:56] volaya commented on #431
I think better to show a message saying htat connect is required, instead
of disabling the button

Reason for this is that the user wint figuerut hat is disabled, and even if
he installs connect, he will have to reload QGIS for that to take effect.
If we just show a mesage telling to install Connect in case there is an
exception, that provides UX

If you agree, i can add that

On Tue, Oct 17, 2017

[2017-10-17 13:58] luipir commented on #431
@volaya +1

[2017-10-18 08:25] luipir commented on #430
I'll resolve charger problem in the late evening => I can't work on this today

[2017-10-18 09:00] #431 closed

[2017-10-18 10:59] luipir commented on #430
@volaya should be fixed?

[2017-10-18 11:29] volaya commented on #430
yes, seems to be working fine now

On Wed, Oct 18, 2017 at 12:59 PM, Luigi Pirelli <notifications@github.com>
wrote:

--
Victor Olaya
Software Engineer | Boundless <http://boundlessgeo.com/>
volaya@boundlessgeo.com
@boundlessgeo <http://twitter.com/boundlessgeo/>

[2017-10-27 08:52] leopoldvili opened #432 "This plugin is broken Missing metadata file"

[2017-10-27 08:55] luipir commented on #432
@leopoldvili did you followed the installation instructions in https://github.com/boundlessgeo/qgis-webappbuilder-plugin ?

[2017-10-27 08:57] leopoldvili commented on #432
yes, I did. but unfortunately I couldn't mange to install this version.

[2017-10-27 09:22] luipir commented on #432
are you trying to install from source?

[2017-10-27 09:31] leopoldvili commented on #432
No, I downloaded as zip.file and copied unzip file to the directory as it was mentioned  in the instruction.
[your_user_folder]/.qgis2/python/plugins.

 I will try with source now.  Thank you

[2017-10-27 09:40] luipir commented on #432
no, it's ok how you did... probably you added a path more... this have to be the result after unzip

.qgis2/python/plugins/webappbuilder/

in this path you have to find the metadata.txt

[2017-10-27 10:25] leopoldvili commented on #432
Still not working. This Couldn't load plugin webappbuilder due to an error when calling its classFactory() method -ImportError: No module named pubsub

[2017-10-27 10:28] luipir commented on #432
hmmmm... that's probably an error packaging the the zip
I suggest you to do from source. the "paver setup" will package pubsub with the plugin (plus other libs)
then "paver install" will create link of the plugin into .qgis2/python/plugins.

a workaround is to install pubsub with pip, but better to use the paver setup

[2017-10-27 10:30] luipir commented on #432
I strongly suggest, before to do paver istall to remove the old .qgis2/python/plugins/webappbuilder/ path

[2017-10-27 13:49] luipir commented on #432
@leopoldvili any news? can we close this issue and eventually open a new one related with lack of pubsub?

[2017-10-27 13:58] leopoldvili commented on #432
Thank you luipir.
With  Git bash (Git-2.14.3-) I made a clone of repository and then I got stuck with paver setup- bash: paver: command not found
Do I need any prerequisite installation?

[2017-10-27 14:02] luipir commented on #432
pip install paver
paver is a packager, it is not part of the plugin

[2017-10-30 15:23] leopoldvili commented on #432
Hello @luipir  again, I have now  the packager, but  still cannot install paver- I got this error"
Build failed running pavement.install: Subprocess return code: 1"

Howewer, I can run Paver setup it works with small error  and creates extlibs folder with pupsub- and etc.

Do u know anything about mentioned error   ?? (paver install error)

Thank you in advance

[2017-10-30 15:29] luipir commented on #432
@leopoldvili no :( especially you should give more details for the error... command, results and so on.
you were not aqble to install paver but you used paver?

[2017-10-30 15:37] leopoldvili commented on #432
Yes, Paver setup works somehow and with install i got the error. Anyway, thank you.

[2017-10-30 18:53] luipir commented on #432
@leopoldvili may we close the tiket and eventually open a new one focused on the problems you had?

[2017-10-30 21:45] leopoldvili commented on #432
Finally, I managed I was missing sphinx and had some SSL certificate problems.
Yes, please we can close this ticket.
Thanks a lot.

[2017-10-30 22:01] luipir commented on #432
tnx

[2017-10-30 22:01] #432 closed

[2019-06-27 11:50] caduguedess opened #434 "paver setup error"
Hi, I'm trying to install WAB following these commands:
in cmd: `pip install paver`
in Git Bash: `git clone --recursive http://github.com/boundlessgeo/qgis-webappbuilder-plugin.git`
in Git Bash: `git submodule update --remote`
 with no error
But when I do the next command:
in cmd: `paver install`
either in cmd or Git Bash it gives me the following error:
[code]

[2019-06-27 13:00] caduguedess commented on #140
So it means that the Web App Builder is a private plugin?

[2019-06-27 13:10] caduguedess commented on #140
So why publish all the code and help people installing it if at the end it wont work because its only for customers of a company that doenst even exist anymore?

[2019-08-08 20:02] etorresmoya opened #435 "Adicionando plugging web app builder desde qgis 2"
Victor buenas tardes, quería pedir un favor, estamos tratando de adicionar el complemento de web app builder para QGIS 2 , descargamos el zip, seguimos las instrucciones, pero al momento de instalar el complemento, pide usuario y contraseña, pidiendo logeo en la página qgis.boundlessgeo.com, pero esta página no responde, por lo tanto no hemos podido probar este complemento que nos parece muy inter

[2020-02-23 13:21] naiyar5j opened #436 "qgis-webappbuilder-plugin-master.zip INSTALLATION"
I am getting the following error while trying to install qgis-webappbuilder-plugin-master.zip:
"An error occurred during execution of following code:
pyplugin_installer.instance().installFromZipFile(r'C:\Users\Naiyar\Downloads\qgis-webappbuilder-plugin-master.zip')

traceback.print_exception() failed

Python version:

QGIS version:
3.4.4-Madeira 'Madeira', f6ddc62fdb

Python path:
"
Kindly help to

[2022-02-11 04:44] MyGIS opened #437 "Is this plugin still being developed?"
Hi, I was wondering if this project was still being developed. Thanks.